[2022-01-14 20:38] kgerheiser commented on #596
Trying to build the tests, but the function call is missing some arguments:

[code]

And compared to the function defintion:

[code]

Looks like it's missing 2 arguments: `zorl` and `hice`.

[2022-01-14 23:14] dmwright526 commented on #596
@kgerheiser Use this hash instead:
https://github.com/ufs-community/UFS_UTILS/commit/2a08859a1a591e3e8297042710bd1a9bf522b6a3

This was before the recent update we had to push through quickly due to wrong initialization of surface roughness length causing the MYNN scheme to crash. It will take me a bit to update the tests and dummy data to include the fields, so this will at least allow to see if

[2022-01-15 16:56] kgerheiser opened #620 "Undefined symbols on macOS with Intel compiler due to common symbols"
This has come up in various libraries before (bufr, upp). Need to add this to the top-level CMakeLists.txt:

[code]

[2022-01-15 17:02] kgerheiser commented on #596
Thanks, I was able to build and reproduce the problem. Intel debug flags didn't catch anything.

[2022-01-18 00:45] mkavulich commented on #616
I have gotten to the bottom of this issue and now fully understand what is happening. A combination of Cheyenne environment changes and the specific build rules within hpc-stack are causing this issue; see https://github.com/NOAA-EMC/hpc-stack/issues/376 for more details

Note: I have applied a hard-fix on disk to the Cheyenne intel module, so this issue should no longer occur for Intel. I have no

[2022-01-18 13:48] GeorgeGayno-NOAA commented on #619
@kgerheiser Is it difficult to make the file downloads a part of the build system?

[2022-01-18 13:54] GeorgeGayno-NOAA commented on #616
Instead of leaving this issue open, would it be better to make a note in the wiki page (https://github.com/ufs-community/UFS_UTILS/wiki) or the readme file (https://github.com/ufs-community/UFS_UTILS/blob/develop/README.md)

[2022-01-18 13:55] edwardhartnett commented on #619
No it is not difficult and should certainly be done. Just make sure to test for the existence of the file before downloading it. Then every user, when building UFS_UTILS, will have a very slow first test run (as the files are downloaded) but then could run all the tests without re-downloading the data.

Actually I thought that's what we were doing already. ;-) @kgerheiser could you please implemen

[2022-01-18 17:06] kgerheiser commented on #619
Yeah, it's pretty easy to do with CMake. I can take a stab at it later today.

[2022-01-20 16:10] DeniseWorthen commented on #143
George, my doxygen build [branch](https://github.com/DeniseWorthen/UFS_UTILS/tree/feature/adddoxygen) fails the debug build action, saying that:

[code]

This module contains two SRs, each of which has an input file name ``fsrc``. How would I fix that?

[2022-01-20 16:25] #574 closed, assigned to GeorgeGayno-NOAA

[2022-01-20 18:42] GeorgeGayno-NOAA commented on #143
@DeniseWorthen This situation occurs in many of our chgres_cube modules. So I don't know why you are having problems. I am unable to reproduce the problem on Hera or WCOSS-Dell, unfortunately. One thing I noticed - your doxygen statements for routine apply_topoedits are placed after the subroutine declaration statement. Move them before that statement and see if that helps.

[2022-01-20 19:33] DeniseWorthen commented on #143
Thanks @GeorgeGayno-NOAA. I'll try that. I'll fix the same issue in other SRs too (first doxygen statements, then subroutine statement).

Another question---do I really need to document each SR w/ me as the author? I followed the chgres example but in that case maybe you do have other authors?

[2022-01-20 20:07] GeorgeGayno-NOAA commented on #143
We want an author for each routine. If you don't know the author, use a point-of-contact as the author. If there are multiple authors, name all of them.

[2022-01-20 22:13] DeniseWorthen commented on #143
Your fix for placing the doxygen block before the subroutine statement worked. I'm now able to build the docs and leave the WARN_AS_ERROR set YES. I'll bring the doxygenated code back to the main branch I'm working from and then start thinking about the unit test.

[2022-01-20 22:15] GeorgeGayno-NOAA commented on #143
Great. That was just a guess.

[2022-01-22 04:18] yangfanglin commented on #123
@GeorgeGayno-NOAA  George, are you still planning to update chgres-Cube for fractional grid ?  The current  process of creating cold start ICs for the coupled model documented in https://github.com/ufs-community/UFS_UTILS/issues/145 is rather clumsy.  (Including @arunchawla-NOAA  and  @shansun6 for their input )

[2022-01-24 14:28] GeorgeGayno-NOAA commented on #123
If this is still a requirement, I can work on it, or help someone else do the work.

[2022-01-24 16:22] yangfanglin commented on #123
@GeorgeGayno-NOAA  Making CHGRES consistent with the fractional grid used by the model is necessary. It also helps streamline the creation of ICs and avoids confusion.  (@arunchawla-NOAA )

[2022-01-25 20:53] MinsukJi-NOAA opened #621 "Use ESMF 8.2.0 library"
Update the ESMF library from 8.1.0 to 8.2.0. This change is needed to utilize latest fixes in the ESMF; see, for example, #143.

A corresponding PR will be made, in which regression (consistency) tests for those utilities affected by the ESMF library (chgres_cube and grid_gen) on all 5 platforms will be run and comparison of results be posted.

Part of #143.

[2022-01-26 14:23] MinsukJi-NOAA commented on #621
@GeorgeGayno-NOAA These are some of the differences from using ESMF 8.2.0. There are LOTS of these statistics to consider since there are many failed consistency tests on all 5 platforms. Wanted to check with you if you have any suggestions on how to go about analyzing these systematically.

[code]

[code]

[2022-01-26 16:35] GeorgeGayno-NOAA commented on #621
@MinsukJi-NOAA The differences from the first test look small. But the differences from the second test seem bigger than I would expect. I would visualize the cases with the big differences and make some difference plots with the baseline data. Also, the grid generation procedure depends on ESMF. So you will need to run the 'grid_gen' tests as well.

[2022-01-26 23:52] MinsukJi-NOAA commented on #621
On Hera:
* `grid_gen` tests all passed.
* For `chgres_cube` tests, some of the failed cases with large-value differences are shown below. Left: ESMF 8.2.0; Middle: Difference; Right: ESMF 8.1.0.
  * c192_fv3_history

![02_c192_fv3_history_out_atm_tile3_v_s](https://user-images.githubusercontent.com/57227195/151266072-a5e1f31a-0175-4c6f-a297-7bddc441774c.png)

  * c192_gfs_grib2

![08_c192_gfs_grib

[2022-01-27 14:50] GeorgeGayno-NOAA commented on #621
@MinsukJi-NOAA Thanks for making these plots. I was looking at the ESMF 8.2.0 release notes:

https://github.com/esmf-org/esmf/releases/tag/ESMF_8_2_0

There were some changes to the regridding which result in small differences in the regridding weights. So that probably explains what we are seeing. I may look at the C192 case more closely myself. But I am inclined to make the upgrade to 8.2.0.

[2022-01-27 14:54] GeorgeGayno-NOAA commented on #621
@MinsukJi-NOAA Where are your test data? I want to take a look.

[2022-01-27 14:57] GeorgeGayno-NOAA commented on #621
@MinsukJi-NOAA What branch are you working from?

[2022-01-27 14:59] MinsukJi-NOAA commented on #621
@GeorgeGayno-NOAA I am working from the latest develop branch: 04700f9
My test data on Hera is here: /scratch2/NCEPDEV/stmp1/Minsuk.Ji/reg-tests/chgres-cube
Summary log is located here: /scratch1/NCEPDEV/stmp4/Minsuk.Ji/UFS_UTILS_04700f9/reg_tests/chgres_cube

[2022-01-27 15:15] GeorgeGayno-NOAA commented on #621
@MinsukJi-NOAA Please create a branch off 'develop' in your fork for any work under this issue. See our wiki page for more details: https://github.com/ufs-community/UFS_UTILS/wiki/3.-Checking-out-code-and-making-changes

[2022-01-27 16:09] MinsukJi-NOAA commented on #621
@GeorgeGayno-NOAA my working branch is here: https://github.com/MinsukJi-NOAA/UFS_UTILS/tree/feature/esmf_8_2_0.
So far, I have run regression tests on hera, jet, and orion. I will also report results from jet and orion.

[2022-01-27 18:12] MinsukJi-NOAA commented on #621
On Jet:
* `grid_gen` tests all passed
* For `chgres_cube` tests, some of the failed cases with large-value differences are shown below. Left: ESMF 8.2.0; Middle: Difference; Right: ESMF 8.1.0.

  * c192_fv3_history

![02_c192_fv3_history_out_atm_tile3_v_s](https://user-images.githubusercontent.com/57227195/151418597-084ac47d-ccbe-4838-883d-f0c8536ab9ee.png)

  * c192_gfs_grib2

![08_c192_gfs_grib2

[2022-01-27 19:44] MinsukJi-NOAA commented on #621
On Orion:
* `grid_gen` tests all passed
* For `chgres_cube` tests, some of the failed cases with large-value differences are shown below. Left: ESMF 8.2.0; Middle: Difference; Right: ESMF 8.1.0.

  * c192_fv3_history

![02_c192_fv3_history_out_atm_tile3_u_s](https://user-images.githubusercontent.com/57227195/151431790-de2d59b2-7fe4-4fc7-9b19-748ee8024bd1.png)

  * c192_gfs_grib2

![07_c192_gfs_gri

[2022-01-27 20:56] GeorgeGayno-NOAA commented on #591
Module model_grid.F90 sets up the input grid ESMF grid object. This requires the lat/lons of the input grid centers and corner points. The wgrib2 and G2 versions give the same result for GFS lat/lon grids. But for input data on lambert conformal and rotated lat/lon grids, the computed lat/lons are different. Details to follow.

[2022-01-27 21:30] GeorgeGayno-NOAA commented on #591
Ran the GRIB2 regression tests on Orion using my branch at 2425c5d. Compare the input grid lat/lons against 'develop' at 04700f9 for the `13km.conus.rap.grib2.sh` test. The input RAP data for that test is on a rotated lat/lon grid. Currently, in 'develop', the lat/lons are not computed using wgrib2; Rather, they are read in from file - `latlon_grid3.32739.nc`. The branch computes lat/lons using IP

[2022-01-28 16:27] GeorgeGayno-NOAA commented on #591
Here, the lat/lons computed by 'develop' and the branch (at 2425c5d) for the `13km.conus.nam.grib2` test are compared. The input data is NAM GRIB2 data on a lambert conformal grid. The branch computes the lat/lons using IP routine `gdswzd`. 'develop' uses `wgrib2` to compute the grid cell center lat/lons. But for the grid cell corners, 'develop' uses routine `get_cell_corners`.

Output of the grid

[2022-01-28 16:56] GeorgeGayno-NOAA commented on #621
To be complete, the workflow files should be updated to use ESMF v8.2.0:

https://github.com/ufs-community/UFS_UTILS/tree/develop/.github/workflows

@MinsukJi-NOAA I can help with that.

[2022-01-28 17:18] MinsukJi-NOAA commented on #621
@GeorgeGayno-NOAA thanks. I will look into it.

[2022-01-28 17:24] MinsukJi-NOAA commented on #621
On WCOSS Cray:
* All `grid_gen` tests failed. But an examination of statistics in `consistency.log` indicates the differences are ~ 10^-7.
* All `chgres_cube` tests failed. Mostly, the differences are small. Case with significant differences are plotted below.

  * c192_fv3_history

![08_c192_fv3_history_out_atm_tile5_u_w](https://user-images.githubusercontent.com/57227195/151592853-6a7056a2-021b-

[2022-01-28 19:14] MinsukJi-NOAA commented on #621
On WCOSS Dell:

* All `grid_gen` tests passed
* For `chgres_cube` tests, some of the failed cases with large-value differences are shown below. Left: ESMF 8.2.0; Middle: Difference; Right: ESMF 8.1.0.

  * c192_fv3_history
![08_c192_fv3_history_out_atm_tile5_u_w](https://user-images.githubusercontent.com/57227195/151607485-b91486db-720f-4ca4-967f-7d8fd0a0e901.png)

  * c192_gfs_gribs
![14_c192_gfs

[2022-01-28 19:21] MinsukJi-NOAA commented on #621
@GeorgeGayno-NOAA please note that a few other minor module changes had to be made for wcoss dell: https://github.com/MinsukJi-NOAA/UFS_UTILS/commit/12fe8a038a298518e37db8bb5b2bf95cadb67058
I am not sure if the `g2` library version change from 3.4.1 to 3.4.2 requires testing ufs utilities other than `chgres_cube` and `grid_gen`

[2022-01-29 19:21] hu5970 opened #623 "FVCOM: handle subdomain restart files"
The large domain FV3LAM needs to run with io_layout(2) > 1 to speed up initialization.
This will generate multiple subdomain restart files instead of one.

FVCOM code is updated to handle subdomain restart files.
At the same time, multiple cores are used to speed up the process.

[2022-01-31 00:28] hu5970 commented on #623
The code for adding those functions is in branch:
https://github.com/hu5970/UFS_UTILS/tree/fvcom_subdomain_mpi

I think it is ready for making a PR to merge back to authoritative repository.

[2022-01-31 14:23] kgerheiser commented on #591
@GeorgeGayno-NOAA what you think the issue is? Is it g2 or gdswzd?

[2022-01-31 14:38] GeorgeGayno-NOAA commented on #591
We don't know yet. I suspect the problem is in wgrib2 - not g2 or gdswzd.

[2022-01-31 21:17] GeorgeGayno-NOAA commented on #621
@MinsukJi-NOAA The differences from the baseline are small enough that I will not stop the merge.

[2022-01-31 21:24] #621 closed, assigned to MinsukJi-NOAA

[2022-02-04 16:51] GeorgeGayno-NOAA commented on #591
Some further analysis of https://github.com/ufs-community/UFS_UTILS/issues/591#issuecomment-1023656002 and https://github.com/ufs-community/UFS_UTILS/issues/591#issuecomment-1024381241

My branch at 474401f and 'develop' at 26cd024 were modified to output the grid cell center and corner lat/lons in netcdf format.

The files were placed on Hera in `/scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/UF

[2022-02-04 17:04] GeorgeGayno-NOAA commented on #591
Here are the differences between my branch and 'develop' for the 13km RAP grid.

[code]

The mean differences are very small - much smaller than the resolution of the grid. Viewing the files in `ncview` show the large longitude differences (-79.9 and 360 degrees) were located at the north pole (where the longitude lines converge) and the dateline respectively (where one point was -180 and the othe

[2022-02-04 18:32] GeorgeGayno-NOAA commented on #591
Here are the differences between the branch 474401f and 'develop' for the 13km NAM grid (lambert conformal)

[code]

The grid cell centers are very close. The differences are much smaller than the resolution of the grid. The grid cell corners are off - especially the longitudes. The branch computes the centers using wgrib2 and the corners using routine `get_cell_corners`.

A similar result is seen

[2022-02-07 14:40] GeorgeGayno-NOAA opened #626 "chgres_cube - vertical velocity bug"
When using certain GRIB2 data as input, the vertical velocity must be converted from omega to dzdt. This conversion is controlled by the logical 'conv_omega'. However, that logical is not being set on all MPI tasks. As a result, vertical velocity is only being converted on part of the grid.

[2022-02-07 15:10] GeorgeGayno-NOAA commented on #626
This is a problem in the following regression tests -

- 3km.conus.hrrr.gfssdf.grib2
- 3km.conus.hrrr.newsfc.grib2
- 13km.conus.rap.grib2

The GFS GRIB2 data does not need to be converted.

[2022-02-07 19:45] GeorgeGayno-NOAA commented on #626
Ran the consistency tests on WCOSS-Dell. Three tests failed:

[code]

[2022-02-07 20:04] GeorgeGayno-NOAA commented on #626
Files from the failed tests are on Mars: /gpfs/dell1/stmp/George.Gayno/reg-tests/chgres-cube.

The difference between and test and baseline file is 'atm.diff.nc'.

[2022-02-07 20:13] GeorgeGayno-NOAA commented on #619
@kgerheiser Do you have an example in NCEPLIBS or another repo that I can follow?

[2022-02-07 20:50] kgerheiser commented on #619
Bufr downloads files with CMake using `file(DOWNLOAD)`

https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/3f2e10bdfa3c6ef179e9e0e9ffb03287b3eba31a/test/CMakeLists.txt#L9-L17

[2022-02-08 16:07] GeorgeGayno-NOAA opened #629 "Update GFSv16.2.0 tag to use hpc-stack on Hera and Orion"
To support the global-workflow group.

https://github.com/NOAA-EMC/global-workflow/issues/639

[2022-02-08 22:46] DeniseWorthen commented on #143
@GeorgeGayno-NOAA I've added a unit test for cpld_gridgen. It checks that the values are correctly aligned across the tripole seam.

(edit---spoke too soon; the github action failed. Sigh).

[2022-02-09 00:01] DeniseWorthen commented on #143
I see this message in the workflow runs. What should this file contain?

[code]

[2022-02-09 14:33] GeorgeGayno-NOAA commented on #143
Our tests check for memory leaks. Sometimes these leaks are in one of the external libraries used by your test. The file contains a list of the leaky libraries. I see your utility uses ESMF. That is one of the leaky libraries. So you can create a LSanSuppress.supp file using this example - https://github.com/ufs-community/UFS_UTILS/blob/develop/tests/global_cycle/LSanSuppress.supp

[2022-02-09 16:12] GeorgeGayno-NOAA commented on #629
@KateFriedman-NOAA - Try my hotfix branch at ba7efbd. I don't know what default library versions you plan to use. I can adjust those later.

[2022-02-09 19:20] DeniseWorthen commented on #143
My github workflow with the unit test is now passing. I've got a couple of ideas for other unit tests which I could work on while Minsuk is away.

[2022-02-09 20:26] KateFriedman-NOAA commented on #629
@GeorgeGayno-NOAA So global_cycle builds without an error but the emcsfc build fails. If I run the emcsfc build standalone it builds. I looked at the diffs between building it standalone and via global-workflow. I see you are using the `hpc-intel/2020.2` module as the default but via global-workflow I builds with `hpc-intel/2018.4` (and I override your setting when I build). The g2 library path is

[2022-02-09 20:28] kgerheiser commented on #629
Yes, I would use 2018.4 on Orion.

[2022-02-09 20:32] GeorgeGayno-NOAA commented on #629
Will do.

[2022-02-10 22:16] GeorgeGayno-NOAA commented on #619
I am able to compile the tests on WCOSS, Hera and Orion. And on Hera I am able to run the tests. On Jet, the data download does not work (because it can't connect to our ftp site?). It takes a few minutes before the download failure happens, so to the user the compilation appears to hang. Adjusting the INACTIVITY_TIMEOUT did not seem to help. For now, I added logic to the build_all.sh script to on

[2022-02-10 22:41] kgerheiser commented on #619
Firewall on Jet does block the ftp site

[2022-02-11 16:16] #616 closed, assigned to mkavulich

[2022-02-11 18:59] GeorgeGayno-NOAA commented on #629
@KateFriedman-NOAA Try 3c5a3508

[2022-02-11 19:14] #626 closed, assigned to GeorgeGayno-NOAA

[2022-02-14 15:19] GeorgeGayno-NOAA commented on #242
@kgerheiser Has IP v4 been installed on any of our machines? This issue has been open for a while.

[2022-02-15 19:02] KateFriedman-NOAA commented on #629
@GeorgeGayno-NOAA Thanks, it builds for me both 1) standalone (as-is) and 2) via global-workflow if I set `export libpng_ver=1.6.35` in global-workflow's `versions/orion.ver` file. Please see these logs and confirm they indeed built ok:

/work/noaa/global/kfriedma/git/dev_v16/sorc/ufs_utils.fd/sorc/logs/build_cycle.log
/work/noaa/global/kfriedma/git/dev_v16/sorc/ufs_utils.fd/sorc/logs/build_emcsfc

[2022-02-15 20:05] GeorgeGayno-NOAA commented on #629
Kate, I am using 1.6.35 as the default for Orion. Should I use another version as default?

[2022-02-15 20:12] KateFriedman-NOAA commented on #629
We're going to be using `libpng/1.6.37` once it's available in the stacks on Hera/Orion so the default should be `1.6.37`. I'm using the available `png/1.6.35` at the moment to test functionality while awaiting the module updates.

[2022-02-16 14:37] GeorgeGayno-NOAA commented on #433
Sounds like there is a way to process tile numbers >9 via scripting. Will close this for now.

[2022-02-16 14:39] GeorgeGayno-NOAA commented on #461
write_data.F90 was placed in a module under this PR - #631

[2022-02-17 15:11] #623 closed, assigned to hu5970

[2022-02-17 15:58] #620 closed, assigned to kgerheiser, GeorgeGayno-NOAA

[2022-02-22 19:34] GeorgeGayno-NOAA commented on #123
@yangfanglin and @shansun6 - Do you have a sample coldstart file for running with mixed land/non-land? A sample file you create from this procedure - https://docs.google.com/document/d/15FtEHUoN9JTmt_q4Qt1kdSb1rSbjQDYMpMiKaxtn404/edit?usp=sharing

[2022-02-25 11:26] sentientc opened #632 "inconsistent dzdt treatment in chgres_cube"
Hi,
I found dzdt in guassian_netcdf and gaussian_nemsio were treated differently. Is there a reason for this? Also, by leaving it dzdt m/s and not converting to w Pa/s will cause problem when running the model.

https://github.com/ufs-community/UFS_UTILS/blob/develop/sorc/chgres_cube.fd/input_data.F90
subroutine read_input_atm_gaussian_netcdf_file set dzdt to 0 at line 2049
However, sHi,ubroutine

[2022-02-25 15:15] GeorgeGayno-NOAA commented on #632
@sentientc The forecast model has initialization steps that convert the vertical velocity record (among other conversions). And those conversion steps are run or not run based on the source data used to create the initial conditions.

We have an issue open (#539) to move these initialization steps from the model to chgres. But we have not made much progress so far.

[2022-02-25 15:30] GeorgeGayno-NOAA opened #633 "Memory bottleneck in chgres_cube"
Users occasionally get out-of-memory issues when running chgres_cube for large domains. Almost always, this happens during the regridding of the 3-D winds to the edges of the grid box.

https://github.com/ufs-community/UFS_UTILS/blob/570ea3966c125ead7e90b4342be2efc22a8b1f41/sorc/chgres_cube.fd/atmosphere.F90#L347

I suspect this is because the ESMF field for winds is 4-dimensional (x,y,z wind comp

[2022-02-26 00:58] #632 closed, assigned to nobody

[2022-02-26 01:20] sentientc commented on #632
@GeorgeGayno-NOAA I may missed some of the run or not run according to the IC type. It appears that setting w to 0 in the chgres_cube processed gfs_data*nc solved a lot of the problem for me. I am wondering if it is a valid approach as I have no access to the planning document  mentioned in #539 (https://docs.google.com/document/d/1fA_laqSZIdUCT7g2P9wWEY4MhBB3iRxJao3KsUAVJz8/edit).

[2022-02-28 14:54] GeorgeGayno-NOAA commented on #632
Here is the model routine that converts the vertical velocity:
https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/blob/main/tools/external_ic.F90#L3016

What input data was used that required you to set w to 0? The GFSv16 gaussian netcdf?

[2022-02-28 22:19] GeorgeGayno-NOAA commented on #633
I set up at case using GFSv16 netcdf data as input for a C1152 L128 grid. My test script and config file are on Dell: `/gpfs/dell2/emc/modeling/noscrub/George.Gayno/ufs_utils.git/chgres_mem`

Using 'develop' at 570ea39 required 8 nodes/6 tasks per node. Using the branch at f584c91 only required 4 nodes/6 tasks per node.

Will try additional tests.

[2022-03-01 02:26] sentientc commented on #632
@GeorgeGayno-NOAA external_ic line 3016 did set gp=omga, however, omga is 0 when it is gaussian_netcdf in chgres_cube.  See
https://github.com/ufs-community/UFS_UTILS/blob/develop/sorc/chgres_cube.fd/input_data.F90#L2049
"! dzdt   set to zero for now."
gaussian_nemsio on the other hand read dzdt as omga. At around Oct, 2019, nemsio file changed to include dzdt and this dzdt will cause problem like

[2022-03-01 07:32] sentientc commented on #632
@GeorgeGayno-NOAA nemsio IC downloaded for 2019100418. gaussian netcdf have set dzdt to 0 so omga is 0 but nemsio around Oct, 2019 have non-zero dzdt. Which is the intended way?

https://github.com/ufs-community/UFS_UTILS/blob/develop/sorc/chgres_cube.fd/input_data.F90#L2049
gaussian netcdf set dzdt to 0
gaussian nemsio read dzdt
sgio have no dzdt so set dzdt to 0
grib2 read dzdt or vvel

[2022-03-01 15:00] GeorgeGayno-NOAA commented on #632
The change from omega (GFS v14) to dzdt (GFS v15) occurred in June 2019. chgres places a global attribute in the coldstart file to document which input data source was used. See here -
https://github.com/ufs-community/UFS_UTILS/blob/develop/sorc/chgres_cube.fd/write_data.F90#L526

For v14 data, the attribute is 'SPECTRAL GFS GAUSSIAN NEMSIO FILE', and for v15 data, the attribute is 'FV3GFS GAUSSIA

[2022-03-01 20:27] GeorgeGayno-NOAA commented on #633
Tried C3072 L65 on Dell. Using 'develop' required 30 nodes/6 tasks per node. Using the branch required 20 nodes/6 tasks per node.

[2022-03-02 01:19] sentientc commented on #632
fv_regional_bc.F90 does solve the unit difference but omga or w in gfs_data.tile*.nc is still 0 for gaussian_netcdf or 'FV3GFS GAUSSIAN NETCDF FILE'. My question is whether to change https://github.com/ufs-community/UFS_UTILS/blob/develop/sorc/chgres_cube.fd/input_data.F90#L2049 to read in dzdt as w for netcdf v16 data(?).

[2022-03-04 21:55] GeorgeGayno-NOAA commented on #629
The branch at 423c704 was tested on Hera and Orion using these scripts:

Hera - /scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/UFS_UTILS.gfsv16
Orion - /work/noaa/da/ggayno/save/ufs_utils.git/gfsv16_tag

All tests passed.

[2022-03-04 22:33] GeorgeGayno-NOAA commented on #629
The same tests were repeated using Intel 2022 (6195f80). All tests passed.

[2022-03-04 22:59] kgerheiser commented on #629
@GeorgeGayno-NOAA no problems with Intel MPI 2022?

[2022-03-04 23:08] GeorgeGayno-NOAA commented on #629
No. The `global_cycle` program uses MPI. And it ran fine for me.

[2022-03-07 16:20] GeorgeGayno-NOAA commented on #629
@KateFriedman-NOAA Would you like to try 6195f80? It compiles and runs. But I am not sure I am using the correct library and compiler versions (or environment variable names).

[2022-03-07 16:27] KateFriedman-NOAA commented on #629
Yes, thanks @GeorgeGayno-NOAA ! I'll check it out on Hera and Orion and report back.

[2022-03-07 16:41] KateFriedman-NOAA commented on #629
@GeorgeGayno-NOAA The updated hash built without error on both Hera and Orion with the version file overrides in play. Please see the following logs to confirm the build success within g-w:

Hera: /scratch1/NCEPDEV/global/Kate.Friedman/git/dev_v16/sorc/ufs_utils.fd/sorc/logs/*
Orion: /work/noaa/global/kfriedma/git/dev_v16/sorc/ufs_utils.fd/sorc/logs/*

The g-w version settings used (build.ver & he

[2022-03-07 18:55] DeniseWorthen commented on #143
@GeorgeGayno-NOAA After I did some additional testing w/ my self-made MOM6 supergrid, I think I will need to host the actual MOM6 1-deg file to use for the unit-testing. Even if I use the make_hgrid tool to create the supergrid, the corner angles have small anomalies at the pole. The 1-deg MOM6 supergrid is 22M. A copy is located here:
[code]

Does it need to be moved to a specific location in ord

[2022-03-07 19:31] GeorgeGayno-NOAA commented on #629
Looks like it worked. And I am using the same library/compiler versions as you are.

[2022-03-07 19:35] KateFriedman-NOAA commented on #629
Great, thanks for confirming @GeorgeGayno-NOAA ! Once I get a few more of the updated components available I will test this updated UFS_UTILS branch execs in some cycled tests of the system on Hera/Orion. I'll report any issues regarding those execs. Hoping do that in the next week or two, need to wrap this up this month before the old modules get removed. Thanks!

[2022-03-07 20:02] GeorgeGayno-NOAA commented on #143
We are hosting all the unit test data here: https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/ufs_utils/unit_tests/ And we can create sub-directory for your unit test. What should we name this sub-directory?

[2022-03-07 20:05] DeniseWorthen commented on #143
I think we can name the subdirectory cpld_gengrid. Thanks.

[2022-03-07 20:08] GeorgeGayno-NOAA commented on #143
@KateFriedman-NOAA When you get a chance, can you create a new sub-directory on the ftp site called `cpld_gengrid` and host her `ocean_hgrid.nc` file there? Thanks.

[2022-03-08 14:18] GeorgeGayno-NOAA opened #634 "Move to newer Intel compiler on Hera, Jet and Orion"
The 2018 and 2019 Intel compilers are no longer supported by Intel. The system admins recommend switching to the 2022.1.2 version.

There is an updated version of the hpc-stack on Hera, but not on Jet. The NCEPLIBS team (@kgerheiser) is aware of this requirement.

[2022-03-08 15:57] GeorgeGayno-NOAA commented on #634
The only version of ESMF v8.2.0 I could find on Hera uses the 2018 version. Doing `module spider esmf_8_2_0` showed:

[code]

[2022-03-09 15:51] KateFriedman-NOAA commented on #143
@GeorgeGayno-NOAA @DeniseWorthen Done:

https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/ufs_utils/unit_tests/cpld_gengrid/
https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/ufs_utils/unit_tests/cpld_gengrid/ocean_hgrid.nc

[2022-03-09 16:45] DeniseWorthen commented on #143
Thanks. I will work on getting the unit test to use this file.

[2022-03-09 22:04] GeorgeGayno-NOAA commented on #123
@shansun6 I was looking at your document. You are adding only two new variables, a skin temperature and roughness for land. What about soil temperature (stc)? At lake/sea ice points, the ice model uses that record for its column temperatures.  For a point that is both land and ice, separate records will be needed.

[2022-03-09 22:14] GeorgeGayno-NOAA commented on #123
Currently, chgres places a roughness value of 1 cm at ice points? Does the model actually use this value from the coldstart file? If so, we will need three 'zorl' records.

A similar question for the snow-free albedo (alvsf/alvwf/alnsf/anfwf). Flag values of 0.06 are placed at non-land points (both water and ice). Does the model uses these values from the coldstart file. If so. additional albedo r

[2022-03-09 22:48] yangfanglin commented on #123
@GeorgeGayno-NOAA Hopefully @shansun6 and  @barlage can address questions.   Bing Fu might be able to point you to the ICs you need as well.

For the roughness over ice, please see the discussion in https://github.com/NCAR/ccpp-physics/pull/808 .  Helin and Weizhong can also help answer the question.

[2022-03-10 01:53] bingfu-NOAA commented on #123
@GeorgeGayno-NOAA You can find sample IC here on Hera: /scratch2/NCEPDEV/stmp3/Bing.Fu/o/p7ic/com/gens/dev/merge_fix/C384_025

[2022-03-10 01:56] bingfu-NOAA commented on #123
@GeorgeGayno-NOAA Here includes both model level IC data as well as surface IC data.
/scratch2/NCEPDEV/stmp3/Bing.Fu/o/p7ic/com/gens/dev/merge/C384_025

[2022-03-10 17:02] GeorgeGayno-NOAA commented on #629
@KateFriedman-NOAA I reverted back to Intel 2018. I also removed some unused utilities. See 75c74cd.

[2022-03-10 18:09] KateFriedman-NOAA commented on #629
Thanks @GeorgeGayno-NOAA ! Need to work on a WCOSS2 issue today so I'll try to test that hash tomorrow.

[2022-03-10 21:14] GeorgeGayno-NOAA commented on #123
Some clarification from @shansun6 concerning the definition of 'fice' with fractional grids:

`fice ranges from [0,1]. It is defined as the ratio of ice over the ocean portion of the grid. If a grid point is 50% land and is covered totally by the sea-ice, then fice=100%.`

[2022-03-10 21:19] GeorgeGayno-NOAA commented on #123
Clarification from @shansun6 concerning the 'stc' array - it is only used at points with land. It is not used for ice or open water.

[2022-03-10 23:02] ShanSunNOAA commented on #123
Hi George,

I spoke too soon regarding "stc". In the non-fractional case, 'stc'
contains both 4-layer soil temp and 2-layer internal ice temp.
Now in the fractional case, 'stc' contains soil temp only, which means we
would lose info of 2-layer internal ice temp, right?
Do we need to add an additional array (:,:,2) to store the 2-layer internal
ice temp?

The corresponding part of FV3GFS_io.F90 wou

[2022-03-11 13:27] GeorgeGayno-NOAA commented on #123
I will output a separate 'stc' array for sea ice.

On Thu, Mar 10, 2022 at 6:02 PM ShanSun-NOAA ***@***.***>
wrote:

--
George Gayno
IMSG at NOAA/NWS/NCEP/EMC
5830 University Research Ct.,  Rm. 2882
College Park, MD  20740
***@***.***
301-683-3658

[2022-03-11 15:22] KateFriedman-NOAA commented on #629
I updated my ufs_utils copies on Hera/Orion, reverted the g-w hera.ver back to the 2018 intel, and ran the ufs_utils build. Appear to have built without issue, please confirm, thanks:

Hera: /scratch1/NCEPDEV/global/Kate.Friedman/git/dev_v16/sorc/ufs_utils.fd/sorc/logs/*
Orion: /work/noaa/global/kfriedma/git/dev_v16/sorc/ufs_utils.fd/sorc/logs/*

[2022-03-11 19:26] GeorgeGayno-NOAA commented on #629
The Orion build looks good. On Hera, the global_cycle build used 2018, but the emcsfc build used 2022. That is odd.

[2022-03-11 20:53] GeorgeGayno-NOAA commented on #596
@kgerheiser We know you are super busy. Any progress on this? Should we ask @arunchawla-NOAA for some of your time?

[2022-03-12 09:44] edwardhartnett commented on #596
Seems like this is a problem in the FVCOM code and should be fixed by the programmers who submitted the code with the missing parameter. Or am I missing something...

[2022-03-14 13:58] dmwright526 commented on #596
@edwardhartnett This is legacy code that was developed for the HRRR to ingest the lake surface conditions. It was developed purely on NOAA machines with Intel compilers and porting it to GNU is an unexpected challenge without an obvious solution. The code was pushed to get this feature into RRFS development sooner for testing over the winter.

I am putting more time into it this week to try to fin

[2022-03-15 16:35] KateFriedman-NOAA commented on #629
@GeorgeGayno-NOAA I found a couple issues in the modulefiles for global_cycle and emcsfc (for Hera, didn't check others yet) but after fixing them I ran into another issue (the real issue).

A couple of the version variables in the following modulefiles were incorrect. I fixed them before hitting the next error I'll describe below:

[code]

Not sure if you also need to load `hpc-impi` for the emcs

[2022-03-15 19:17] GeorgeGayno-NOAA commented on #629
@KateFriedman-NOAA I fixed the environment variable names for the Hera build. See 2f19a61. But I am not getting the build errors you are.

[2022-03-15 19:32] KateFriedman-NOAA commented on #629
Thanks @GeorgeGayno-NOAA , I updated my copy to that new hash and opened a fresh Hera terminal to try the build again. It built without issue and emcsfc used 2018 intel. Please see these logs to confirm:

/scratch1/NCEPDEV/global/Kate.Friedman/git/dev_v16/sorc/ufs_utils.fd/sorc/logs/*

So when I open a new Hera terminal I get `intel/18.0.5.274` and `impi/2018.0.4` loaded by default (I'm not loadin

[2022-03-15 19:47] GeorgeGayno-NOAA commented on #629
I also fixed an Orion modulefile. Use fb34823.

[2022-03-15 20:38] GeorgeGayno-NOAA commented on #629
According to the logs, everything built OK.

[2022-03-16 13:44] KateFriedman-NOAA commented on #629
Thanks @GeorgeGayno-NOAA ! I updated my Orion copy and built it, see logs here:

/work/noaa/global/kfriedma/git/dev_v16/sorc/ufs_utils.fd/sorc/logs/*

[2022-03-16 13:52] GeorgeGayno-NOAA commented on #629
Looks good.

[2022-03-16 14:27] GeorgeGayno-NOAA opened #635 "Update snow2mdl for new AFWA snow data"
The Air Force is upgrading their SNODEP model in July 2022. It will provide a global 9km snow and ice analysis in GRIB2 format. It will also backfill the 23 km N and S hemisphere GRIB1 files currently used in OPS.

- /gpfs/dell1/nco/ops/dcom/prod/20220315/wgrbbul/NPR.SNWN.SP.S1200.MESH16 (NH)
- /gpfs/dell1/nco/ops/dcom/prod/20220315/wgrbbul/NPR.SNWS.SP.S1200.MESH16 (SH)

At some point - the Air Fo

[2022-03-16 14:32] GeorgeGayno-NOAA commented on #635
Sample data is located on Venus: /gpfs/dell2/emc/modeling/noscrub/George.Gayno/afwa_new

[2022-03-16 16:00] GeorgeGayno-NOAA commented on #635
I ran `snow2mdl` using the sample 23 km backfilled files and got correct results. See the scripts and config files in /gpfs/dell2/emc/modeling/noscrub/George.Gayno/afwa_new

[2022-03-18 20:46] GeorgeGayno-NOAA commented on #424
@SMoorthi-emc - I want to update my branch to use the latest CCPP version of sfcsub.F. How is the "min_ice" array set if the orography files do not contain "lakefrac"?  I see this in gcycle:

https://github.com/NCAR/ccpp-physics/blob/3721df1561514a15b6141a6461d26a33472a3fa7/physics/gcycle.F90#L168

Or is the latest version of sfcsub.F not backwards compatible with the current orography files, whic

[2022-03-18 21:24] GeorgeGayno-NOAA commented on #424
Note to self - should I also link to the ccpp version of 'machine.F'?

[2022-03-19 00:19] SMoorthi-emc commented on #424
Hi George,
   When you say backward compatible, I assume using orography without lake
fraction for the uncoupled model, like the current operational GFSV16.
Please note that for the uncoupled model we should set
min_seaice=min_lakeice=0.15.
Only the coupled model with embedded ice model uses different thresholds
for ocean and lakes.
Nevertheless, you could define a "lakefraction" for the case with

[2022-03-22 01:05] StevePny opened #637 "running outside of NOAA HPC environments (in a docker container)"
It seems as if the UFS_UTILS has not been run outside of NOAA HPC environments. In order to run locally (in a docker container), there are a couple instances where the build expects aprun to be used. First, if APRUN is not provided as an environment variable, then in fv3gfs_make_grid.sh it defaults to "time" (APRUN=${APRUN:-time}), but this causes a problem within the bash shell (since 'time' is a

[2022-03-22 13:08] GeorgeGayno-NOAA commented on #637
The 'fix_orog' files are publicly available. See our documentation for the community release:
https://noaa-emcufs-utils.readthedocs.io/en/ufs-v2.0.0/ufs_utils.html#program-inputs-and-outputs-for-global-applications

[2022-03-22 13:09] GeorgeGayno-NOAA commented on #637
I am puzzled by the error in sfc_climo_gen. It should run with a multiple of six mpi tasks. I usually use 24 tasks. But I can try running with six tasks on WCOSS.

[2022-03-22 13:32] GeorgeGayno-NOAA opened #638 "GitHub workflows can't find netcdf-c library"
Some of the workflows build the netcdf-c library. For example,

https://github.com/ufs-community/UFS_UTILS/blob/570ea3966c125ead7e90b4342be2efc22a8b1f41/.github/workflows/intel.yml#L59

That library is no longer available at that web site. As a result, some of the workflows are failing.

Update the workflows to pull this library from github: https://github.com/Unidata/netcdf-c/tags

[2022-03-23 00:02] StevePny commented on #637
Hi George, the site that you provided is what I was following. It lists the files needed (see below), but it doesn't provide links. One of the links on the page might lead to these files, but if so, I haven't been able to find the right one.

[code]

The UFS_UTILS script "fix/link_fixdirs.sh" pulls these from NOAA HPC:

[code]

[2022-03-23 13:46] GeorgeGayno-NOAA commented on #637
Sorry. Try these links:

https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/GFS/fix_nco_gfsv16/

https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/GFS/fix_nco_gfsv16/fix_orog/

[2022-03-23 14:28] GeorgeGayno-NOAA commented on #424
Ran the consistency tests using bdcdb38 on WCOSS-Dell. The C768 test (that mimics GFS OPS) failed in regions with ice (tiles 1, 2, 4 and 5 were bit identical to the baseline). Differences were small. But are they significant?

Tile 3
[code]

Tile 6

[code]

@SMoorthi-emc Are these differences expected? I can create difference plots if that would help.

[2022-03-23 14:36] SMoorthi-emc commented on #424
George,
   Can you explain a bit about this test?  Is it on full grid? Are you setting min_ice=0.15 for both ocean and lakes?
Also, can you point me to your source on dell for both opr and new so that I can actually look at the differences in the code?
Thanks
Moorthi

[2022-03-23 15:02] GeorgeGayno-NOAA commented on #424
To see the source code, you can clone my fork:

git clone https://github.com/GeorgeGayno-NOAA/UFS_UTILS.git

Then checkout the feature/sfcsub_ccpp branch.

Code differences are here: https://github.com/ufs-community/UFS_UTILS/pull/636/files

[2022-03-23 15:09] GeorgeGayno-NOAA commented on #424
The test is a global C768 grid. The data directory is on Venus: /gpfs/dell1/stmp/George.Gayno/reg-tests.sfcsub/global-cycle/test1.

The fort.35/36/37 namelists were saved.  Sea ice is being applied - FNACNA is pointing to this ice file:  /gpfs/dell2/emc/modeling/noscrub/George.Gayno/ufs_utils.git/reg_tests/global_cycle/input_data/gdas.t00z.seaice.5min.blend.grb.

I believe I am using a min ice of

[2022-03-23 20:02] edwardhartnett commented on #638
Unidata reorganized their web site and moved stuff around. Getting netcdf-c from GitHub is the correct answer, as you have done in your PR.

[2022-03-23 20:18] #638 closed, assigned to GeorgeGayno-NOAA

[2022-03-24 13:45] SMoorthi-emc commented on #424
I looked at the differences in the code.  There are some minor differences in how ice is handled.  So I assume there will be some differences where sea-ice/lake_ice are involved.  Since the model is working fine, I have to assume the version in the model also is fine.  It would be instructive if the differences and the total fields are plotted.  I am neither that familiar with plotting with netcdf

[2022-03-24 16:45] ShanSunNOAA opened #640 "Adding options to generate lake mask for FV3 based on different observational datasets"
An option is added to choose the observational datasets to generate lake mask and lake depth. GLDBv2 & GLDBv3 were used in the Prototype 6 and 7 applications. Lake fraction from MODIS+ (with Landset) and lake depth from GLDBv3 will be
used in the Prototype 8 application.

Since GLDBv3 is a debug version of GLDBv2, we keep GLDBv2 option for backward compatible reason and suggest using GLDBv3 for ne

[2022-03-24 17:33] GeorgeGayno-NOAA commented on #424
I will make some plots.

[2022-03-25 17:23] GeorgeGayno-NOAA commented on #633
Here is the error I get from 'FieldRegrid', which is solved my doubling the number of nodes:

[code]

According to the ESMF group (@rsdunlapiv) this is the result of using 32 bit pointers in some ESMF routines

[2022-03-25 19:35] GeorgeGayno-NOAA commented on #424
Some printout from the C768 consistency test (branch and develop). These TILE 6 points have the largest ice temperature differences (TISFC). Note that all these points had ice concentrations (SICFCS) at the minimum - 15% - before and after the call to sfccycle. At ice points, skin temperature (TSEA) is a linear combination of the ice temperature and the open water temperature (271.2) based on the

[2022-03-25 22:08] #459 closed

[2022-03-25 23:53] SMoorthi-emc commented on #424
I did make several updates in the code related to the ice.  It happened as
I was trying to take into account the fractional grid.
I do not specifically recall the details as this was done some time ago.
Moorthi

On Fri, Mar 25, 2022 at 3:35 PM GeorgeGayno-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center /

[2022-03-28 14:36] GeorgeGayno-NOAA commented on #424
Some graphics from the tests described here: https://github.com/ufs-community/UFS_UTILS/issues/424#issuecomment-1079373303

Note how the biggest differences in TSEA and TISFC only occur at (a very few) points where the sea ice is at the 15% threshold. As shown by the printout of several points in the previous comment. The CCPP version of sfcsub.F seems to have corrected a problem at the 15% ice th

[2022-03-28 14:56] GeorgeGayno-NOAA commented on #424
Maybe you fixed something, or the 'develop' version of global_cycle was not calling sfcsub.F properly. Anyway, I think the branch which uses the CCPP version is correct. Here is another look at one point from tile 6 before and after the call to sfcsub.F.

SLIFCS                       SICFCS                         TSEA                         TISFC
(258,201) before              2.00000000000000  0

[2022-03-28 20:47] StevePny commented on #637
Thanks George. Those sites don't have all the necessary files. I found the rest (e.g. vegetation_type.modis.igbp.0.05.nc) here:
https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/GFS/fix/fix_sfc_climo/

Could you add these links to the corresponding section 3.6.3 on the https://noaa-emcufs-utils.readthedocs.io website?

I found the solution to the initial MPI problem -

When I run the sfc_climo

[2022-03-28 20:48] StevePny commented on #637
I still have a problem with the routine ending prematurely:

[code]
@GeorgeGayno-NOAA do you have any idea what this could be? Perhaps a netcdf error?

[2022-03-29 12:51] GeorgeGayno-NOAA commented on #637
Can you use the APRUN_SFC variable?

[2022-03-29 12:54] GeorgeGayno-NOAA commented on #637
Looks like it stops in the ESMF regrid step. Check the ESMF log files. They begin with "PET".

[2022-03-29 17:19] StevePny commented on #637
There is no error message. What should the output look like? This is as far as they get (see below).

In the past when the process has stopped with no explanation it has been a memory issue, but I've increased the memory of the Docker container quite a bit and it still halts in the same place.

[code]

[2022-03-29 17:31] StevePny commented on #637
"Can you use the APRUN_SFC variable?"
Yes, I'm not sure how I missed that - I think it is my editor putting dark blue on a black background. That is what I was looking for.

[2022-03-29 17:58] GeorgeGayno-NOAA commented on #637
It looks like it is not an ESMF problem.

I am not familiar with your system. Are you requesting enough wall clock time?

[2022-03-29 18:00] kgerheiser commented on #637
Each process writes its own log file. Do any of the other PET files show an error?

[2022-03-29 20:03] StevePny commented on #637
"I am not familiar with your system. Are you requesting enough wall clock time?"
I'm on a Mac M1 running in an ubuntu docker container using arm64. Docker is currently configured with:
<img width="504" alt="Screen Shot 2022-03-29 at 2 06 11 PM" src="https://user-images.githubusercontent.com/11303168/160697758-dbc3d34e-fc24-4284-9a28-bba2a36bdfbf.png">

"Each process writes its own log file. Do any

[2022-03-29 21:10] StevePny commented on #637
Ok, solved. It turns out it was in fact a resource issue, I just didn't increase the memory enough. I maxed it out at 32 GB and the whole thing runs to completion:

<img width="485" alt="Screen Shot 2022-03-29 at 3 01 56 PM" src="https://user-images.githubusercontent.com/11303168/160706494-22582573-c834-4f53-9192-010a105a3894.png">

finishing with:
[code]

[2022-03-29 21:11] GeorgeGayno-NOAA commented on #629
@KateFriedman-NOAA Please use this release: https://github.com/ufs-community/UFS_UTILS/releases/tag/ops-gfsv16.2.1

[2022-03-29 21:11] #629 closed, assigned to GeorgeGayno-NOAA

[2022-03-30 13:30] GeorgeGayno-NOAA commented on #591
The second - and hopefully - final PR was created for this issue - #641.  This PR replaces the wgrib2 computation of input grid latitude/longitude with a computation from IPLIB routine gdswzd. So, our first check should compare the differences between the two computation methods. Both the branch and a local copy of develop were modified to dump the lat/lons to a netcdf file.

[2022-03-30 14:00] GeorgeGayno-NOAA commented on #591
Check lat/lon differences between develop at 31271f7 and the branch at 9f66174.

Test 1 - Check the lat/lon differences for 13km RAP data. This data is on a rotated lat/lon 'B' grid (grid definition template number - 32769).

[code]

The wgrib2 library can't compute the lat/lons for this grid, so they are read into chgres_cube from a file - latlon_grid3.32769.nc.

The differences between the file

[2022-03-30 14:29] GeorgeGayno-NOAA commented on #591
Test 2 - Check the lat/lon differences for the 3km HRRR data. This data is on a lambert conformal grid:

[code]

The differences between the wgrib2 and gdswzd computations are:

[code]

The mean differences at the center of the grid cell are very small compared to the grid resolution of 3 km. And the corner point latitude differences are small. However, the mean corner point longitude differences

[2022-03-30 14:47] GeorgeGayno-NOAA commented on #591
Test 3 - Check the lat/lon differences for 12km NAM data. This data is on a lambert conformal grid:

[code]

The differences between the wgrib2 and gdswzd computations are:

[code]
The mean differences at the center of the grid cell are very small compared to the grid resolution of 12 km. And the corner point latitude differences are small. However, as with the 3 km HRRR data, the mean corner poin

[2022-03-30 18:30] GeorgeGayno-NOAA commented on #591
Attaching some plots of corner point longitude minus center point longitude. The wgrib2 plot shows this difference is of the wrong sign (It is positive everywhere. For this N Amer. grid, it should be negative). The gdswzd plots show the expected magnitude (about 0.015 deg or 1.5 km) and sign.

![hrrr wgrib2](https://user-images.githubusercontent.com/52789452/160905740-0d404f00-ff9e-42eb-9c24-062b1

[2022-03-30 18:38] GeorgeGayno-NOAA commented on #591
Some plots. As in the previous comment (https://github.com/ufs-community/UFS_UTILS/issues/591#issuecomment-1083477629), note how the gdswzd computation make more sense:

![nam wgrib2](https://user-images.githubusercontent.com/52789452/160907245-03d25147-e693-4c57-be88-5b26bb78b63b.png)

![nam gdswzd](https://user-images.githubusercontent.com/52789452/160907279-7d99cff0-4f36-483c-8c9d-25b2c1ff0429.

[2022-03-31 20:40] GeorgeGayno-NOAA commented on #591
All files containing the input gridpoint latitude/longitudes and their differences (from the above tests) are on Hera here: /scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/chgres_cube_nowgrib2/PR641/latlon_check

Under each sub-directory, there are these netcdf files:
- latlon.gdswzd.nc - the lat/lons computed by gdswzd (the branch)
- latlon.wgrib.nc - the lat/lons computed by 'develop'.
- diff.nc

[2022-03-31 20:51] GeorgeGayno-NOAA commented on #591
Graphics from all failed consistency tests are on Hera here: /scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/chgres_cube_nowgrib2/PR641

Under each test sub-directory, the graphics are here:

- ./graphics/atm - Some atmospheric plots from the branch, and the difference between the branch and the baseline. Three vertical levels are included - the model top, bottom and a mid-level.
- ./graphics/sfc

[2022-03-31 21:00] #580 closed, assigned to LinGan-NOAA, KateFriedman-NOAA, GeorgeGayno-NOAA

[2022-04-03 16:29] DeniseWorthen commented on #143
@GeorgeGayno-NOAA I made an update to use the netcdf file. I'm getting a github action failure when I pushed the [branch](https://github.com/DeniseWorthen/UFS_UTILS/tree/feature/addunit_ncfile) back. The

[code]

[2022-04-04 15:07] GeorgeGayno-NOAA commented on #143
I will take a look.

[2022-04-04 15:20] GeorgeGayno-NOAA commented on #143
@DeniseWorthen Try adding "NetCDF::NetCDF_Fortran" to target_link_libraries - https://github.com/DeniseWorthen/UFS_UTILS/blob/feature/addunit_ncfile/sorc/cpld_gridgen.fd/CMakeLists.txt

[2022-04-04 20:10] DeniseWorthen commented on #143
@GeorgeGayno-NOAA That seemed to resolve the issue, thanks. It took me a while, but I figured out that I also needed to add the wget command to the workflows. When it still failed, I realized it was because the utility is ``cpld_gridgen`` but the files were staged under ``cpld_gengrid``. Is it easy to rename the directory on the ftp site where we grab the data?

[2022-04-04 20:53] GeorgeGayno-NOAA commented on #635
Ability to read the new global GRIB2 0.09-degree data was added at 2326904.

[2022-04-04 21:03] GeorgeGayno-NOAA commented on #143
@KateFriedman-NOAA Can you rename:

https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/ufs_utils/unit_tests/cpld_gengrid/

to

https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/ufs_utils/unit_tests/cpld_gridgen/

[2022-04-05 12:42] KateFriedman-NOAA commented on #143
Done! https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/ufs_utils/unit_tests/cpld_gridgen/

[2022-04-06 18:06] DeniseWorthen commented on #143
Thanks @KateFriedman-NOAA, the unit test now downloads the correct file and runs to completion.

[2022-04-07 14:08] GeorgeGayno-NOAA commented on #143
@MinsukJi-NOAA I looked at your branch (904ce59). I was able to run the regression tests on Hera. But they are run on the interactive node. I am not sure that is allowed.

[2022-04-07 14:11] MinsukJi-NOAA commented on #143
Given the simple and short nature of these tests, I decided to run them on the login node.

[2022-04-07 14:48] MinsukJi-NOAA commented on #143
I will start looking into implementing batch job submissions.

[2022-04-08 19:49] MinsukJi-NOAA commented on #143
@GeorgeGayno-NOAA Batch job has been implemented in [2d88836](https://github.com/MinsukJi-NOAA/UFS_UTILS/commit/2d88836377e4dd193f10bc2bc70744594c50234e).

[2022-04-08 20:41] GeorgeGayno-NOAA commented on #123
Set up a test case to check that the fractional grid logic is working.

On Venus, three sets of C96 surface files were created and placed here:
`/gpfs/dell2/emc/modeling/noscrub/George.Gayno/ufs_utils.git/chgres_cube.fractional`

1) `./my_grids_fract` - Created using the 'add_lake' option set to true.
2) `./my_grid_ceiling` - Same as 1) expect the slmsk record was updated as `ceiling(land_frac)`
3

[2022-04-13 17:52] GeorgeGayno-NOAA commented on #143
Thanks. It worked for me on Hera. Can you update for the other machines or do I need to do that?

[2022-04-13 17:59] MinsukJi-NOAA commented on #143
@GeorgeGayno-NOAA
I can update it myself for Jet and Orion, but not WCOSS 2. I will need though:
* baseline directories on Hera, Jet, and Orion
* fixed file directories on Jet and Orion

[2022-04-13 19:37] GeorgeGayno-NOAA commented on #415
@EricRogers-NOAA The `nccmp` utility is available to compare netcdf files. That utility is loaded from the build scripts.  Example: https://github.com/ufs-community/UFS_UTILS/blob/develop/modulefiles/build.hera.intel.lua#L60

Have your regression test script load the build module. Example: https://github.com/ufs-community/UFS_UTILS/blob/develop/reg_tests/chgres_cube/driver.hera.sh#L29

And here is

[2022-04-13 20:44] EricRogers-NOAA commented on #415
@GeorgeGayno-NOAA Thanks, I made the change to use nccmp in the lamda_utils regression test working script and it worked fine on all machines.

[2022-04-13 20:46] GeorgeGayno-NOAA commented on #143
I placed the baseline files on Hera under the role account directory: `/scratch1/NCEPDEV/nems/role.ufsutils/ufs_utils/reg_tests/cpld_gridgen/baseline_data`

Should I also place the 'fixed' files under the role account directory? For example: `/scratch1/NCEPDEV/nems/role.ufsutils/ufs_utils/reg_tests/cpld_gridgen/fix_mom6`

[2022-04-15 19:07] MinsukJi-NOAA commented on #143
@GeorgeGayno-NOAA I updated the baseline directory on Hera to the role account directory you created.
In order to be able to run the regression tests on Jet and Orion, fixed files need to be copied over first.
I think it may not be a bad idea to create the fixed file directory on Hera, Jet, and Orion as you suggested.
What do you think @DeniseWorthen @junwang-noaa?

[2022-04-15 19:23] junwang-noaa commented on #143
It looks good to me.

[2022-04-18 14:57] GeorgeGayno-NOAA commented on #143
Find the baseline and 'fix' files on Hera here:

- /scratch1/NCEPDEV/nems/role.ufsutils/ufs_utils/reg_tests/cpld_gridgen

And on Orion here:
- /work/noaa/nems/role-nems/ufs_utils/reg_tests/cpld_gridgen

I will move them to Jet when the maintenance is over.

[2022-04-18 15:06] MinsukJi-NOAA commented on #143
Thanks @GeorgeGayno-NOAA. I believe the directory `$MOSAICDIR` is also required. You can see its path in `ush/cpld_gridgen.sh` in my `feature/cpld_gridgen2` branch. @DeniseWorthen Can you confirm this directory is required for regression tests? Also, Should we bother to move the separate fix data directory for 4 degree case?

[2022-04-18 15:19] DeniseWorthen commented on #143
Yes, $MOSAICDIR is required in order to create the mapped ocean mask on the FV3 tiles.

The 4 degree coupled case isn't running currently in any test and I'm not sure what changes might be required to get it running. I think it will require changes to the MOM6 files for that configuration so I think we could wait on that one.

[2022-04-18 15:54] #351 closed

[2022-04-18 17:58] MinsukJi-NOAA commented on #143
@GeorgeGayno-NOAA Can we create a directory (for example on Hera) `/scratch1/NCEPDEV/nems/role.ufsutils/ufs_utils/reg_tests/cpld_gridgen/fix_fv3_gmted2010` and copy data over from `/scratch1/NCEPDEV/global/glopara/fix/fix_fv3_gmted2010`. And similarly for Orion and Jet?

[2022-04-18 18:03] GeorgeGayno-NOAA commented on #143
UFS_UTILS links to those directories. Go to the ./fix directory and invoke the script. The first argument is 'emc' and the second argument is the machine name (such as 'hera'). Then update your regression test scripts to point to the links.

[2022-04-18 21:12] MinsukJi-NOAA commented on #143
`cpld_gridgen` builds on Orion, but runtime error occurs:
[code]

[2022-04-18 21:25] DeniseWorthen commented on #143
I've never seen errors like that. I'm not sure what they indicate. I'll try to take a look.

[2022-04-19 17:43] MinsukJi-NOAA commented on #143
Some more error messages:
[code]

[2022-04-19 17:50] MinsukJi-NOAA commented on #143
I am looking into
[code]

[2022-04-19 18:19] DeniseWorthen commented on #143
Those files appear to be present and valid (I can ncdump them). Is there any issue w/ ownership, like we sometimes have on orion?

[2022-04-19 18:23] MinsukJi-NOAA commented on #143
@GeorgeGayno-NOAA , should the permission be rwxr-xr-x?
[code]

[2022-04-19 20:37] GeorgeGayno-NOAA commented on #193
@LarissaReames-NOAA Can this issue be closed?

[2022-04-19 20:40] GeorgeGayno-NOAA commented on #234
@JeffBeck-NOAA and @LarissaReames-NOAA Can we close this?

[2022-04-20 13:37] GeorgeGayno-NOAA opened #643 "Update documentation to support SRW APP v2.0"
The 'read the docs' documentation needs to be updated.

- chgres_cube now supports the WAM - new namelist option, etc.
- sfc_climo_gen now supports VIIRS-based vegetation type data.
- chgres_cube - varmap table changes. See #556.
- chgres_cube - new GRIB2 humidity processing (new routines "use_rh" and "calrh").  #566
- orog_gsl - new orography generation program that outputs fields for the GSL GWD

[2022-04-20 13:41] GeorgeGayno-NOAA commented on #643
@mdtoy We will need you help to document the 'orog_gsl' program.

[2022-04-20 15:04] mdtoy commented on #643
Sounds good.  Let me know how I can help.

[2022-04-20 15:13] GeorgeGayno-NOAA commented on #643
We need basic information about the program. Its purpose, inputs/outputs etc. You can use the description of the older orog program as a guide: https://georgegayno-noaaufs-utils.readthedocs.io/en/feature-srw_doc/ufs_utils.html#orog

You can add your information to this issue, or use a google doc and link to it. I will add the information to my branch, then create the updated 'readthedocs'.

[2022-04-20 15:56] mdtoy commented on #643
Here is a description of the "orog_gsl” code:

This code creates orographic statistics fields required for the orographic drag suite developed by NOAA's Global Systems Laboratory (GSL).  The fields are a subset of the ones calculated by "orog.fd" except that they are calculated in a different manner.  The fields are:
stddev -- standard deviation of subgrid topography
convexity -- convexity of subg

[2022-04-20 18:05] GeorgeGayno-NOAA commented on #643
I updated the sfc_climo_gen part. Where will the community access the input climo files? Currently, I refer to the link in the fix directory (./fix/fix_sfc_climo): https://georgegayno-noaaufs-utils.readthedocs.io/en/feature-srw_doc/ufs_utils.html#id30

Here? https://ftp.emc.ncep.noaa.gov/static_files/public/UFS/GFS/fix_nco_gfsv16/fix_sfc_climo/

[2022-04-20 18:50] JeffBeck-NOAA commented on #643
@GeorgeGayno-NOAA, thanks!  For those not on NOAA HPC, the [documentation](https://ufs-srweather-app.readthedocs.io/en/develop/InputOutputFiles.html#static-files) points the user to the AWS instance of the fixed files [here](https://ufs-data.s3.amazonaws.com/public_release/ufs-srweather-app-v1.0.0/fix/fix_files.tar.gz).  Do any of the sfc_climo_gen files need to be updated?  I didn't think so.

[2022-04-20 20:01] GeorgeGayno-NOAA commented on #143
Sorry. Try it now.

[2022-04-20 20:09] MinsukJi-NOAA commented on #143
[code]
Still resulting in the segmentation fault:
[code]

[2022-04-20 20:14] DeniseWorthen commented on #143
Let me take a look at this.

[2022-04-20 20:19] MinsukJi-NOAA commented on #143
In the error message above, the correct line number for `gen_fixgrid.F90` is 519 and not 520.

[2022-04-20 20:21] GeorgeGayno-NOAA commented on #643
@mdtoy Is this Ok? https://georgegayno-noaaufs-utils.readthedocs.io/en/feature-srw_doc/ufs_utils.html#orog-gsl

[2022-04-20 20:44] mdtoy commented on #643
Yes, this looks good.  Thank you.

[2022-04-20 21:34] #591 closed, assigned to kgerheiser, edwardhartnett, GeorgeGayno-NOAA

[2022-04-20 21:42] DeniseWorthen commented on #143
I'm not able to run the test on orion yet. I merged your cpld_gridgen2 branch into my fork. There were a lot of differences, but I don't think that is the issue. I had the added unit test and doxygen and you had the added RT functionality.

Then I checked it out on orion and in reg_tests/cpld_gridgen I tried ./rt.sh -c >output 2>&1 &. My log file shows

[code]

My directory is /work/noaa/marine/dw

[2022-04-20 21:51] MinsukJi-NOAA commented on #143
A large part of the differences came from merging with the UFS UTILS develop branch.

[2022-04-21 09:37] DeniseWorthen commented on #143
I see now that you also got the ``_get_addr error`` earlier, but in your case it seemed to be resolved by changing the permissions on the MOM6 files, is that right?

[2022-04-21 12:29] MinsukJi-NOAA commented on #143
Sorry for the confusion. The changed error messages are from not using the batch system and just using the login node. See these changes:
[code]

[2022-04-21 18:14] DeniseWorthen commented on #143
Thanks, I've got it running now---or not running actually. I get the same error as you see but I don't see an obvious cause. This ran OK when you tested on Hera, correct?

[2022-04-21 18:16] MinsukJi-NOAA commented on #143
Yeah, it works fine on Hera. I am going to try on Jet.

[2022-04-21 19:02] DeniseWorthen commented on #143
I think I've found the way to fix it. Do you remember a few days ago I mentioned Tony Craig asking me for help on getting the CICE6 standalone tests running on Orion? His solution was to use  ulimit -s unlimited. I did that and I've just re-run in a sandbox and the code completed. Dusan mentioned we use this on orion but not hera. Do you know where it is set for UWM?

[2022-04-21 19:06] MinsukJi-NOAA commented on #143
That's great!
Line 25 of `ufs-weather-model/tests/fv3_conf/fv3_slurm.IN_orion`:
`ulimit -s unlimited`

[2022-04-21 19:25] MinsukJi-NOAA commented on #143
I just tried on Orion, and the regression test passed.

[2022-04-21 19:28] DeniseWorthen commented on #143
My actual RT didn't pass--it is looking for the mosaicdir I think. Do you have changes you haven't pushed back yet?

Also I noticed we'll need one more file in the fix directories for the 100 case: topo_edits_011818.nc

[2022-04-21 19:33] MinsukJi-NOAA commented on #143
Before running rt, you need to go into the `UFS_UTILS/fix` directory and invoke `./link_fixdirs.sh emc orion`. This will establish soft links to fix directories.

[2022-04-21 19:39] MinsukJi-NOAA commented on #143
`topo_edits_011818.nc` seems to be there already:

[code]

[2022-04-21 19:42] DeniseWorthen commented on #143
OK thanks---I must be going blind.

[2022-04-21 19:54] GeorgeGayno-NOAA commented on #143
I placed the baseline and fix data on Jet under the role account directory - `/lfs4/HFIP/hfv3gfs/emc.nemspara/role.ufsutils/ufs_utils/reg_tests/cpld_gridgen`

[2022-04-22 18:33] MinsukJi-NOAA commented on #143
I see that Jet also requires `ulimit -s unlimited`. Otherwise, same errors seen on Orion result.

[2022-04-22 20:30] GeorgeGayno-NOAA commented on #643
I think my part is (mostly) finished. Here it is: https://georgegayno-noaaufs-utils.readthedocs.io/en/feature-srw_doc/index.html

There are a few links I am unsure of. Will there be a new directory (v2p0) for the fix data?
https://ftp.emc.ncep.noaa.gov/EIB/UFS/SRW/v1p0/fix/

And some data, such as the VIIRS vegetation data will need to be hosted there.

[2022-04-23 01:42] JeffBeck-NOAA commented on #643
Thanks, @GeorgeGayno-NOAA!  I'm unsure whether EPIC plans to use the EMC FTP website and/or the cloud to stage fixed files/external model data for the v2 release.  @mark-a-potts, could you comment on this?  Thanks!

[2022-04-23 18:05] MinsukJi-NOAA commented on #143
Regression tests are working for all 3 platforms: Hera, Orion and Jet.

@GeorgeGayno-NOAA I am guessing the Hera baselines were copied to Orion and Jet. Orion is `nccmp` reproducible, whereas Jet is not. Therefore, Jet baselines need to be generated by:
[code]
Then copying `../../../CPLD_GRIDGEN/BASELINE` to `/lfs4/HFIP/hfv3gfs/emc.nemspara/role.ufsutils/ufs_utils/reg_tests/cpld_gridgen/baseline_d

[2022-04-25 14:43] GeorgeGayno-NOAA commented on #143
Done!

[2022-04-25 14:43] GeorgeGayno-NOAA commented on #143
Suggestion: can you make the compilation of the repository optional?

[2022-04-25 15:36] MinsukJi-NOAA commented on #143
Done.

[2022-04-25 16:24] MinsukJi-NOAA commented on #143
https://github.com/MinsukJi-NOAA/UFS_UTILS/tree/feature/cpld_gridgen2 has been updated to the latest NOAA-EMC/UFS_UTILS/tree/develop.

A PR can be made to NOAA-EMC/UFS_UTILS once @DeniseWorthen's unit test changes are merged in.

[2022-04-25 16:53] DeniseWorthen commented on #143
I'll merge your changes, Thanks so much!

[2022-04-26 18:21] GeorgeGayno-NOAA commented on #643
There is an issue open for hosting the fixed data: https://github.com/ufs-community/regional_workflow/issues/716

[2022-04-26 19:25] JeffBeck-NOAA commented on #643
@GeorgeGayno-NOAA, is it just the VIIRS climo data that are new?  If so, have those been propagated across HPC platforms?  @mkavulich recently tarred up fixed files for the SRW App v2 release and is providing them to @CSyl to stage online, so I'm wondering if they were already included?

[2022-04-26 20:16] GeorgeGayno-NOAA commented on #643
Yes, the VIIRS data is hosted on all officially supported machines under the ./fix/fix_sfc_climo directory.

Other new files:
- The orog_gsl program (which creates the GSL GWD fields) uses two input files - "geo_em.d01.lat-lon.2.5m.HGT_M.nc" and "HGT.Beljaars_filtered.lat-lon.30s_res.nc". These are located under ./fix/fix_am. (I am not sure why these were not placed under ./fix/fix_orog).

- The l

[2022-04-26 22:26] JeffBeck-NOAA commented on #643
@GeorgeGayno-NOAA, thanks.  I believe the orography, sfc_climo, and lake_frac fixed files are already in the tarball that @mkavulich put together.  Mike, can you confirm?

For the orog_gsl fixed files, we should get those moved to fix_orog.

[2022-04-28 15:43] #619 closed, assigned to kgerheiser, GeorgeGayno-NOAA

[2022-04-28 15:55] GeorgeGayno-NOAA commented on #643
@JeffBeck-NOAA and @LarissaReames-NOAA - do you want me to add your documentation updates to my branch? Or do you want to open your own branch?

[2022-04-28 18:43] GeorgeGayno-NOAA commented on #123
@yangfanglin @shansun6 I think I have this working. How do you want to test it?

[2022-04-28 19:06] ShanSunNOAA commented on #123
Thanks for working on it. I'd be happy to test it.  -Shan

On Thu, Apr 28, 2022 at 12:43 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-04-28 20:37] GeorgeGayno-NOAA commented on #123
Can you clone my fork and compile my branch?

[2022-04-29 17:49] GeorgeGayno-NOAA commented on #123
The tests (4/5/6) were run using the branch at 64f3469 and the script (on Dell) here - /gpfs/dell2/emc/modeling/noscrub/George.Gayno/ufs_utils.git/chgres_cube.fractional/run.chgres.sh.

The comparisons (7/8) were done and found to be correct.

[2022-04-29 18:01] GeorgeGayno-NOAA commented on #123
Several new records were added (64f3469) to the output surface coldstart file when running in coupled/fractional grid mode. These are:

- alvsf/alvwf/alnsf/alnwf - snow-free albedo at points with some land. Flag value (-9) elsewhere.
- alvsf_nl/alvwf_nl/alnsf_nl/alnwf_nl - snow-free albedo at points with some non-land. Flag value (-999) at points with all land.
- stc - soil column temperature at p

[2022-04-29 20:46] JeffBeck-NOAA commented on #643
@GeorgeGayno-NOAA, I think we can add it to your branch, but it's not quite ready.  We'll need to finalize those changes soon.  Thanks!

[2022-05-02 19:53] GeorgeGayno-NOAA commented on #570
I will work this under #610.

[2022-05-02 19:53] #570 closed, assigned to edwardhartnett

[2022-05-02 19:57] edwardhartnett commented on #570
OK, awesome. I already did this for one of the repos, I can't remember which.

Basically just create a directory for each release, and have the top-level page point to those subdirectories.

Then build the documentation as usual, but copy it to one of the subdirectories of the gh-pages branch.

[2022-05-03 12:48] GeorgeGayno-NOAA commented on #643
We now have a way to host the doxygen for multiple tags and releases. See #610.

[2022-05-03 13:05] GeorgeGayno-NOAA commented on #546
What is the status of this issue? Does glbevents use bufrlib?

[2022-05-03 13:09] edwardhartnett commented on #546
I don't know. ;-)

[2022-05-03 18:56] #610 closed, assigned to GeorgeGayno-NOAA

[2022-05-03 19:56] GeorgeGayno-NOAA commented on #143
@MinsukJi-NOAA I tried your branch (46ea554) on Orion. The script failed at the 'ulimit -s unlimited' step. For some reason, Orion does not let me set the ulimit from the interactive nodes. If I remove that line from rt.sh, everything worked. Did you need to use 'ulimited' on Orion? It may not be needed.

For some regression tests, using ulimited is required. I got around this problem by setting t

[2022-05-03 20:30] MinsukJi-NOAA commented on #143
@GeorgeGayno-NOAA Do you think this unlimited issues is specific to your account? I just ran the regression test successfully on Orion.

[2022-05-03 21:02] GeorgeGayno-NOAA commented on #143
I just tried running under our role account. It worked. So, there is something odd about my account. You don't need to make any changes.

[2022-05-04 13:55] GeorgeGayno-NOAA commented on #143
All regression tests are run off the cron each day on supported machines using this driver script - https://github.com/ufs-community/UFS_UTILS/blob/develop/reg_tests/rt.sh. Other regression tests create a small 'summary.log' file at the very of its processing. This driver script searches for the existence of this 'summary.log' file to determine when a test has completed. An example of this file fr

[2022-05-04 21:12] MinsukJi-NOAA commented on #143
@GeorgeGayno-NOAA  Is summary.log generated only when all tests pass? In other words, if one of the tests fails, summary.log does not get generated?

[2022-05-05 12:11] GeorgeGayno-NOAA commented on #143
Always generate the summary log. List all tests whether they failed or passed.

[2022-05-05 21:57] ShanSunNOAA commented on #123
I think that it would be a good idea to separate out all of the variables
that we separated out in 'GFS_surface_composites'. It may not be needed now
but it's good to have the capability in the future.

Thanks,
Shan

On Fri, Apr 29, 2022 at 12:01 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-05-05 22:07] natalie-perlin opened #645 "HPC modules to be updated and in sync with those used for ufs-weather-model"
HPC modules used on supported systems in .UFS_UTILS/modulefiles/ need to be updated with the hpc-stack modules built and used for the  `ufs-weather-model`.

Updates of the module list for cheyenne , for both Intel and GNU compilers, is proposed for the ufs-weather-model in a PR#250 and is under review: [
](https://github.com/ufs-community/ufs-srweather-app/pull/250)
This list in [PR#250](https://g

[2022-05-05 22:11] ShanSunNOAA commented on #123
If you could copy these files on hera, I'd be happy to look at the output.

In addition, if you could provide detailed instructions on how to run
chgres_cube under your fork that I have now, that would be great.

Thanks,
Shan

On Fri, Apr 29, 2022 at 11:50 AM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-05-06 15:17] kgerheiser commented on #634
Hey @GeorgeGayno-NOAA we're ready to try this. Newer Intel compilers are complete on all of our systems. 2022.1.2 on Hera, Orion, Jet, and 2021.3.0 on Gaea.

[2022-05-06 15:35] GeorgeGayno-NOAA commented on #645
@natalie-perlin Is this required for the SRW App v2?

[2022-05-06 16:17] GeorgeGayno-NOAA commented on #123
I can copy some files to Hera.

To run chgres_cube for coupled mode you should only have to change the namelist. There is a new namelist variable - fract_grid. Set it to '.true.'

[2022-05-06 16:39] GeorgeGayno-NOAA commented on #123
@shansun6 Sample files are on Hera here: /scratch2/NCEPDEV/stmp1/George.Gayno/For_Shan

[2022-05-06 16:43] ShanSunNOAA commented on #123
Got it - thanks! I will make several plots and get back to you.   -Shan

On Fri, May 6, 2022 at 10:39 AM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-05-06 19:03] GeorgeGayno-NOAA commented on #635
The new AFWA 0.09-degree global data was tested using the branch at 35e9f1f and the scripts and config file in /gpfs/dell2/emc/modeling/noscrub/George.Gayno/afwa_new (Venus).
- fort.41.global - program config file
- run.sh - the run script.

[2022-05-06 19:08] GeorgeGayno-NOAA commented on #635
Here are plots from the test. Note that the input and output data (at T1534) match. The branch is working.

![afwa](https://user-images.githubusercontent.com/52789452/167201972-a8cb5739-4c3f-4078-ad13-b1d4348c2c05.png)
![snow2mdl](https://user-images.githubusercontent.com/52789452/167202015-af476930-9a7c-4067-97d8-dd5c15b7c716.png)

[2022-05-07 12:37] DeniseWorthen opened #649 "add additional unit test for cpld_gridgen for vertex retrievals"
A second unit test should be added for the cpld_gridgen utility which tests the retrieval of the vertex points at each stagger location.

[2022-05-09 20:30] ShanSunNOAA commented on #123
Hi George,

Thanks for copying your sfc_data onto hera. I have gone over them. Before I
send you my comments, could you please copy over the oro_data as well? This
way I won't guess what 'land_frac' is.

Thanks,
Shan

On Fri, May 6, 2022 at 10:42 AM Shan Sun - NOAA Federal ***@***.***>
wrote:

[2022-05-09 20:38] GeorgeGayno-NOAA commented on #123
There are here - /scratch2/NCEPDEV/stmp1/George.Gayno/For_Shan/my_grids_fract

[2022-05-10 04:28] ShanSunNOAA commented on #123
Hi George,

Thanks for copying over the oro_data files. I am comparing your oro_data
against your sfc_data.

As a first step, I picked 10 points with different landfrac to see various
temperatures on these 10 points, see attached.

(1) The first 4 points are ocean points without ice. I like the flag value
(-999.9) assigned to tsfcl on the ocean points. Could you explain why tisfc
is set to zero an

[2022-05-11 15:27] GeorgeGayno-NOAA commented on #123
Per @shansun6 request, update flag value to be 'large' at 6e17ccd. Reran test case and placed files on Hera here: /scratch2/NCEPDEV/stmp1/George.Gayno/For_Shan.missing.flag

[2022-05-12 15:10] GeorgeGayno-NOAA commented on #637
@StevePny Is everything working for you? Can we close this issue?

[2022-05-12 20:26] GeorgeGayno-NOAA commented on #634
The branch at f374d1a was successfully compiled on Hera, Orion, Jet, WCOSS-Cray and WCOSS-Dell. And the regression tests were run on Hera and Jet. All tests passed.

[2022-05-12 21:13] GeorgeGayno-NOAA commented on #634
All regression tests passed on Orion using the branch at b57d186.

[2022-05-13 04:30] ShanSunNOAA commented on #123
George,

Thanks for updating the flag value. They are looking better.

I have questions on a few variables, see those highlighted here
<https://docs.google.com/presentation/d/1CEpNv1NGg8S5kzYNhzKGnU_VlgVG-vh4IOjNscqOH3Y/edit?usp=sharing>
.

BTW, the internal ice temperature in the model has 2 layers. So I'd suggest
using a dimension of 2 (instead of 4) for the newly introduced stc_ice,
unless ther

[2022-05-13 13:45] #634 closed, assigned to GeorgeGayno-NOAA

[2022-05-13 13:54] GeorgeGayno-NOAA commented on #123
Thanks, @shansun6. I will take a look.

[2022-05-13 21:04] GeorgeGayno-NOAA commented on #123
Per @shansun6 request, output only two layers of `stc_ice` (ice column temperature). The ice model only uses two layers. Done at 49ebe05.

[2022-05-16 21:31] ZhanZhang-NOAA opened #651 "The latest version of chgres_cube does not support GEFS or any ensemble grib2 files as input"
@GeorgeGayno-NOAA The chgres_cube used to support reading in GEFS or any ensemble grib2 files, but the function is broken in the latest version. It doesn't support reading in GEFS or any ensemble grib2 files anymore. It looks like that the product definition template is hard-code to 0 in input_data,F90, which is only for deterministic forecast/analysis, while product definition template for ensemb

[2022-05-17 13:08] GeorgeGayno-NOAA commented on #651
@ZhanZhang-NOAA do you have a sample GRIB2 dataset that causes the failure?

[2022-05-17 14:50] ZhanZhang-NOAA commented on #651
@GeorgeGayno-NOAA Yes, here is one example on jet:
/mnt/lfs4/HFIP/hwrf-vd/Zhan.Zhang/hafstmp/H222_ensemble_bdygefs/2020082506/00L/atm_lbc001_ens/mem002/bc_f006/gep02.t06z.pgrb2abf06
I also copied the same file to WCOSS1:
/gpfs/dell2/emc/modeling/noscrub/Zhan.Zhang/UFS_UTILS_test/gep02.t06z.pgrb2abf06

[2022-05-20 12:57] #645 closed, assigned to natalie-perlin

[2022-05-20 17:33] GeorgeGayno-NOAA opened #652 "Add 'atmos' subfolder to global_cycle_driver.sh"
Per request of the global workflow group.

See https://github.com/NOAA-EMC/global-workflow/issues/802

[2022-05-20 18:27] GeorgeGayno-NOAA commented on #651
@ZhanZhang-NOAA I was able to reproduce the error. The logic can't find any vertical levels -

[code]

Let me work on a fix.

[2022-05-20 21:09] GeorgeGayno-NOAA commented on #651
The GEFS data is identified in the ID section (section 1): https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_sect1.shtml

octets 6-7 are '7' (NCEP) https://www.nco.ncep.noaa.gov/pmb/docs/on388/table0.html
octets 8-9 are '2' (NCEP Ensemble products) https://www.nco.ncep.noaa.gov/pmb/docs/on388/tablec.html

[2022-05-23 11:57] DavidHuber-NOAA opened #653 "Update support for S4"
Support for S4 should be updated by building against Intel 2022.1 and the new hpc-stack suite on that system.  Additionally, regression testing support should be added.  @DavidHuber-NOAA will take on this task.

[2022-05-23 14:22] #635 closed, assigned to GeorgeGayno-NOAA

[2022-05-24 20:26] GeorgeGayno-NOAA commented on #651
I think I have a fix. Test scripts/data on Mars - `/gpfs/dell2/emc/modeling/noscrub/George.Gayno/ufs_utils.git/zhan`

[2022-05-24 20:27] GeorgeGayno-NOAA commented on #651
@ZhanZhang-NOAA Can you try my fix? Close my branch, then checkout my branch:

[code]

[2022-05-24 21:20] GeorgeGayno-NOAA commented on #652
@KateFriedman-NOAA Is this correct?

[code]

[2022-05-25 12:51] KateFriedman-NOAA commented on #652
@GeorgeGayno-NOAA Looks good! One comment, perhaps use the `$COMPONENT` variable to set "atmos"? Thanks!

[code]

[2022-05-25 18:13] GeorgeGayno-NOAA commented on #652
@KateFriedman-NOAA Try my branch at 28500be -

[code]

[2022-05-25 18:29] KateFriedman-NOAA commented on #652
This is for GFSv17+ right? I double checked and don't see `global_cycle_driver.sh` being invoked by the GFS in ops (GFSv16.2.0). I see `global_cycle.sh` but that script doesn't use `DMPDIR` files. I'm guessing this is an offline script only then? If so, what is the best way to test it?

[2022-05-25 19:41] GeorgeGayno-NOAA commented on #652
If the global_workflow does not use `global_cycle_driver.sh`, then maybe I should remove it from the repository. Are there future plans to use that script in global_workflow?

[2022-05-25 19:47] KateFriedman-NOAA commented on #652
No plans that I am aware of. @aerorahul @RussTreadon-NOAA @yangfanglin Do you happen to know of any reason for George to keep `global_cycle_driver.sh` around? The global-workflow uses `global_cycle.sh` at runtime in the GFS but I see no mention or use of `global_cycle_driver.sh`. Thanks!

[2022-05-25 20:23] yangfanglin commented on #652
@GeorgeGayno-NOAA  Shouldn't we keep it so one can run glocal_cycle offline test ?

[2022-05-25 20:48] GeorgeGayno-NOAA commented on #652
Alright, I can keep it.

[2022-05-26 15:17] #653 closed, assigned to DavidHuber-NOAA

[2022-05-26 15:32] GeorgeGayno-NOAA commented on #652
Tested on Mars using my branch at 28500be. The test was done with one of the `global_cycle` regression tests. That test uses local copies of the operational snow, ice and SST analysis for that date, and calls `global_cycle.driver.sh`. Modify the regression test script to point to Kate's dump directory, which contains the same snow, ice and SST files as my local directory. The script was updated to

[2022-05-31 17:59] #143 closed

[2022-05-31 21:21] GeorgeGayno-NOAA commented on #643
Is this where the 'fixed' data will reside? https://noaa-ufs-srw-pds.s3.amazonaws.com/index.html#fix/

[2022-06-01 18:34] #643 closed, assigned to GeorgeGayno-NOAA, LarissaReames, JeffBeck-NOAA

[2022-06-01 20:02] GeorgeVandenberghe-NOAA commented on #596
Who is the original author(s)  of the code.   The problem in testing reported, was a binding mismatch the intel compiler let slide (for now).  But it's fundamental.    If the original author isn't available we will probably have to do a thorough analysis of the code for other possible errors Intel is letting slide and gnu is catching.   I don't have a lot of time until after WCOSS2 goes live, afte

[2022-06-01 20:20] dmwright526 commented on #596
Thanks @GeorgeVandenberghe-NOAA. Like As I mentioned above, this code is modified from HRRR for ingesting lake surface conditions which was developed on Intel compilers. While it is likely I added additional errors to the code, to my knowledge it was never ported to GNU.

[2022-06-02 06:34] edwardhartnett commented on #596
OK, have you tried with the address santizer in GNU? Build with CFLAGS='-g -fsanitize=address -fno-omit-frame-pointer' and rerun the test. You will get much more info about why it fails.

[2022-06-06 16:13] ZhanZhang-NOAA commented on #651
I was on AL for the last two weeks, I will test your fix soon and let you
know as soon as I get the results.
Many thanks!

-Zhan

On Tue, May 24, 2022 at 4:27 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-06-08 14:20] GeorgeGayno-NOAA commented on #549
Sample restart files from @jiandewang are on Hera in the `/scratch1/NCEPDEV/nems/emc.nemspara/RT/NEMSfv3gfs/develop-20220601/INTEL/cpld_bmark_p8/RESTART` directory.

[2022-06-09 21:08] XianwuXue-NOAA opened #657 "Improve util/gdas_init to archive initial condition for GEFS"

[2022-06-10 14:33] #652 closed, assigned to GeorgeGayno-NOAA

[2022-06-12 18:50] ZhanZhang-NOAA commented on #651
@GeorgeGayno-NOAA I tested the bugfix version of chgres, it worked fine with GEFS input.

[2022-06-13 13:19] GeorgeGayno-NOAA commented on #651
Did you test the cold start files in the forecast model?

[2022-06-13 14:05] ZhanZhang-NOAA commented on #651
Yes, I did. I ran the end-to-end HAFS system using GEFS as input for IC/BC,
the forecast job completed successfully.

On Mon, Jun 13, 2022 at 9:19 AM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-06-13 14:13] GeorgeGayno-NOAA commented on #651
That's great! I would like to turn your test into a new regression test for GEFS data. Can I get your input GEFS file, the chgres configuration namelist, and the coldstart files?

[2022-06-13 21:13] ZhanZhang-NOAA commented on #651
My test run files are on jet:
1. Directory to create initial condition (IC):
1a.  GEFS input file:
/mnt/lfs4/HFIP/hwrfv3/Zhan.Zhang/hafstmp/H222_ensemble_gefs_00/2020082506/00L/atm_ic/gec00.t06z.pgrb2abf00
1b. chgres namelist for IC:
/mnt/lfs4/HFIP/hwrfv3/Zhan.Zhang/hafstmp/H222_ensemble_gefs_00/2020082506/00L/atm_ic/fort.41
2. Directory to create lateral boundary condition (06h LBC):
2a. GEFS inp

[2022-06-16 15:40] edwardhartnett commented on #596
Is there a PR up that demonstrates this problem?

Aren't the FVCOM tests run in CI? If so, how come CI is passing? If not, can we get them to run in CI? Then we could all see the failure, and also we already have address sanitizer running in CI...

[2022-06-16 17:24] dmwright526 commented on #596
The FVCOM unit tests are currently commented out in the CMakeList.txt file in the test directory as to not keep raising the known error with GNU. Adding this line back in will allow the unit test to be compiled and then run to show the error.

The address sanitizer flags, as I tested them, only specifies the fcst_nwp object (called named "fcst" in the code) as the culprit. I have tried digging dee

[2022-06-21 14:53] GeorgeGayno-NOAA opened #659 "Incorporate new fixed files"
Point to new `fix_NEW` directories instead of the `fix` directory. Add link for the new fractional grid files in `fix_fv3_fracoro`.

Related to: https://github.com/NOAA-EMC/global-workflow/issues/863

[2022-06-23 18:36] GeorgeGayno-NOAA opened #660 "Update chgres_cube to process RRFS GRIB2 data"
This data uses a GRIB2 GDT template number of "1", which is not recognized by chgres. Other code updates may also be required.

[2022-06-27 12:26] #651 closed, assigned to GeorgeGayno-NOAA

[2022-06-29 12:56] GeorgeGayno-NOAA commented on #660
Test case on Hera: /scratch1/NCEPDEV/da/George.Gayno/noscrub/eric.rrfs

Work on hold until G2 library issue is addressed - https://github.com/NOAA-EMC/NCEPLIBS-g2/issues/36

[2022-06-29 14:09] kgerheiser commented on #660
Thanks for the test case

[2022-06-29 18:34] GeorgeGayno-NOAA commented on #660
I added a print of the number of records read by the inventory loop. See 7185ed5. The test case only reads 389 records out of more than 1000. It stops exactly at the 2GB mark.

[2022-07-05 13:05] GeorgeGayno-NOAA opened #661 "Update default ice climatology in ./ush/global_cycle.sh"
The global-workflow group would like the following change to `./ush/global_cycle.sh`.

FNAISC=${FNAISC:-"$FIX_AM/CFSR.SEAICE.1982.2012.monthly.clim.grb"}
with
FNAISC=${FNAISC:-"$FIX_AM/IMS-NIC.blended.ice.monthly.clim.grb"}

No source code changes were requested.

See https://github.com/NOAA-EMC/global-workflow/issues/886

[2022-07-06 19:05] GeorgeGayno-NOAA opened #662 "Update GDAS initialization utility for GFS v16 tarball name change"
Starting with the June 28, 2022 cycle, the v16 tarballs in HPSS have "v16.2" as part of the file name. Example:

- com_gfs_v16.2_gdas.20220628_00.gdas.tar
- com_gfs_v16.2_enkfgdas.20220628_18.enkfgdas_restart_grp8.tar
- com_gfs_v16.2_gfs.20220628_18.gfs.tar

Update the utility accordingly.

[2022-07-07 15:46] GeorgeGayno-NOAA commented on #559
Almost ready to merge.

Checked out the branch at b75f502 on Cactus. All programs were successfully built using the `build_all.sh` script. And the 'fixed' files were successfully linked using the `./fix/link_fixdirs.sh` script.

Next steps - run all consistency tests and utility scripts.

[2022-07-07 16:06] GeorgeGayno-NOAA commented on #559
Next, all the utility scripts were run:

- `./util/vcoord_gen/run.wcoss2.sh` was successfully run to create a `global_hyblev.txt` file.
- `./util/sfc_climo_gen/run.wcoss2.sh` was successfully run to create C384 surface climatological field files.
- `./util/gdas_init/driver.wcoss2.sh` was successfully run to create C192/C96 GDAS initial conditions using GFS v16 production data from 2022/06/26/06Z.

[2022-07-07 17:28] GeorgeGayno-NOAA commented on #559
Next run the consistency tests. Here, the baseline data was copied over from WCOSS-Dell.

The `snow2mdl` and `ice_blend` tests both passed.

[2022-07-07 17:33] GeorgeGayno-NOAA commented on #559
All `global_cycle` tests passed.

[2022-07-07 18:01] GeorgeGayno-NOAA commented on #559
All `chgres_cube` tests failed. However, differences with the baseline (from Dell) were small. The largest differences I could find were from the surface portion of the `13km_na_gfs_ncei_grib2` tests:

[code]

But these differences are not large enough to be a concern.

[2022-07-07 18:33] GeorgeGayno-NOAA commented on #559
Finally, the `grid_gen` tests were run. The "C96 uniform" test passed. But the "C96 VIIRS", "GFDL REGIONAL", "ESG REGIONAL" and "REGIONAL GSL GWD" tests failed.  However, differences were not concerning. Here are some differences from the "REGIONAL GSL GWD" test -

The C772_grid.tile7.halo5.nc file -
[code]

The C772_oro_data.tile7.halo5.nc file -

[code]

The C772.snowfree_albedo.tile7.halo5.nc f

[2022-07-07 19:09] GeorgeGayno-NOAA commented on #559
Note: the `cpld_gridgen` program does not work on WCOSS2. Due to time constraints (WCOSS2 is now operational), this will be fixed later under #663.

[2022-07-07 19:11] GeorgeGayno-NOAA opened #663 "cpld_gridgen program does not work on WCOSS2."
Something is not working. Looks like an ESMF error.

[2022-07-11 19:36] GeorgeGayno-NOAA opened #665 "Remove all references to WCOSS1 from UFS_UTILS"
Access to WCOSS1 ends July 14. Then the machines will be retired. Remove all references to WCOSS1 from UFS_UTILS. This includes scripts and build modules.  Update documentation as necessary.

[2022-07-19 01:58] kgerheiser opened #668 "Use Spack to build dependencies in Github Actions"
This will significantly simplify the current scheme where everything is built manually.

[2022-07-19 12:24] #662 closed, assigned to GeorgeGayno-NOAA

[2022-07-20 18:57] GeorgeGayno-NOAA opened #670 "Update global_cycle to use latest version of CCPP sfcsub.F"
The CCPP version of sfcsub.F was recently updated. The updates were minor, but it is important to always be pointing to the latest version.

[2022-07-21 13:48] aerorahul opened #673 "Utility to generate weights for interpolation."
The global-workflow houses a utility [weight_gen](https://github.com/NOAA-EMC/global-workflow/tree/develop/sorc/gaussian_sfcanl.fd/weight_gen).  Its description is contained in this [README](https://github.com/NOAA-EMC/global-workflow/blob/develop/sorc/gaussian_sfcanl.fd/weight_gen/README).

This utility is not used in the workflow and does not belong in the workflow.

This issue is opened to docu

[2022-07-21 14:04] GeorgeGayno-NOAA commented on #673
Do you want just 'weight_gen' or the entire 'gaussian_sfcanl' suite of programs?

[2022-07-21 14:08] aerorahul commented on #673
Just weight_gen, as it seems a much more general utility. The Gaussian Surface analysis utility has a specific application for global applications.
We can discuss it's use and appropriate location later.
This issue was to start that conversation.
Thank you.

[2022-07-21 14:12] GeorgeGayno-NOAA commented on #673
I will look at `weight_gen` today.

[2022-07-21 14:33] aerorahul commented on #673
Thank you @GeorgeGayno-NOAA
The version in develop has not been converted to cmake.
I have a branch in review that builds this utility w/ CMake.
It is [here](https://github.com/NOAA-EMC/global-workflow/tree/feature/remove-obsolete-platforms/sorc/gaussian_sfcanl.fd/weight_gen)

[2022-07-21 15:44] GeorgeGayno-NOAA commented on #673
Thanks. It is working.

[2022-07-21 15:53] GeorgeGayno-NOAA opened #674 "Update Github actions to use latest version of macOS"
Recently, the Github actions tests have been breaking. I am getting this warning about macOS 10.15 being deprecated: https://github.com/actions/virtual-environments/issues/5583.

The NCEPLIBS team recommends using macos-latest. And they also recommend using ubuntu-latest.

[2022-07-25 18:09] #674 closed, assigned to GeorgeGayno-NOAA

[2022-07-25 19:14] #665 closed, assigned to GeorgeGayno-NOAA

[2022-07-25 20:26] GeorgeGayno-NOAA commented on #633
The ESMF group recommends a switch to ESMF v8.3 to help fix this. I just tried v8.3 on Hera using develop at f658c1e and all chgres regression tests passed. Will open an issue to upgrade to v8.3.

[2022-07-25 20:30] GeorgeGayno-NOAA opened #676 "Upgrade to ESMF v8.3.1"
Use the v8.3.1 tag, which fixes the memory bottleneck in chgres_cube. See #633.

https://github.com/esmf-org/esmf/releases/tag/v8.3.1

[2022-07-26 13:42] #661 closed, assigned to GeorgeGayno-NOAA

[2022-08-02 14:09] GeorgeGayno-NOAA commented on #673
@aerorahul I think I have everything working. Do you have some existing 'scrip' files I can use for a baseline test? If not, can you try my branch at 5934dbc and let me know if it is working.

[2022-08-02 14:45] #637 closed, assigned to nobody

[2022-08-02 14:47] #582 closed, assigned to MatthewPyle-NOAA, GeorgeGayno-NOAA

[2022-08-02 15:02] GeorgeGayno-NOAA opened #678 "Release Version 1.8.0"
The latest release - v1.7.0 - does not support our new WCOSS2 machine. Create a new release:

- Update the VERSION file.
- Use the tag name `ufs_utils_1_8_0`
- After updating the VERSION file, rebuild the documentation and update the `gh-pages` branch.
- Update the bullet list of items in the release notes, with links to the issues closed.
- After doing the release, create draft release notes (via

[2022-08-02 15:08] #659 closed, assigned to GeorgeGayno-NOAA

[2022-08-04 17:13] GeorgeGayno-NOAA commented on #673
@KateFriedman-NOAA Are there some existing 'scrip' files in our 'fix' directories?

[2022-08-04 17:26] KateFriedman-NOAA commented on #673
@GeorgeGayno-NOAA Did you meant "script"? Please clarify.

In case it's useful, here is the list of high-level diffs between fix and fix_NEW right now:

/scratch1/NCEPDEV/global/glopara/diff_fix_fix_NEW.out

[2022-08-04 17:57] GeorgeGayno-NOAA commented on #673
No, I mean ESMF 'scrip'. When I run the 'weight_gen' program, it outputs a gaussian 'scrip' file (in NetCDF) for different resolutions. Are those files stored under 'fix' somewhere? I saw some 'scrip' files under 'fix_reg2grb2', but they were not gaussian.

@aerorahul and @yangfanglin Who uses this program?

[2022-08-04 18:09] yangfanglin commented on #673
@GeorgeGayno-NOAA   You can find similar files under /scratch1/NCEPDEV/global/glopara/fix_nco_gfsv16/fix_fv3_gmted2010 on Hera.   They were use to convert forecast output on tiles written out by FMS to Gaussian grid.  I and Phil/Jeff used these SCRIP files for FV3GFS early development when the WRITE GRID COMPONENT capability was still under development.    The driver script that uses these SCRIP f

[2022-08-04 18:40] #678 closed, assigned to GeorgeGayno-NOAA

[2022-08-04 19:28] dmwright526 commented on #596
@GeorgeVandenberghe-NOAA @edwardhartnett @kgerheiser Do any of you have availability to take a look at this bug some more? I have been attempting to debug it over the past few days using the unit test (tests/fvcom_tools).

When compiling with both Intel and GNU, the .nc files are able to be read in correctly in the sorc/fvcom_tools/module_ncio.f90 (routines used for directly reading in netCDF data

[2022-08-04 19:31] KateFriedman-NOAA commented on #673
@GeorgeGayno-NOAA I think @yangfanglin answered your question, he would know more than me anyway. :)

[2022-08-05 10:51] edwardhartnett commented on #596
Can you please rebuild with both C and Fortran FLAGS including -fsantize=address?

[2022-08-08 18:26] GeorgeGayno-NOAA opened #680 "Check for git clone failure in rt.sh"
The `rt.sh` script is run off the cron on all supported machines. Recently, the script failed during the `git clone` command on Hera because the machine's disk was full. The log file showed:

[code]
An email was sent to the maintainers, but the subject line did not indicate the machine, and the body of the email was blank.

The script needs better error handling.

[2022-08-09 14:18] dmwright526 commented on #596
@edwardhartnett thank you for the suggestion! I tried with this flag on, but it did not change the segfault output or give any more information on the problem within the object.

[2022-08-09 15:03] edwardhartnett commented on #596
Is there a test that demonstrates this problem?

[2022-08-09 15:32] GeorgeGayno-NOAA commented on #680
How to test this logic? The disk has been cleaned up on Hera. So I can't repeat the original problem. All I can do is adjust the script logic to trip the error. Example, look for the wrong directory:

[code]

Or make the clone fail:

[code]

[2022-08-09 15:36] GeorgeGayno-NOAA commented on #680
The error was tripped on Hera, Jet, Orion and WCOSS2. As expected, the script execution stopped and a proper email was sent to my NOAA email account.

[2022-08-09 16:00] GeorgeGayno-NOAA commented on #633
The ESMF group provided a test branch that fixes this - https://github.com/esmf-org/esmf/tree/feature/large-messages

I cloned and compiled this on Hera here: `/scratch1/NCEPDEV/da/George.Gayno/noscrub/esmf.git/esmf`

[2022-08-09 16:07] dmwright526 commented on #596
@edwardhartnett The unit test currently in the repository will produce the error (make test)

[2022-08-09 20:37] #680 closed, assigned to GeorgeGayno-NOAA

[2022-08-10 20:23] chunhuazhou opened #682 "Capability of converting RRFS restart files to cold start files"
This capability is needed to get initial conditions files (in same format as from chgres_cube) from RRFS restart files after DA analysis.

[2022-08-10 22:04] chunhuazhou commented on #682
@LarissaReames-NOAA @GeorgeGayno-NOAA @JeffBeck-NOAA This is the issue we talked about during today's meeting, about converting RRFS restart files to cold start format. Thank you so much in advance for your work on this!

[2022-08-15 15:14] GeorgeGayno-NOAA opened #683 "macos workflows are failing"
The macos workflows started failing a few days ago. In the authoritative fork, 'develop' (2a07b2c) was working fine as of August 9th. Sometime after that date, the workflow started failing with an error about a missing jpeg library.

`make[2]: *** No rule to make target /usr/local/lib/libjpeg.dylib, needed by sorc/emcsfc_ice_blend.fd/emcsfc_ice_blend.  Stop.`

If I update the `linux-mac-nceplibs-m

[2022-08-15 20:07] edwardhartnett commented on #683
Try changing the brew install commands to include jpeg-turbo.

[2022-08-17 20:43] GeorgeGayno-NOAA commented on #633
On Hera, I compiled 'develop' at 2a07b2c for use as the 'control'.

For the 'test', I compiled 'develop' using the update ESMF branch. This was done by modifying the build module as follows:

[code]

The test case was a C1152 grid using 128 vertical levels. All config files and scripts are here: `/scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/chgres_memory`

[2022-08-17 20:47] GeorgeGayno-NOAA commented on #633
Running the 'control' with 7 nodes/6 tasks per node, resulted in this error (see "log.fail.7nodes.develop"):

[code]

Rerunning with 8 nodes/6 tasks per node was successful. See "log.pass.8nodes.develop".

[2022-08-17 20:49] GeorgeGayno-NOAA commented on #633
Running the 'test' (which used the update ESMF branch) was successful using only 5 nodes/6 tasks per node. See "log.pass.5nodes.new.esmf.branch".

So, using the new ESMF test branch eliminates the MPI error and reduces the amount of resources to run large grids.

[2022-08-18 17:30] GeorgeGayno-NOAA commented on #633
Update from the ESMF team (Gerhard):

[code]

[2022-08-18 18:02] #683 closed, assigned to GeorgeGayno-NOAA

[2022-08-18 19:49] #673 closed, assigned to GeorgeGayno-NOAA

[2022-08-22 14:40] GeorgeGayno-NOAA commented on #668
Since @kgerheiser is no longer with EMC, will transfer this issue to @aerorahul.

[2022-08-23 15:27] GeorgeGayno-NOAA commented on #549
The 'feature/cycle_frac' branch is way out of date. I will create a new one for this issue.

[2022-08-23 15:31] jswhit commented on #549
Thanks @GeorgeGayno-NOAA, we really need this to start cycling experiments with Prototype 8

[2022-08-24 14:57] #670 closed, assigned to GeorgeGayno-NOAA

[2022-08-25 15:02] danielabdi-noaa opened #686 "Installing binaries to any directory."
Currently one can install binaries to either `bin` or `exec`, the latter of which is enabled by setting an `EMC_EXEC_DIR` flag to on.
The standard way in cmake is to set install subdirectory name via `CMAKE_INSTALL_BINDIR`, which will also allow for using any directory name other than `bin` and `exec`

[2022-08-25 19:53] GeorgeGayno-NOAA commented on #549
@jiandewang Where are the orography files associated with this experiment? I need the land fraction record, which is not in the surface restart files.

[2022-08-25 20:16] GeorgeGayno-NOAA opened #687 "Update for new 'fixed' directories"
The 'fixed' directories are undergoing a reorganization. This will require several script changes. For details, see:

https://github.com/NOAA-EMC/global-workflow/issues/966#issuecomment-1227692287

[2022-08-25 21:15] KateFriedman-NOAA commented on #687
I will submit a PR into UFS_UTILS `develop` with the changes I made in my own testing and work with you to plan the merge into `develop` when we're ready. Stay tuned...

[2022-08-29 16:24] TingLei-NOAA opened #689 "The new function of chgres_cube to output the results in netcdf 4 format"
Currently, the chgres_cube is generating results in netcdf 4 classic with hardwired setup.
This issue is opened for adding the function to generate netcdf 4 files.  There are two reasons for this request: 1. The chgres_cube generated FV3-LAM cold start files would be read in and updated by GSI. Currently the GSI IO interface for fv3-lam (including the cold start files generated by chgres_cube ) is

[2022-09-01 14:30] #686 closed, assigned to danielabdi-noaa

[2022-09-06 18:00] WalterKolczynski-NOAA opened #690 "Add cmake test support for WCOSS2"
There are currently only mpiexec scripts for Hera and Orion to submit the cmake test jobs to the job scheduler. Support for running the tests should be added for WCOSS2.

[2022-09-06 18:02] WalterKolczynski-NOAA opened #691 "Cmake tests timeout while downloading data"
Cmake tests often fail due to the test data timing out before the download is complete. The timeout in the pull_data function should be increased so the download can complete before being killed.

[2022-09-06 18:07] WalterKolczynski-NOAA commented on #690
@GeorgeGayno-NOAA What account do you want me to use for the commit? I used GFS-DEV to run, but that probably isn't what you want in the repo.

[2022-09-06 18:26] GeorgeGayno-NOAA commented on #690
GFS-DEV is fine. A user can change it if needed.

[2022-09-07 12:24] #691 closed, assigned to WalterKolczynski-NOAA

[2022-09-07 17:53] GeorgeGayno-NOAA commented on #242
@Hang-Lei-NOAA Has IP v4 been installed on any of our machines?

[2022-09-07 18:44] Hang-Lei-NOAA commented on #242
No, I can install it on Hera tonight.

On Wed, Sep 7, 2022 at 1:53 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-09-08 03:23] Hang-Lei-NOAA commented on #242
It has been added on Hera.

On Wed, Sep 7, 2022 at 2:44 PM Hang Lei - NOAA Affiliate ***@***.***>
wrote:

[2022-09-09 20:02] aerorahul opened #694 "`cp` in NCO mode of `RUN_ENVIR`."
https://github.com/ufs-community/UFS_UTILS/blob/fb34823bc1f76986c495100d2d7928d4d94b70ed/sorc/link_fixdirs.sh#L31

This line needs to be uncommented when operating under NCO mode.
Please recut the tag `ops-gfsv16.2.1`

[2022-09-09 20:42] GeorgeGayno-NOAA commented on #242
To ease the transition between IP library v3.3.3 and v4.0, the rank of some arrays were changed to comply with the `gdswzd` and `ipolates` routine interface changes.  Therefore, the regression tests have to be rerun using both v3.3.3 and v4.0.

First, I tested the branch at 59292b4 using IP library v3.3.3 (on Cactus). The `snow2mdl`, `global_cycle` and `grid_gen` regression tests all passed as exp

[2022-09-12 12:28] GeorgeGayno-NOAA commented on #694
Should I keep the name of the tag the same or can I increment the number to 16.2.2?

[2022-09-12 13:10] aerorahul commented on #694
If you will create a new tag, let it be 16.3.0 since that's the current implementation.
@KateFriedman-NOAA please take note.

[2022-09-12 14:27] GeorgeGayno-NOAA commented on #694
Updated at 8313030.

@aerorahul and @KateFriedman-NOAA Please check my branch. If correct, I will create a release tag.

[2022-09-12 14:56] KateFriedman-NOAA commented on #694
Trying this update in a fresh checkout/build/link of the GFSv16.3.0 global-workflow package (with the hotfix/gfsv16.3.0 branch)...

[2022-09-12 15:00] KateFriedman-NOAA commented on #694
@GeorgeGayno-NOAA Please also update the `FIX_DIR` paths to the special v16.3.0 fix set: `../fix_nco_gfsv16.3.0`

Here is the full block in the global-workflow link script:
[code]

Apologies for not making sure you knew of this set earlier!

[2022-09-12 15:04] GeorgeGayno-NOAA commented on #694
No problem. I will also remove the references to our WCOSS1 system.

[2022-09-12 15:13] GeorgeGayno-NOAA commented on #694
What about jet? Will these files be hosted there at some point?

[2022-09-12 15:28] KateFriedman-NOAA commented on #694
Jet won't be supported for GFSv16. We will support Jet in GFSv17+. The developmental fix set for GFSv17+ is on Jet, so you can add it to your `develop` branch for supporting GFSv17+: `/lfs4/HFIP/hfv3gfs/glopara/git/fv3gfs/fix`

[2022-09-12 15:51] GeorgeGayno-NOAA commented on #694
Successfully tested 34ff043 on Orion, Hera and Cactus.

@KateFriedman-NOAA go ahead and try it for yourself.

[2022-09-12 15:59] GeorgeGayno-NOAA commented on #242
Repeated this test on Hera. All tests passed.

[2022-09-12 16:03] GeorgeGayno-NOAA commented on #242
Note: To compile with v4.0, you need to uncomment the `use ipolates_mod` statement in `./sorc/emcsfc_snow2mdl.fd/snow2mdl.F90` and in `./orog.fd/mtnlm7_oclsm.f` and adjust the build modules.

[2022-09-12 16:51] edwardhartnett commented on #242
George, I have found it best to make changes so that both versions are handled.

That is, I check in the CMake file what version I am dealing with, and then use ifdefs in the code to handle both versions of the code.

Does this make sense?

Technically we could just say ip-4.0.0 is required and users should just deal with it, but it is kinder not to make it mandatory if we don't have to...

[2022-09-12 17:13] GeorgeGayno-NOAA commented on #242
That would be great. Do you have a CMake example I can look at?

[2022-09-12 17:17] KateFriedman-NOAA commented on #694
It works (thanks!) but need one more edit. Since this copy of fix for v16.3 is mostly symlinks to the prior v16 set (except for a few files that were modified for this implementation) both UFS_UTILS and global-workflow need to use the `L` flag with `cp` to copy the files through the symlinks and resolve them for NCO mode. Any file that isn't a symlink will be copied normally. This is the first imp

[2022-09-12 17:39] GeorgeGayno-NOAA commented on #694
Done at cfc4ca4.

[2022-09-12 17:44] KateFriedman-NOAA commented on #694
Looks good! Feel free to merge and cut a new tag for v16.3.0 now, thanks! I'll update the UFS_UTILS tag name in global-workflow checkout script and the release notes once created.

[2022-09-12 18:14] GeorgeGayno-NOAA commented on #694
Tag has been created. Closing.

[2022-09-12 18:14] #694 closed, assigned to GeorgeGayno-NOAA

[2022-09-12 18:21] edwardhartnett commented on #242
I have not done it for ip, but if you look at g2 you will see it can handle two very different versions of bacio...

[2022-09-12 21:29] GeorgeGayno-NOAA commented on #242
@Hang-Lei-NOAA Can you also install the GNU version on Hera?

[2022-09-13 03:39] Hang-Lei-NOAA commented on #242
@George Gayno - NOAA Affiliate ***@***.***> I have added it
under the GNU compiler option.

On Mon, Sep 12, 2022 at 5:29 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-09-13 13:23] GeorgeGayno-NOAA commented on #242
@Hang-Lei-NOAA Thanks for installing on Hera. Please install on Orion and Jet when you are not busy. And add it to your next NCEPLIBS upgrade on WCOSS2.

[2022-09-13 14:08] #690 closed, assigned to WalterKolczynski-NOAA

[2022-09-15 13:56] GeorgeGayno-NOAA commented on #663
I just ran the `cpld_gridgen` regression test on Cactus using 'develop' at ca9bed8. It ran to completion. I don't know what changed on WCOSS2 since I opened this issue. @DeniseWorthen, can you or someone on your team help me evaluate the results?

[2022-09-15 14:19] DeniseWorthen commented on #663
The tools I generally use to inspect the files are not available on wcoss2. Would you be able to put the files on Hera for me to evaluate?

[2022-09-15 14:26] GeorgeGayno-NOAA commented on #663
The baseline data was moved from Hera to Cactus. Here are the file differences from the Hera baseline:

0.25-degree test

[code]

[2022-09-15 14:27] GeorgeGayno-NOAA commented on #663
0.5-degree test

[code]

[2022-09-15 14:28] GeorgeGayno-NOAA commented on #663
1.0-degree test

[code]

[2022-09-15 14:28] GeorgeGayno-NOAA commented on #663
Yes, I can move the files to hera.

[2022-09-15 14:37] GeorgeGayno-NOAA commented on #663
@DeniseWorthen Find the files on Hera: `/scratch2/NCEPDEV/stmp1/George.Gayno/CPLD_GRIDGEN.wcoss2.4.denise`

[2022-09-15 16:33] DeniseWorthen commented on #663
@GeorgeGayno-NOAA The land_frac differences (these are mapped ocean fractions on the atm tiles) look fine (I spot checked multiple files). The differences are not systematic.

I don't quite understand the report for the variable "col" --it should be a positive integer. It is use in mapping the ocean land mask (``src_field``) to the ATM tile (``dst_field``).

[code]

I don't understand why the 050

[2022-09-16 18:00] GeorgeGayno-NOAA commented on #663
The report lists the _differences_ between the baseline file (brought over from Hera) and the WCOSS2 computed file. That is why 'col' can be negative. The number of 'col' points that are different is a very small percentage of the total. For the 0.5-degree case, the number of points different is 83 and the total number of points is 867,529.

[2022-09-19 17:30] GeorgeGayno-NOAA commented on #663
@DeniseWorthen Does my explanation make sense? If so, I would like to close this issue. And turn on the daily regression testing on WCOSS2.

[2022-09-19 17:39] DeniseWorthen commented on #663
Yes, it does. I think you can close the issue. Thanks.

[2022-09-19 18:07] GeorgeGayno-NOAA commented on #663
Sometime after this issue was opened, the `cpld_gridgen` program started working on WCOSS2. I can't explain it. Will reopen this issue if the problem returns.

[2022-09-19 18:07] #663 closed, assigned to GeorgeGayno-NOAA

[2022-09-20 13:16] #687 closed, assigned to GeorgeGayno-NOAA

[2022-09-23 14:25] GeorgeGayno-NOAA opened #696 "Speed up grid_gen consistency tests"
Currently, the five tests are run sequentially. Update the driver scripts so they run in parallel (like the chgres_cube tests). This will greatly reduce the wall time for the test suite to run.

[2022-09-26 18:47] GeorgeGayno-NOAA commented on #633
ESMF v8.3.1 was officially released: https://github.com/esmf-org/esmf/releases/tag/v8.3.1

[2022-09-27 12:37] GeorgeGayno-NOAA commented on #689
@TingLei-NOAA I was able to write netcdf 4 files. There is a way to adjust the cache size, but I just used the defaults for now. How can we test this?

[2022-09-27 13:48] TingLei-NOAA commented on #689
@GeorgeGayno-NOAA  Great!.  If you need me to test this new function,  which branch should I use ?

[2022-09-27 15:53] GeorgeGayno-NOAA commented on #689
@TingLei-NOAA Use this branch: https://github.com/GeorgeGayno-NOAA/UFS_UTILS/tree/feature/netcdf4

[2022-09-27 15:59] TingLei-NOAA commented on #689
George,
Thank you!
I also cc this to Ming ,Shun and others.
We will keep you posted through this issue.
Ting

______________________________

Ting Lei

Lynker at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Cubicle 2765

College Park, MD 20740

***@***.***

301-683-3624

On Tue, Sep 27, 2022 at 11:53 AM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-09-27 17:04] TingLei-NOAA commented on #689
Hi George,

The changes look good to me. There is no code to control the trunk size,
right? The trunk size will be decided by the system default, right?

Thanks,
Ming

On Tue, Sep 27, 2022 at 9:59 AM Ting Lei - NOAA Affiliate ***@***.***>
wrote:

[2022-09-27 17:29] GeorgeGayno-NOAA commented on #689
When using netcdf4 files, you can set the `cache_size`, `cache_nelems` and `cach-preemption` in the call to `nf90_create`.  I am using the default values as I don't know how to set them for your process. Do you have an idea of how to set these arguments?

See https://docs.unidata.ucar.edu/netcdf-fortran/current/f90_datasets.html#f90-nf90_create

[2022-09-27 18:26] TingLei-NOAA commented on #689
Hi, Gorge,
Dusan had setup the chunk size in the fms lib as described in the
excerpt from his email
^^

I made some changes to FMS to explicitly set the chunk sizes of each
variable to be equal to its dimension lengths.

Please see my branch https://github.com/DusanJovic-NOAA/FMS/tree/chunks
V
He needed to define the chunksize for each variable as he did in the
netcdf_io.F90 in FMS lib
(one such c

[2022-09-28 20:16] GeorgeGayno-NOAA commented on #689
@TingLei-NOAA I added chunking to the atmospheric file at 2038e2e. Can you please test my branch and check for performance improvements.

Here is a check (using ncdump -h -s) of one of the wind records. The chunk sizes are set to the length of each dimension:

[code]

[2022-09-29 18:16] TingLei-NOAA commented on #689
@GeorgeGayno-NOAA  That is great!  Just one question, how shall we define the parameters like i_target_out ? I didn't find out from your PR.

[2022-09-29 19:12] GeorgeGayno-NOAA commented on #689
That is the 'i' dimension of the output grid. That is set by the user. My test used a C96 grid.

[2022-09-29 19:42] TingLei-NOAA commented on #689
George,  Thanks for your anwer.  I think this is exactly what we need.
What is your plan to push it to the main branch ?
Or, we can use this branch for being now and wait and see when this change
would be pushed into the main branch ?
Thanks a lot for your further clarification.
Ting

______________________________

Ting Lei

Physical Scientist, Contractor with Lynker in support of

EMC/NCEP/NWS/N

[2022-09-29 19:48] GeorgeGayno-NOAA commented on #689
@TingLei-NOAA We need to prove that these changes improve performance before merging. And I only added chunking to the atmospheric file so far. The surface and lateral boundary files do not have chunking.

Come up with a testing strategy and I can help you.

[2022-09-29 19:55] TingLei-NOAA commented on #689
George,
Got it!
I will  set up a comparison case to show its' benefit for GSI  as soon as
possible and let you know.
Than you!
Ting

______________________________

Ting Lei

Physical Scientist, Contractor with Lynker in support of

EMC/NCEP/NWS/NOAA

5830 University Research Ct., Cubicle 2765

College Park, MD 20740

***@***.***

301-683-3624

On Thu, Sep 29, 2022 at 3:48 PM GeorgeGayno-NOAA ***@

[2022-09-30 20:15] GeorgeGayno-NOAA opened #698 "Incorporate global VIIRS 30s vegetation type data"
To save memory and to speed up the creation of model grids, the original VIIRS 30 second vegetation data was upscaled to 0.03, 0.05 and 0.1-degree resolution. The upscaling was done by accumulating the raw data in each lower-res grid box, then picking the predominate category. A CONUS version of the original high-res data was also created. All files are found under `fix/sfc_climo`

- vegetation_ty

[2022-10-03 12:33] GeorgeGayno-NOAA commented on #698
Copy the original data file (from @barlage) from Hera:
`/scratch1/NCEPDEV/stmp2/Michael.Barlage/data/viirs_surface_type/NESDIS_VIIRS_SfcType.nc`

to WCOSS2 (Cactus):
`/lfs/h2/emc/global/noscrub/George.Gayno/ufs_utils.git/viirs.veg/viirs_surface_type`

[2022-10-03 12:57] GeorgeGayno-NOAA commented on #698
Recovered a program from a defunct branch that will convert the raw file to a version readable by ufs_utils. The program, build script and run script are on WCOSS2 (Cactus) here:
`/lfs/h2/emc/global/noscrub/George.Gayno/ufs_utils.git/viirs.veg`

[2022-10-03 13:21] GeorgeGayno-NOAA commented on #698
The program was run twice to create global and NH (5S to 90N) files.  The files were placed on WCOSS2 (Cactus) here:
`/lfs/h2/emc/global/noscrub/George.Gayno/ufs_utils.git/viirs.veg/sfc_climo`

[2022-10-03 13:33] yangfanglin commented on #698
@GeorgeGayno-NOAA George, could you please work with @KateFriedman-NOAA to add the data to the "fix" archive on all EMC supported platforms ?  Thanks

[2022-10-03 15:04] GeorgeGayno-NOAA commented on #698
To test the new data, I recreated the `./fix/sfc_climo` in another directory (on Cactus):

[code]

Then, added the new vegetation files and linked to the other input surface files as needed:

[code]

[2022-10-03 15:41] barlage commented on #698
@GeorgeGayno-NOAA is there a naming convention for 30" data, e.g., vegetation_type.viirs.igbp.30s.nc, since this isn't technically 0.01deg?

for future reference, did you use chop.f90 to add the attributes and lat/lon/corners info needed in the global surface type data file as well as the NA cutout?

[2022-10-03 16:52] GeorgeGayno-NOAA commented on #698
I can name them as '30s' is you like.

Yes, I added some attributes and corner point lat/lons. The latter are needed by the ESMF regridding.

[2022-10-03 19:50] GeorgeGayno-NOAA commented on #698
The branch was tested on Cactus using 03c5790. A large, North American regional grid was created using the new NH/30s file. The grid driver script was modified as follows:

[code]

The output model grid vegetation files were and examined using `ncview` and looked correct.

[2022-10-03 19:53] GeorgeGayno-NOAA commented on #698
The above test was repeated using the new global 30s data. The grid driver script was modified as follows:

[code]

The output model grid vegetation files were identical to those from the first test as expected.

[2022-10-03 20:26] GeorgeGayno-NOAA commented on #698
All `grid_gen` regression tests passed. Will create a PR.

[2022-10-04 17:22] GeorgeGayno-NOAA commented on #698
Does anyone want to test my branch before the merge? I have the new data on WCOSS2. But I can set it up on another machine if needed.

[2022-10-04 17:54] barlage commented on #698
@GeorgeGayno-NOAA I pointed @BenjaminBlake-NOAA to your new dataset. I believe he will give it a test for the North American RRFS domain.

[2022-10-04 17:59] GeorgeGayno-NOAA commented on #698
@BenjaminBlake-NOAA I will need to help you set up your test.

[2022-10-04 19:04] BenjaminBlake-NOAA commented on #698
@GeorgeGayno-NOAA  Sounds good, I was planning to use the SRW app workflow to regenerate the surface climo fix files.  But if it makes more sense to use the UFS_UTILS driver scripts I'm happy to do that as well.

[2022-10-04 19:09] KateFriedman-NOAA commented on #698
All, let me know when you're ready for me to pull new fix files into the primary fix set. Thanks! :)

[2022-10-04 19:14] WalterKolczynski-NOAA opened #700 "link_fixdirs.sh does not error when an invalid run environment is provided"
If an invalid `$RUN_ENVIR` is passed to `link_fixdirs.sh`, the script does not exit with a non-zero return code. It turns off the trace and prints an error message, but does not exit immediately.

[2022-10-04 19:21] GeorgeGayno-NOAA commented on #698
Ben, test however you want. Just be sure to link to the new data (`./sfc_climo`). On Cactus:

[code]

[2022-10-04 19:29] GeorgeGayno-NOAA commented on #698
Kate, there are three new files - `vegetation_type.viirs.igbp.30s.nc`, `vegetation_type.viirs.igbp.nh.30s.nc` and `vegetation_type.viirs.igbp.conus.30s.nc`  And the latter should replace the `vegetation_type.viirs.igbp.conus.0.01.nc` file.

The new files are on Cactus here: `/lfs/h2/emc/global/noscrub/George.Gayno/ufs_utils.git/viirs.veg/sfc_climo`

Wait until Ben is finished with his testing befo

[2022-10-04 19:42] GeorgeGayno-NOAA commented on #700
@WalterKolczynski-NOAA Thanks for finding this bug.

Does the LINK need to be fixed as well?

`[[ $RUN_ENVIR = nco ]] && LINK="cp -rp"`

Didn't you add the `-L` option for one of the GFS tags?

[2022-10-04 19:47] WalterKolczynski-NOAA commented on #700
Looks like we're just using `cp -rp` in our link script, at least in develop.

[2022-10-06 12:38] BenjaminBlake-NOAA commented on #698
@GeorgeGayno-NOAA  I created new surface climo fix files for the RRFS_NA_3km grid yesterday and am waiting to hear back from a colleague if the new files look good.

[2022-10-11 06:59] TingLei-NOAA commented on #689
Ting,

Thank you for updating this. We will make sure to merge the changes to RRFS
repo.

Shun

On Tue, Sep 27, 2022 at 11:59 AM Ting Lei - NOAA Affiliate <
***@***.***> wrote:

[2022-10-11 07:00] TingLei-NOAA commented on #689
Hi, George,
I am trying to test the new chgres_cube in the GSL's RRFS 3km conus runs.
But seems the namelist with it is not compatible with the new chgres_cube.
Would you please point me to a one working for your branch?
Thank you!
Ting

______________________________

Ting Lei

Physical Scientist, Contractor with Lynker in support of

EMC/NCEP/NWS/NOAA

5830 University Research Ct., Cubicle 2765

[2022-10-11 12:07] GeorgeGayno-NOAA commented on #689
What namelist error are you getting? Can I look at the log file and scripts?

[2022-10-11 15:13] hu5970 commented on #689
Ting,

Please delete "fix_dir_input_grid" and try.

Thanks,
Ming

On Tue, Oct 11, 2022 at 6:07 AM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-10-11 15:22] TingLei-NOAA commented on #689
George ,
I am re running jobs to finish a chgres-cube case . After it is finished, I
will send the links you need if it still fails using Ming's fix.
Ming,
Thanks.  I will see if it fix the problem.
Regards,
Ting
______________________________

Ting Lei

Physical Scientist, Contractor with Lynker in support of

EMC/NCEP/NWS/NOAA

5830 University Research Ct., Cubicle 2765

College Park, MD 20740

[2022-10-11 19:39] GeorgeGayno-NOAA commented on #698
Per recommendation of @barlage, I added the compression step for all new files:

`ncks -O -4 -L 1 vegt.nc vegt.compressed.nc`

This step was added to the `run.sh` script on Cactus: `/lfs/h2/emc/global/noscrub/George.Gayno/ufs_utils.git/viirs.veg`. And the files in `/lfs/h2/emc/global/noscrub/George.Gayno/ufs_utils.git/viirs.veg/sfc_climo` were updated.

[2022-10-12 12:53] GeorgeGayno-NOAA opened #702 "Incorporate global 30-sec MODIS vegetation data and STATSGO soil data."
Issue #698 was open to add the 30-sec VIIRS vegetation data. The MODIS vegetation data and STATSGO soil data are also available to 30-sec. Currently, only coarser resolution versions are available. Update UFS_UTILS to use the 30-sec data.

[2022-10-12 16:34] GeorgeGayno-NOAA commented on #702
A program and run script to create this data was baselined on Hera: `/scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/climo_fields_netcdf/sorc/fv3.soilt.vegt.hires.netcdf`

[2022-10-13 14:07] GeorgeGayno-NOAA commented on #698
New files must also be available for the community at: https://noaa-ufs-srw-pds.s3.amazonaws.com/index.html#fix/fix_sfc_climo/

[2022-10-13 21:19] TingLei-NOAA commented on #689
@GeorgeGayno-NOAA
A update:
(@hu5970 's suggestion does work  (the chgres_cube could be run smoothly in the workflow. Thanks).
I tested two versions of yours
  1) The  first change (the output is changed to netcdf 4 from netcdf 4 classic , but no i_target_out parameters for  for chunksize
  2) The second, on top of 1, set the chunk according to the variable's 3d dimension.
The above is the finding

[2022-10-14 12:42] GeorgeGayno-NOAA commented on #689
@TingLei-NOAA So, should we close this issue? Should we update chgres to output netcdf4 (without adding chunking)?

[2022-10-14 12:55] #700 closed, assigned to GeorgeGayno-NOAA

[2022-10-14 12:55] edwardhartnett commented on #689
Contiguous storage will generally be faster than chunked storage to write,
but does not allow compression. Are you sure you don't want compression?

Switching from netCDF-4 to netCDF-4 classic and back will have no impact on
performance. The only difference is that the netCDF-4 classic format will
not allow you to create anything from the enhanced data model - that is, a
netcdf-4 classic file is a

[2022-10-14 13:05] TingLei-NOAA commented on #689
@edwardhartnett  Thanks a lot for your comments/explanation.    We need netcdf 4 because the current GSI parallel IO for fv3-lam is the parallelization based on hdf 5, namely, only working for netcdf 4.  But if we need compression in the near future, I have no idea. @hu5970 and Shun Liu could be a better position to give the answer.
@GeorgeGayno-NOAA , from the purpose of this issue, yes, this iss

[2022-10-14 17:39] #696 closed, assigned to GeorgeGayno-NOAA

[2022-10-14 18:25] GeorgeGayno-NOAA commented on #698
@KateFriedman-NOAA There are three new vegetation files that need to be hosted on each machine in the `FIX/fix/sfc_climo/` directory. There are on Cactus here: `/lfs/h2/emc/global/noscrub/George.Gayno/ufs_utils.git/UFS_UTILS/fix/sfc_climo.new`

- vegetation_type.viirs.igbp.30s.nc
- vegetation_type.viirs.igbp.conus.30s.nc
- vegetation_type.viirs.igbp.nh.30s.nc

You can remove the "vegetation_type.v

[2022-10-17 15:16] GeorgeGayno-NOAA commented on #242
Commit 794304d was compiled on Orion. All consistency tests passed.

[2022-10-17 16:15] WalterKolczynski-NOAA commented on #698
I think we'd prefer not to make the symlink unless there is a compelling reason otherwise. Now that we are versioning fix directories in the workflow, the sfc_climo fix version will update at the same time as the scripts change the filename. Versions with the old filename would still point to the old sfc_climo fix directory that have the old file.

[2022-10-17 16:25] WalterKolczynski-NOAA commented on #698
I think we'd prefer not to make the symlink unless there is a compelling reason otherwise. Now that we are versioning fix directories in the workflow, the sfc_climo fix version will update at the same time as the scripts change the filename. Versions with the old filename would still point to the old sfc_climo fix directory that have the old file.

[2022-10-17 16:47] KateFriedman-NOAA commented on #698
@GeorgeGayno-NOAA I have copied the three new fix files into a new sfc_climo timestamp subfolder (20221017) and removed the requested file (without making a symlink). See here on Cactus:

/lfs/h2/emc/global/noscrub/emc.global/FIX/fix/sfc_climo/20221017

If this looks good to you I'll rsync it to the other platforms and then update `sfc_climo_ver` in `fix.ver` in the `develop` branch. Any there any

[2022-10-17 16:56] WalterKolczynski-NOAA commented on #698
https://github.com/ufs-community/UFS_UTILS/blob/develop/fix/link_fixdirs.sh in UFS_UTILS should have the default fix version updated, so any stand-alone testing is also updated.

[2022-10-17 18:21] GeorgeGayno-NOAA commented on #689
@TingLei-NOAA You said "we need netcdf 4" for the GSI. If I close this issue, chgres will continue to output "netcdf4 classic". Is that what you want?

[2022-10-17 18:24] TingLei-NOAA commented on #689
@George Gayno - NOAA Affiliate ***@***.***>  sorry for the
confusion I caused.  Your first change (make the output to be netcdf 4 with continuous storage  is definitely what we need. Thanks.

______________________________

Ting Lei

Physical Scientist, Contractor with Lynker in support of

EMC/NCEP/NWS/NOAA

5830 University Research Ct., Cubicle 2765

College Park, MD 20740

***@***.***

301-683-

[2022-10-17 18:32] GeorgeGayno-NOAA commented on #689
@TingLei-NOAA Ok. We can always revisit chunking later.

[2022-10-17 20:12] GeorgeGayno-NOAA commented on #698
Done at b8ae8c1.

[2022-10-17 20:23] GeorgeGayno-NOAA commented on #698
Perfect. Thanks.

The workflow does not create grids, correct? It points to the pre-existing data in the 'orog' directory, right? If so, your workflow is unaffected.

[2022-10-17 20:26] GeorgeGayno-NOAA commented on #698
@KateFriedman-NOAA As a heads up, there is another issue open (#702) that will add new sfc_climo files. You can also place these additional files in 20221017. Details to come.

[2022-10-18 19:42] GeorgeGayno-NOAA commented on #689
Completed the updates to add chunking to all output files - atmosphere, surface and LBC - at 9e662d7. Will keep this branch in my fork in case we want to revisit chunking in the future.

Opened a new branch and modified the nf90_create calls to output netcdf4 - 05b976e.

[2022-10-18 19:46] GeorgeGayno-NOAA commented on #689
Compiled the branch at 05b976e on Cactus and ran the consistency tests. All tests failed. None of the data values were different. Only the global attributes. Example:

`DIFFER : FILE FORMATS : NC_FORMAT_NETCDF4 <> NC_FORMAT_NETCDF4_CLASSIC`

[2022-10-18 20:12] GeorgeGayno-NOAA commented on #689
Compiled the branch at 05b976e on Hera, Jet and Orion. All tests failed as they did on Cactus. This is the expected result. Will submit a PR.

[2022-10-18 20:25] GeorgeGayno-NOAA commented on #689
@TingLei-NOAA Please review the PR - #704.

[2022-10-18 20:33] GeorgeGayno-NOAA opened #705 "Incorporate BNU soil type data"
Incorporate the BNU soil type data to support the regional model.

Data is available here: https://www2.mmm.ucar.edu/wrf/users/download/get_sources_wps_geog.html#optional

[2022-10-18 20:45] GeorgeGayno-NOAA commented on #698
@KateFriedman-NOAA Please rsync the data to the other platforms we support.

[2022-10-19 12:55] GeorgeGayno-NOAA commented on #307
This will be addressed in #689.

[2022-10-19 13:59] edwardhartnett commented on #307
Correct: initialsize and chunksize in nf90_create() are holdovers from attempts to make classic files perform better. I don't think  they really help much in any case, but certainly with NETCDF4 files they are not needed and will simply be ignored.

The chunksize here is not to be confused with the HDF5 chunksizes that netCDF-4 supports. The HDF5 chunksizes are set on a per-variable basis, and are

[2022-10-19 14:06] edwardhartnett commented on #689
OK, I'm not sure if this is relevant but there is some confusion here about netCDF-4 vs. netCDF-4 classic.

A netCDF-4 classic file is a netCDF-4 file that adheres to the netCDF classic data model. A netCDF-4 classic file is a netCDF-4 file and can easily be read by any netCDF-4 application.

So you do not need to turn off the NC_CLASSIC_MODEL flag in order to improve performance. If you take away

[2022-10-19 14:55] KateFriedman-NOAA commented on #698
I have rsync'd the new 20221017 sfc_climo subfolder to the supported platforms. Will add the additional files when provided.

Let me know when you're ready for global-workflow to change `sfc_climo_ver=20221017` and move to the updated UFS_UTILS hash. Thanks!

[2022-10-19 15:01] TingLei-NOAA commented on #689
@edwardhartnett Thanks a lot for your information, very helpful!
As stated in the issue, the FV3-Lam GSI needs netcdf 4  because its' current parallel IO is based on parallel netcdf 4, which doesn't support treating of netcdf classic.
Thanks

[2022-10-19 18:12] #698 closed, assigned to barlage, yangfanglin, BenjaminBlake-NOAA, GeorgeGayno-NOAA

[2022-10-19 18:14] GeorgeGayno-NOAA commented on #698
The default in UFS_UTILS `link_fixdirs.sh` was changed to 20221017.

[2022-10-19 18:57] GeorgeGayno-NOAA commented on #173
@BenjaminBlake-NOAA - See the note from @shansun6.

[2022-10-19 19:47] BenjaminBlake-NOAA commented on #173
@JacobCarley-NOAA @MatthewPyle-NOAA  We want to get this option added for regional_esg_grid so that we can incorporate lake information into the orography files.  Since our domain parameters are finalized we should go ahead and provide those.  I'm guessing we will want to do this primarily for the North American grid?

[2022-10-19 19:59] MatthewPyle-NOAA commented on #173
@BenjaminBlake-NOAA Doing for the NA grid makes sense to me.  Does it need a fresh issue, or can someone reopen it?

[2022-10-19 20:02] GeorgeGayno-NOAA commented on #173
On second thought, let's close this and open a new issue.

[2022-10-19 20:02] #173 closed

[2022-10-19 21:50] ShanSunNOAA commented on #173
Hi -

I think Ning Wang is working on including the ESG grid as a choice for the
regional grid to incorporate lake info into the orography files. He will do
a PR when it is ready.

Thanks,
Shan

On Wed, Oct 19, 2022 at 2:02 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2022-10-20 12:02] GeorgeGayno-NOAA commented on #173
@NingWang325 and @shansun6 - Please open an issue to track the updates for the ESG grid. Thanks.

[2022-10-20 12:28] #689 closed, assigned to GeorgeGayno-NOAA, TingLei-NOAA

[2022-10-20 18:38] GeorgeGayno-NOAA commented on #705
Data was pulled to Cactus using this command:

`wget https://www2.mmm.ucar.edu/wrf/src/wps_files/geog_alt_lsm.tar.gz`

The tar file was decompressed, then untarred:

`gzip -d geog_alt_lsm.tar.gz`
`tar -xvf geog_alt_lsm.tar`

All data was placed in `/lfs/h2/emc/global/noscrub/George.Gayno/ufs_utils.git/bnu.soil/orig_data`

[2022-10-21 13:06] GeorgeGayno-NOAA commented on #702
First set of tests:

These updates should not affect the current grid generating capability. So, the branch at a67cd3d was compiled on Orion, Jet, Hera and Cactus, and the ops 'fix' directories were linked.  The `grid_gen` consistency tests were then run. All tests passed on these machines as expected.

[2022-10-21 13:39] GeorgeGayno-NOAA commented on #702
The 30 second MODIS vegetation type and STATSGO soil type were placed on Hera: `/scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/UFS_UTILS/fix/sfc_climo.new`

There are CONUS, Northern Hemisphere and global versions:

[code]

[2022-10-21 13:43] GeorgeGayno-NOAA commented on #702
@BenjaminBlake-NOAA Would you mind trying these new files? Check out my branch (a67cde3) on Hera (or test using your workflow). When you set the links in the 'fix' directory, set to the link to `sfc_climo` to this directory:  `/scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/UFS_UTILS/fix/sfc_climo.new`

[2022-10-21 15:41] BenjaminBlake-NOAA commented on #702
@GeorgeGayno-NOAA  I tested the new files for the RRFS CONUS and North American grids, and both sets of fix files were created successfully.

[2022-10-21 18:09] NingWang325 opened #706 "Add a function to generate fractional lake data for RRFS regional grids"
This function will generate fractional lake status and lake depth fields for RRFS regional grids using various lake data sources.

The RRFS regional grids include the 3km and 13km ESG grids for COUNS and NA domains;  lake data sources include the GLDB lake status and depth data, the MODISP and VIIRS lake status data, and the GLOBATHY lake depth data.

[2022-10-21 18:45] GeorgeGayno-NOAA commented on #702
I created a CONUS regional grid with all 30 sec data files (global, NH and CONUS). The output model vegetation and soil type files were identical as expected (because the NH and CONUS files are just sub-sections of the global file).

I then created the CONUS grid using the 0.05-degree vegetation and soil type data. Upon visual inspection, the vegetation and soil type files compared well to those c

[2022-10-21 18:48] GeorgeGayno-NOAA commented on #702
Soil type on model grid using 0.05-degree input data:

![soil 0 05](https://user-images.githubusercontent.com/52789452/197267794-3cc208e5-3977-4cb0-b622-fbc6861171f0.png)

Soil type on model grid using the global 30 sec data:

![soil 30s](https://user-images.githubusercontent.com/52789452/197267806-5ef648a4-f4b4-4ade-950c-63c7cb5bc894.png)

[2022-10-21 18:56] GeorgeGayno-NOAA commented on #702
Vegetation type on model grid using 0.05-degree input data.

![vegt 0 05](https://user-images.githubusercontent.com/52789452/197269117-4ad84372-21eb-45e2-aef0-e0b4a11334e6.png)

Vegetation type on model grid using global 30 second input data.

![vegt 30s](https://user-images.githubusercontent.com/52789452/197269135-3a64cf1b-2863-400f-9be2-61d2b1721a43.png)

[2022-10-24 21:20] GeorgeGayno-NOAA commented on #702
@KateFriedman-NOAA Can you please add these files to the 'sfc_climo' directory on all machines. You can also remove the following files:

- soil_type.statsgo.conus.0.01.nc
- vegetation_type.modis.igbp.conus.0.01.nc

Many thanks!

[2022-10-25 18:55] GeorgeGayno-NOAA commented on #705
Rongqian has created a file from the original dataset, not from the WRF tiles as I did. Hold further work for now.

[2022-10-26 14:02] barlage commented on #705
@GeorgeGayno-NOAA The global 30" BNU soil type data in the same format as the global 30" VIIRS vegetation are stored in the land data space on hera: /scratch2/NCEPDEV/land/data/input_data/soil_type/soil_type.bnu.30s.nc

Note this is not internally compressed. If you want me to compress George, let me know. I will follow up with some more documentation.

[2022-10-26 14:05] barlage commented on #705
@GeorgeGayno-NOAA for documentation and scripts, do you want a new directory added to the util directory with a readme and scripts?

[2022-10-26 14:40] GeorgeGayno-NOAA commented on #705
Thanks, I will run a test grid with this data.

[2022-10-26 14:47] GeorgeGayno-NOAA commented on #705
We will add a new sub-directory under 'util': https://github.com/ufs-community/UFS_UTILS/tree/develop/util

It can contain a readme file and the source code. I would also include a simple build script and run script for the machine you used to create the data. How much source code/scripts are associated with this project?

[2022-10-26 15:19] KateFriedman-NOAA commented on #702
@GeorgeGayno-NOAA Done on Hera, rsyncing to other platforms now:

[code]

[2022-10-26 16:09] barlage commented on #705
@GeorgeGayno-NOAA I started a PR with the README and scripts/code. Let me know what else you would like done.

[2022-10-27 12:26] GeorgeGayno-NOAA commented on #705
Yes. Go ahead and compress the data.

[2022-10-27 12:45] gsketefian opened #708 "In chgres_cube, increase character length of string array containing grid file names"
DESCRIPTION:
--------------
In chgres_cube, in file `model_grid.F90`, the array containing the names of the grid tile files is declared as follows:
[code]
In the SRW App (ufs-srweather-app), the name of the grid file can exceed 25 characters when the grid gets very fine (e.g. 1km or less) and the C-resolution goes into 5 digits, e.g. a file name of `C10010_grid.tile7.halo4.nc`, which is 26 charact

[2022-10-28 12:31] GeorgeGayno-NOAA opened #709 "Update sfc_climo_gen to output fractional vegetation and soil type"
Currently, this program outputs a dominate category at each model point. Update the program to output the percentage of each category within a model point.

[2022-10-28 12:52] GeorgeGayno-NOAA commented on #702
I just checked all platforms, and the files are there. Thanks!

[2022-10-28 13:32] GeorgeGayno-NOAA commented on #705
@KateFriedman-NOAA - Yet another file to add to ./sfc_climo - /scratch2/NCEPDEV/land/data/input_data/soil_type/soil_type.bnu.30s.nc

No hurry.

[2022-10-31 13:48] KateFriedman-NOAA commented on #705
Pulled into the Hera set:
[code]
I have some other new fix files to pull in from Russ so I'll rsync this new soil_type file to the other platforms when I rsync the others.

[2022-11-01 12:49] GeorgeGayno-NOAA commented on #705
Note to self - file is on Hera, Orion and WCOSS2, but not Jet. Will hold off on merge.

[2022-11-01 16:21] KateFriedman-NOAA commented on #705
Updated fix file is now on Jet as well.

[2022-11-02 20:22] GeorgeGayno-NOAA commented on #709
Tried some timing and memory tests on Hera using 4adcb64. I used a small (301x200) CONUS ESG grid and the VIIRS vegetation data.

- Test 1 - use the `vegetation_type.viirs.igbp.conus.30s.nc` as input. Using one node and 24 tasks, it ran in about 60 seconds.
- Test 2 - use the `vegetation_type.viirs.igbp.nh.30s.nc` as input. I had to request the two 'bigmem' nodes, 12 tasks per node. It ran in abou

[2022-11-03 14:52] GeorgeGayno-NOAA commented on #709
I repeated this test on WCOSS2 using the NH file. It was able to run on one node/24 tasks, but I had to request 500 GB of memory: `#PBS -l select=1:ncpus=24:mem=500GB`. It took about 6 minutes to run.

[2022-11-04 21:02] GeorgeGayno-NOAA opened #710 "Run consistency tests on WCOSS2 using role account"
I am able to login to the 'emc.nems' role account on WCOSS2. Run the consistency tests under this account. Currently, I am running them under my own account.

All test data - input and baseline - should be moved under a directory owned by the role account. And the WCOSS driver test scripts will need minor updates to point to the new test data location.

[2022-11-08 20:27] GeorgeGayno-NOAA opened #712 "MacOS workflow is broken"
Over the past month, the MacOS CI workflows have been breaking. I first noticed it in my fork. Then they started breaking after a PR was issued. Here is the error.

https://github.com/ufs-community/UFS_UTILS/actions/runs/3413598831/jobs/5680502313

Needs to be fixed before any merges can be performed.

[2022-11-08 20:34] GeorgeGayno-NOAA commented on #712
After a lot of trial and error, I was able to get it to run - but with using a previous version of macOS (11) and by removing the gcovr install step - 61384a5.

But this solution is not ideal. We want to continue to use the latest macOS. Try some other tests...

[2022-11-08 21:18] GeorgeGayno-NOAA commented on #712
Let's start over using macos-latest:

1. Remove install of 'gcovr' (4d9d388). Now it breaks during the compile of mpi. Apparently, the latest version of macOS does not include gfortran09.  See: https://github.com/GeorgeGayno-NOAA/UFS_UTILS/actions/runs/3421393795/jobs/5697479326
2. Update to gfortran 11 (79d2f8e). Now it breaks because gfortan-11 does not allow for argument mismatches. See: https:

[2022-11-09 16:23] edwardhartnett commented on #712
Yes I just saw this on g2.

Change gfortran-9 to gfortran-12.

I also had to rebuild the caches, which I do by just adding "-1" to the cache key.

See https://github.com/NOAA-EMC/NCEPLIBS-g2/pull/322/files

[2022-11-09 19:34] barlage opened #714 "orography and mask generation fails to create a value for high resolution grids"
Current orography and mask generation fails to create a value for high resolution grids when no source inputs are contained in an FV3 grid.

The current code takes a subset of source points surrounding the fv3 grid to create a mask and orography stats based on the source points that are in the fv3 grid. The current failure happens when there are no source points in the fv3 grid.

[2022-11-09 19:42] GeorgeGayno-NOAA commented on #714
Here is an illustration of the problem. This is a plot of the orography for a fire weather nest in California. The model points in purple have no source orography points located within its boundaries.

![Orog_raw](https://user-images.githubusercontent.com/52789452/200925626-27e01e0b-5cf2-498b-90be-ebd2b524eee4.jpeg)

[2022-11-10 13:47] GeorgeGayno-NOAA commented on #712
Added the '-fallow-argument-mismatch' flag to the ESMF build (7a6c930). The ESMF build was successful. But then the NCEPLIBS build failed: https://github.com/GeorgeGayno-NOAA/UFS_UTILS/actions/runs/3431897877/jobs/5720818549

Here is the error: _error: implicit declaration of function 'times' is invalid in C99 [-Werror,-Wimplicit-function-declaration]_

NCEPLIBS team (@edwardhartnett et. al), how

[2022-11-10 15:19] GeorgeGayno-NOAA commented on #633
Anning Cheng was trying to create a C3072 L128 grid using the gdas_init utility on Cactus. The wind fields in the coldstart files were not correct. I was able to repeat the problem using develop at 711a4dc. I then upgraded to ESMF v8.4.0bs08, but the problem persisted. I ran with 8 nodes/18 tasks per node, and I requested memory of 500 GB. A plot of the problem is attached:

![Screenshot (24)](htt

[2022-11-10 15:28] GeorgeGayno-NOAA commented on #633
So, the way I create the ESMF fields for 3-d winds must have some other problems. As a test, I merged the latest updates from `develop` to the `bug_fix/chgres_memory` branch. I compiled 57792e3 on Cactus then reran the test in the previous comment. The wind fields looked correct.

[2022-11-10 15:36] edwardhartnett commented on #712
Did Kyle switch the NCEPLIBS build to use spack for UFS_UTILS?

[2022-11-10 15:48] GeorgeGayno-NOAA commented on #712
No. But @aerorahul said he would help.

[2022-11-15 18:27] GeorgeGayno-NOAA commented on #709
When processing a fractional grid (points can be a mix of land and non-land), how will the dominate category be defined? Suppose a point is:

- 40% land
- 60% non-land
- 35% forest
- 5% grassland

Is the dominate category forest or water?

[2022-11-15 21:25] GeorgeGayno-NOAA commented on #709
In order to read the water flag from the file, the file attributes and missing values need to be changed. This may be done using netCDF tools. On WCOSS2, the vegetation type files were changed as follows:

[code]

[2022-11-22 17:49] mdtoyNOAA opened #716 "Orographic asymmetry (OA) fields generated by orog_gsl have a negative bias, especially for high-resolution grids"
The orographic asymmetry (OA) fields generated by orog_gsl have a negative bias, especially for high resolution grids.  In the presentation by Michael Toy at NOAA/GSL (attached), the difference between the OA3 fields for C768 (13km) and C96 (100km) are shown.  The C96 shows a slight negative bias, while the C768 grid has a large negative bias.  The issue is that with higher-resolution grids, there

[2022-11-28 12:46] #710 closed, assigned to GeorgeGayno-NOAA

[2022-11-29 14:23] GeorgeGayno-NOAA commented on #242
Tested Hang's ip v4.0 on Cactus. Using 5fbfa1f, the `chgres_cube`, `global_cycle`, `grid_gen` and `snow2mdl` consistency tests all passed.

[2022-11-29 20:26] GeorgeGayno-NOAA commented on #714
The same problem exists in routines MAKEPC2 and MAKEOA2. These routines create the GWD fields. If there are no source points within a model grid box, then the GWD fields are set to initial values of zero. Updating these routines will be more complicated.

[2022-11-29 20:28] GeorgeGayno-NOAA commented on #714
Also, some of these GWD fields require multiple source points within a model box for a proper calculation. So, I suspect none of these fields are well calculated. We really need to use higher-resolution input data. Is GWD used in the fire WX domain?

[2022-11-29 21:44] #702 closed, assigned to barlage, BenjaminBlake-NOAA, GeorgeGayno-NOAA

[2022-11-30 01:38] barlage commented on #714
@GeorgeGayno-NOAA I spoke with the NESDIS/UMD developers of the water fraction product last week and they will produce a 7.5" global water fraction for us, which we can pair with the 7.5" GMTED elevation product. Hopefully this resolution will suffice for near future needs.