[2021-02-19 21:22] edwardhartnett commented on #310
Upper-right, under "Assignees", there is a button "assign yourself"

[2021-02-19 21:56] #309 closed

[2021-02-19 22:54] HenryJuang-NOAA commented on #165
The issues 0f #163 and #164 and this issue #165 have been resolved with newly created WAM IC tested successfully in FV3 WAM.
The WAM IC is from my branch called udhmhj.02 under
        https://github.com/HenryJuang-NOAA/UFS_UTILS.git
And the FV3WAM is in my branch called udhmhj.06 under
        https://github.com/HenryJuang-NOAA/ufs-weather-model
        https://github.com/HenryJuang-NOAA/fv3atm

[2021-02-20 13:02] #314 closed

[2021-02-20 14:25] HenryJuang-NOAA commented on #163
This issue can be closed because it has been resolved. The main issue is to add multi_gases option as part of WAM IC into chgres_cube. Since the gases added in are part of standard atmsophere gas, the addin gas components are part of the total standard atmsopheric gas, so it is reasonable to use specific value instead of mixing ratio. In this issue, the add-in gases are O, O2, and consider O3 as w

[2021-02-20 14:25] #163 closed

[2021-02-20 14:52] HenryJuang-NOAA commented on #164
This issue can be closed. The main issue for this has been resolved by using the package called NRLMSISE00 to extend atmospheric model top up to thermosphere as WAM IC. The package is a neutral atmosphere empirical model to provide standard atmospheric profile from surface to exosphere for atmospheric main gases such as O, O2, O3, and N2 and temperature fields, as function of time, latitude and lo

[2021-02-20 14:52] #164 closed

[2021-02-21 23:42] edwardhartnett opened #326 "Document public vars with doxygen in chgres_cube/program_setup.F90"
Part of #191

[2021-02-22 13:23] #318 closed

[2021-02-22 13:40] edwardhartnett opened #327 "doxygen warnings for chgres_cube"
After all the work on chgres_cube last week, we have only these documentation warnings remaining:

[code]

[2021-02-22 17:10] edwardhartnett commented on #193
Any progress here? We are fixing all chgres_cube doxygen documentation last week and this week, so this is a good time for documentation updates. Soon we will be writing tests for these codes...

[2021-02-22 17:11] edwardhartnett commented on #281
Any progress here?

[2021-02-22 17:12] edwardhartnett commented on #291
Any progress here? I would like to see a PR for this...

[2021-02-22 17:13] edwardhartnett commented on #310
@lgannoaa can you assign this to yourself? If the work is complete, we can then close this issue.

[2021-02-22 17:14] edwardhartnett commented on #321
The README should contain this info for future reference.

[2021-02-22 17:22] edwardhartnett commented on #321
I have added some text describing different directories in the project to the README. @GeorgeGayno-NOAA please fill in the ???.

[2021-02-22 17:30] GeorgeVandenberghe-NOAA commented on #291
Still stuck with git management.  I did get a change through and there
should be a PR on NOAA-EMC/UFS-UTILS showing a few doxygen changes
that are not working

The git management issue is

+ git clone git@github.com:GeorgeVandenberghe-NOAA/UFS_UTILS.git
Cloning into 'UFS_UTILS'...
remote: Enumerating objects: 491, done.
remote: Counting objects: 100% (491/491), done.
remote: Compressing objects: 1

[2021-02-22 19:04] lgannoaa commented on #281
Working on other task these couple of days. Will resume this work when time permit.

[2021-02-22 19:20] edwardhartnett commented on #281
I was actually asking @GeorgeGayno-NOAA as this task is assigned to him. ;-)

[2021-02-22 19:25] lgannoaa commented on #281
Thank you for clarify

[2021-02-22 21:01] edwardhartnett opened #336 "Can we use GFDL FRE_NCtools package?"
Here: https://github.com/NOAA-GFDL/FRE-NCtools

[2021-02-22 23:45] #321 closed

[2021-02-23 02:33] #327 closed

[2021-02-23 04:15] mkavulich commented on #275
Resolved by #325, thanks @climbfuji!

[2021-02-23 04:15] #275 closed

[2021-02-23 11:44] edwardhartnett commented on #326
This was completed in a recent PR.

[2021-02-23 11:44] #326 closed

[2021-02-23 11:45] edwardhartnett commented on #317
This may not be needed, if we can switch to the GFDL version of this code. See #336

[2021-02-23 11:45] #310 closed

[2021-02-23 12:18] edwardhartnett opened #338 "doxygen for fvcom_tools utility"
Part of #191

[2021-02-23 12:39] edwardhartnett commented on #296
@GeorgeGayno-NOAA I need a namelist that has grib input as well, so I can test the read_varmap() subroutine. Can you post the contents of such a namelist here?

Also, if there are other valid sorts of namelists, post the contents of a sample from each of the valid input choices, and I will add tests for them.

[2021-02-23 12:56] edwardhartnett opened #340 "add filename parameter to read_setup_namelist() in chgres_cube.fd/program_setup.F90"
We have function read_setup_namelist() which reads the setup namelist.

Currently this opens a file "./fort.41" to read the configuration namelist.

This is a little bit of a testing challenge. We have different namelist files we are going to need to test with. We can't name them all the same thing. We could use test shell scripts to move different namelist files around, naming whatever file we wa

[2021-02-23 13:51] edwardhartnett opened #341 "doxygen doxumentation for sorc/global_cycle.fd"
Part of #191

[2021-02-23 13:51] edwardhartnett opened #342 "doxygen documentation for sorc/emcsfc_ice_blend.fd"
Part of #191

[2021-02-23 13:53] edwardhartnett opened #343 "doxygen documentation for sorc/grid_tools.fd"
Part of #191

[2021-02-23 13:53] edwardhartnett opened #344 "doxygen documentation for sorc/orog_mask_tools.fd"
Part of #191

[2021-02-23 14:55] GeorgeGayno-NOAA commented on #296
Each namelist has slightly different entries based on the input data source.  I will cut and paste samples of each to this issue.

[2021-02-23 16:42] GeorgeGayno-NOAA commented on #296
Sample namelist when using FV3 tiled history data as input:

[code]

[2021-02-23 16:44] GeorgeGayno-NOAA commented on #296
Sample namelist when using GFS GRIB2 data as input:

[code]

[2021-02-23 16:46] GeorgeGayno-NOAA commented on #296
Sample namelist when using FV3 nemsio data as input:

[code]

[2021-02-23 16:50] GeorgeGayno-NOAA commented on #296
Sample namelist when using FV3 netcdf data as input:

[code]

[2021-02-23 16:53] GeorgeGayno-NOAA commented on #296
Sample namelist when using FV3 tiled warm restart files as input:

[code]

[2021-02-23 16:55] GeorgeGayno-NOAA commented on #296
Sample namelist when using spectral GFS nemsio data as input:

[code]

[2021-02-23 16:56] GeorgeGayno-NOAA commented on #296
Sample namelist when using spectral GFS sigio format:

[code]

[2021-02-23 16:57] GeorgeGayno-NOAA commented on #296
That should cover all the bases.

[2021-02-23 17:15] GeorgeVandenberghe-NOAA commented on #291
Working on model_grib.f in this directory.  Still getting doxygen to
generate a doc

Here's the code which once again does not appear in the documentation
output.  Working on it
THe doc block is immediately above the contained subroutine  *subroutine
read_mdl_grid_info *

 contains
!>
!! @brief read latitude, longitude, land/sea mask on the    model grid.
!!
!! @author George Gayno org: w/np2 @dat

[2021-02-23 18:33] GeorgeVandenberghe-NOAA commented on #291
Pulled off for a project meeting. Informed participants I'm now off the
project but hand to hand off responsibilities

Will get back later this afternoon with a PR for more documentation.  Have
a family issue also.   Will be back later this PM

On Tue, Feb 23, 2021 at 11:21 AM Edward Hartnett <notifications@github.com>
wrote:

--

George W Vandenberghe

*IMSG* at NOAA/NWS/NCEP/EMC

5830 University

[2021-02-23 21:48] edwardhartnett opened #350 "Document soil param calculations in chgres_cube.fd/program_setup.f90"
Is there a paper or other reference for the soil parameter calculations in chgres_cube.fd/program_setup.f90?

[2021-02-23 21:56] GeorgeGayno-NOAA opened #351 "Tag 2.0.0 to support the Short Range Weather App public release"
Create a tag from the release branch at 5f71127 to support the first public release of the SRW App.  The agreed upon tag name will be `ufs-v2.0.0`

[2021-02-23 22:22] GeorgeGayno-NOAA commented on #351
The documentation was successfully updated: https://noaa-emcufs-utils.readthedocs.io/en/ufs-v2.0.0/

[2021-02-23 22:59] #298 closed

[2021-02-23 22:59] edwardhartnett commented on #351
Let's do a proper release instead of just a tag.

I'll take you through the steps tomorrow.

[2021-02-23 23:05] JeffBeck-NOAA commented on #351
@edwardhartnett, just an FYI that we're identifying the repositories through tags in the ufs-srweather-app release branch Externals.cfg file, so we will need to have the tag that @GeorgeGayno-NOAA created.  No reason we can't also create a release as well, though!

[2021-02-23 23:13] climbfuji commented on #351
@edwardhartnett we should wait until the final testing is completed. There is always a possibility that we have to retag. Once the SRw App release is announced, the releases for UFS_UTILS etc can be created.

[2021-02-24 14:48] GeorgeGayno-NOAA commented on #350
The calculations are those used by the Noah LSM. The original reference for The Noah LSM is: https://doi.org/10.1029/2002JD003296  There may be newer or better references.  I would ask our land team.

@barlage what is the official citation(s) for the Noah LSM?

[2021-02-24 14:50] edwardhartnett commented on #350
Excellent thanks! I will add this link to the documentation.

[2021-02-24 14:52] GeorgeGayno-NOAA commented on #284
I can knock this out this morning.

[2021-02-24 15:03] #340 closed

[2021-02-24 15:09] barlage commented on #350
@edwardhartnett @GeorgeGayno-NOAA @HelinWei-NOAA  if you're looking for some details about the soil parameters/properties, you may also want to reference this (more details):

https://journals.ametsoc.org/view/journals/mwre/129/4/1520-0493_2001_129_0569_caalsh_2.0.co_2.xml

The original source for soil properties is here:

Cosby, B. J., G. M. Hornberger, R. B. Clapp, and T. R. Ginn, 1984:A statist

[2021-02-24 15:27] edwardhartnett commented on #350
Thanks! I have added these to the documentation...

[2021-02-24 15:52] edwardhartnett commented on #351
Releases have tags and we don't have to change it. Releases also have release announcements, published tarballs, documentation changes, and changes to the project management screens. ;-)

@GeorgeGayno-NOAA I am surprised that we went from 1.0.0 to 2.0.0 but that's cool. What is the next release going to be? 2.1? Or 3.0?

[2021-02-24 16:04] climbfuji commented on #351
I know this is confusing, but this release is different because it is from a different branch (release/public-v2), specifically for the UFS SRW (Short Range Weather App) public release, and does not align with the release numbers that are used by hpc stack etc. We have this problem with all repositories. The release is `ufs-v2.0.0` as opposed to just `vM.N.R` for the releases used by hpc-stack.

W

[2021-02-24 16:08] edwardhartnett commented on #351
OK, that is confusing.

[2021-02-24 16:09] climbfuji commented on #351
Otherwise it would be too easy.

[2021-02-24 17:36] #249 closed

[2021-02-24 19:09] #284 closed

[2021-02-24 20:09] lgannoaa commented on #343
In review of this issue, it included 4 directories and 12 f90 source codes. I think it will be helpful if @GeorgeGayno-NOAA can take a view and input high level description document before we can finish this issue with detail doxygen update.

[2021-02-24 21:22] edwardhartnett commented on #343
We need these files doxygenated. Please add doxygen formatting as best you can. Do one or two files and put up a PR, and we will start filling in the missing information.

[2021-02-24 21:44] GeorgeGayno-NOAA commented on #281
Looks like most of this routine has been doxygenated.  Just a couple of small routines need to be updated.  Will work on this now.

[2021-02-25 14:48] edwardhartnett opened #357 "Doxygen handling of modules not great"
When I open the doxygen output and go to files, I can navigate around and things are looking good.

But when I go to modules it does not work well. ;-)

I know there is some extra documentation glue needed here, and I will hit it after we complete our pass through UFS_UTILS, and make sure every file, module, function, and variable is documented properly.

[2021-02-25 14:56] edwardhartnett opened #358 "Must we require ESMFMKFILE? Can we have a FindESMF.cmake which does this for us?"
If I try to build without setting ESMFMKFILE, I get this error:

[code]

This is yucky, as I'm sure we all agree. Efforts to get ESMF to use a better build system are underway (and have been for over a decade, so that's a goal I may not achieve in the near-term).

But, even if I set CMAKE_PREFIX_PATH to include the directory with esmf.mk, I still get the yucky error.

Can we have a FindESMF.cmake,

[2021-02-25 15:09] aerorahul commented on #358
One can edit `FindESMF.cmake` to query `esmf_ROOT` or `esmf_DIR` and set `ESMFMKFILE` internally based on those 2 standard CMake variables.
That is just the same as any other `FindPackage.cmake` file that relies on `package_ROOT` or `package_DIR` variables.

You still won't be able to use `CMAKE_PREFIX_PATH`.  `CMAKE_PREFIX_PATH` is only usable if a package is built with cmake; i.e. it has cmake g

[2021-02-25 15:15] edwardhartnett commented on #358
What I want is to not have to set a special environment variable for ESMF. But apparently I will still have to, since it has to be set somewhere, and CMAKE_PREFIX_PATH will not work.

[2021-02-25 15:26] #350 closed

[2021-02-25 15:27] aerorahul commented on #358
Like I said, `CMAKE_PREFIX_PATH` does not work because `ESMF` is not a built with cmake and is not providing a `esmf-config.cmake` file.  If it were, one wouldn't need to set any special variables and `CMAKE_PREFIX_PATH` would work.  One could manually write a `esmf-config.cmake` file and emulate `FindESMF.cmake` in it and its associated `esmf-targets.cmake`, `esmf-config-version.cmake` etc.

This

[2021-02-25 15:33] edwardhartnett commented on #358
What if we wrote a cmake wrapper for the ESMF install? Would that work?

[2021-02-25 15:39] aerorahul commented on #358
I don't think so, but I could be wrong.  The `targets` are cmake targets and the dependencies are created and resolved by cmake.  Wrapping them up, if I understand what you are suggesting, is basically calling the underlying build via cmake.
The targets themselves need to be created via `add_library` calls, and the package has to be configured using cmake package configurator.

Besides, the underl

[2021-02-25 15:44] edwardhartnett commented on #358
Yuck.

OK I will ponder and await illumination. Thanks for the info, I will study your answers...

[2021-02-25 15:44] #358 closed

[2021-02-25 16:20] edwardhartnett opened #361 "Remove sorc/nst_tf_chg.fd and contents"
See discussion in #334.

This can be removed.

[2021-02-25 16:21] #281 closed

[2021-02-25 17:07] edwardhartnett commented on #90
@XuLi-NOAA is this still necessary?

[2021-02-25 17:16] XuLi-NOAA commented on #90
Not any more, it can be closed.

[2021-02-25 17:46] #90 closed

[2021-02-25 18:16] edwardhartnett commented on #344
Note that @GeorgeVandenberghe-NOAA is doing some doxygen work in this directory.

[2021-02-25 20:04] edwardhartnett commented on #357
OK, the problem is we need two documentation blocks in each module file, one for the file, and one for the module. I will fix...

[2021-02-25 22:03] #236 closed

[2021-02-26 18:09] GeorgeVandenberghe-NOAA commented on #344
Proceeded while waiting for review of #191 changes.   Most of these routines are undocumented with no information on how
they work or what they do (no fortran docblocks, just code with some documentation).  Some do have docblocks.  It is not
clear who the author is.

[2021-02-26 18:57] GeorgeVandenberghe-NOAA commented on #191
Per suggestion I have (had already) been ignoring module CONTAINED docblock rendering  issues (while addressing other issues in those docblocks) since wednesday afternoon.  So this did not stop me.

[2021-02-27 18:15] #303 closed

[2021-03-01 13:34] GeorgeGayno-NOAA opened #368 "Improve error message in global_cycle"
NCO wants an improved error message in global cycle.  Here is their comment:

[code]

The update must be done before the next implementation (v17) of GFS.

This request was opened under Bugzilla:  http://www2.spa.ncep.noaa.gov/bugzilla/show_bug.cgi?id=1197

[2021-03-01 14:22] edwardhartnett commented on #291
OK, much of this has been done, but there are still some parts of the code without parameters fully described. @GeorgeGayno-NOAA I will open another PR and we can try and figure those out...

[2021-03-01 15:10] kgerheiser commented on #269
Is there anything I need to do here? What Sphinx documentation are you referring to?

[2021-03-01 18:24] edwardhartnett commented on #269
There is a Makefile in the docs directory that does something to generate spinx documentation from some document files (also in docs).

THis needs to be integrated with the existing documentation build in CMake.

[2021-03-01 21:54] edwardhartnett commented on #255
Some more notes:
* THis needs to run on both the develop and public-v2 branches.
* This should check the hash on github and only run when there have been changes.
* The test should be run every 10 minutes or so, if there have been changes. This way we can see any breakage immediately.
* The results should be emailed to us, with PASSED or FAILED in the subject of the email (bonus for making the sub

[2021-03-02 14:25] kgerheiser commented on #293
I was able to do this in Github by installing gcovr and passing `CMAKE_Fortran_FLAGS` for the necessary flags through the command line.

The issue is outputting the data. With Github Actions you can save artifacts as a `.zip`, but that's it. There's no way to directly view the HTML output. You have to manually download it to look at the results.

There's https://about.codecov.io which is a service

[2021-03-02 14:43] edwardhartnett opened #373 "Need to turn off GENERATE_LATEX in the Doxyfile.in"
When running doxygen I keep getting an error:

[code]

According to the answer here:
https://stackoverflow.com/questions/12484159/problems-running-epstopdf-check-your-tex-installation

this is caused by the GENERATE_LATEX command. We don't need anything but HTML, and certainly not latex. So I will just turn off latex output.

[2021-03-02 14:59] edwardhartnett commented on #293
OK, that works for now, and maybe we can improve it later...

[2021-03-02 15:09] edwardhartnett commented on #311
Reassigning because @GeorgeVandenberghe-NOAA is now helping the UPP project...

[2021-03-02 15:13] edwardhartnett opened #374 "unexplained constants in chgres_cube.fd/program_setup.F90, subroutine calc_soil_params()"
In    in chgres_cube.fd/program_setup.F90, subroutine calc_soil_params(), we have:

[code]

What is 5.79E-9? 1.0? 2.0? 3.0? 200.0? -1.0?

These should be named constants.

Also some comments would be nice.

[2021-03-02 15:16] edwardhartnett opened #375 "in chgres_cube.fd/program_setup.F90, make subroutine calc_soil_params() public so it can be tested"
in chgres_cube.fd/program_setup.F90, we have  subroutine calc_soil_params():

[code]

This looks like a good place to test, so we need this subroutine to be public.

[2021-03-02 15:42] kgerheiser opened #377 "Create unit test from orog_mask_tools.fd/lake.fd/enclosure_cnvx.F90"
There is a small test in there that should be converted to a unit test in CMake.

[2021-03-02 17:21] edwardhartnett opened #378 "List authors of each util in README"
Now that we are getting our documentation together, we should be able to list the actual authors in the readme.

I think we need to list the authors of each utility separately.

[2021-03-02 21:55] kgerheiser opened #381 "NCEPLIBS not cached in Github Action"
There's a cache step, but it's never checked before building here:

https://github.com/NOAA-EMC/UFS_UTILS/blob/75349eaae645818e3349e763b08aa5fdfc2b1afc/.github/workflows/esmf-8.0.1_jasper-2.0.22_nceplibs-1.3.0.yml#L105

[2021-03-02 22:17] edwardhartnett commented on #381
Good catch!

[2021-03-03 12:32] edwardhartnett commented on #288
OK, somehow this change never made it. I'll try again.

[2021-03-03 13:52] edwardhartnett opened #383 "Add another code manager to UFS_UTILS"
We have all identified the need to have more than one code manager for each repo, but we really don't have many people. ;-)

UFS_UTILS is a very important repo, however, where the rubber meets the road in terms of using some of the other NCEPLIBS libraries. Our documentation and testing work is generating a lot of extra tasks for @GeorgeGayno-NOAA . :-(

Some of this additional effort can be taken

[2021-03-03 14:22] #338 closed

[2021-03-03 16:14] kgerheiser commented on #381
Fixed with #380

[2021-03-03 16:14] #381 closed

[2021-03-03 16:16] kgerheiser commented on #293
Fixed with #380

@edwardhartnett there's this issue in the upload artifact Action to be able to view files in the browser, and hopefully it's coming. https://github.com/actions/upload-artifact/issues/14

[2021-03-03 16:36] kgerheiser commented on #377
How do you link in the source code if we want to create tests? Everything is built as an executable with no intermediate library where we can test the code.

What if the executables were built with an intermediate (static) library? All the source files except the main `program` could be compiled into a library so that code can be tested, and the executable would be `program` linked to the library.

[2021-03-03 17:13] edwardhartnett commented on #293
OK, in the meantime, what's the procedure for getting the package of html files?

[2021-03-03 17:15] edwardhartnett commented on #377
I believe that is the answer we are looking for.

An easier alternative for me has been to just include the fortran files that I need to compile my test program.

I was not thinking we would do this for orog_mask_tools yet, chgres_cube is the immediate target, since that's where most of the code changes are.

That said, if you want to quickly try this and get it in place, I have no objection...

[2021-03-03 17:28] kgerheiser commented on #293
You go to `Actions`, click on a workflow run, and it's listed on the bottom as `test-coverage`. Click on that and it downloads.

See here, for example:

https://github.com/NOAA-EMC/UFS_UTILS/actions/runs/618295926

[2021-03-04 11:59] #361 closed

[2021-03-04 12:12] #288 closed

[2021-03-04 15:14] #313 closed

[2021-03-04 16:46] #378 closed

[2021-03-04 16:46] #383 closed

[2021-03-04 18:07] edwardhartnett commented on #255
Any progress here? It would be great to get this going this week...

[2021-03-04 18:33] kgerheiser commented on #255
Not much. I'll make this my priority now.

[2021-03-04 20:16] HenryJuang-NOAA commented on #165
This issue has been finished and ready for pull request.
What is the unit test? something like regression test?

[2021-03-04 21:06] edwardhartnett commented on #165
OK I don't think we can expect unit testing from this code. We need to provide better examples of what unit testing is first.

So if we have adequate regression testing, we can go with that.

[2021-03-04 22:45] HenryJuang-NOAA commented on #165
I didn't build a regression test for it, but I have GSM, V15, and V16 IC and workflow to run chgres)cube with WAM option to create WAM IC, with G. Gayno's help. Ed, do you want WAM regression build?

[2021-03-05 11:50] edwardhartnett commented on #165
I don't understand much of what you are asking.

You don't have a regression test or unit testing? We certainly need one or the other.

Can you explain to me how this code should be tested, if it has to change?

[2021-03-05 14:24] HenryJuang-NOAA commented on #165
This issue is to create a WAM IC(initial condition) from operational GS or FV3 GFS V15, or V16 IC. WAM is a whole atmospheric model based on FV3 GFS with model top up into thermosphere (model top pressure is about 10^-7 pascal). To have the WAM IC, we need temperature profile and O, O2, O3, and remain N2 profiles from current GFS model top to WAM model top. There is a new file contains all necessa

[2021-03-05 14:52] edwardhartnett commented on #165
Then yes, we need the regression test.

[2021-03-05 15:05] edwardhartnett opened #389 "generate a text report on what hpc-stack installs, and where it comes from"
We need a list of what hpc-stack installs, and where it is getting each package from.

Instead of generating a one-time list, I think hpc-stack should be able to output a simple list of what it would install. Possible?

[2021-03-05 15:10] aerorahul commented on #389
First part is easy and can be done before it starts building anything.
I think that is a good idea to do anyways.
We just need to add a function in `stack_helpers.sh` to print out what is `ON/OFF`.
The second part is not easily done.
The sources are wired in the build script.  It won't get to that point until its turn arrives during the build process.

[2021-03-05 15:11] aerorahul commented on #389
@edwardhartnett you probably intended to make this an issue in hpc-stack and not in ufs_utils.

[2021-03-05 15:22] #311 closed

[2021-03-05 15:28] kgerheiser commented on #312
Fixed with #386

[2021-03-05 15:28] #312 closed

[2021-03-05 15:28] kgerheiser commented on #389
Wrong repository? This is UFS_UTILS.

[2021-03-05 15:51] edwardhartnett commented on #389
Duh. There's a way to move issues, let me see if I can find it...

[2021-03-05 15:53] #389 closed

[2021-03-05 16:20] #342 closed

[2021-03-05 17:22] edwardhartnett commented on #373
This was done by one of the recent documentation merges.

[2021-03-05 17:22] #373 closed

[2021-03-05 17:23] edwardhartnett commented on #193
Can this issue be closed?

[2021-03-05 20:23] HenryJuang-NOAA commented on #165
Do we have any document which describes how to create baseline and do reg test?
The subdirectory reg_tests/chgres_cube should be the place I can add reg_test into driver.xxx.sh with c96.fv3.wam.sh which I can follow c96.fv3.restart.sh etc to create. But I can access only some machines, for example, I have no account on jet. I can establish in hera first, is that okay?

[2021-03-05 20:29] GeorgeGayno-NOAA commented on #165
Yes, go ahead and get it working on Hera for now.

[2021-03-05 21:59] HenryJuang-NOAA commented on #165
I will create baseline in my directory and ask to save into HOMEreg later.

[2021-03-08 11:04] edwardhartnett commented on #374
I looked in this paper to try and figure out the formulas: https://agupubs.onlinelibrary.wiley.com/doi/epdf/10.1029/2002JD003296.

Seems like section 8.1 of the paper is the relevant part.

`FX = (theta1 - theta_dry)/(theta_sat - theta_dry)
`
and

[code]
I'm having a hard time matching the equations to the code. ;-)

[2021-03-08 11:11] edwardhartnett commented on #374
I'm also looking at the equations on page 573 of file:///home/ed/UFS_UTILS/sorc/grid_tools.fd/regional_esg_grid.fd/[15200493%20-%20Monthly%20Weather%20Review]%20Coupling%20an%20Advanced%20Land%20Surface%E2%80%93Hydrology%20Model%20with%20the%20Penn%20State%E2%80%93NCAR%20MM5%20Modeling%20System.%20Part%20I_%20Model%20Implementation%20and%20Sensitivity.pdf. I see some terms there also used in the c

[2021-03-08 12:24] edwardhartnett opened #394 "Code files in emcsfc_snow2mdl.fd should have .F90 extension, not .f extension"
In sorc/emcsfc_snow2mdl.fd we have:
[code]

These are Fortran 90 files, but have a .f extension. The convention is that .f (or .F) is used for F77 code (i.e. fixed format Fortran) and .F90 is used for free-format fortran. This convention is observed by doxygen and make, as well as many code editing tools (like emacs). So it would be good if we followed this convention.

[2021-03-08 12:52] edwardhartnett commented on #357
OK, that improves the situation, and we need to do that for every module.

But that does not solve the whole problem, which stems from the fact that we are using 1 documentation build for all utilities, whereas we should be build each with its own documentation build.

If we did, then each build would have a very nice listing of modules and data types that apply only to that utility. As it is, we

[2021-03-08 14:04] GeorgeGayno-NOAA commented on #374
@barlage Can you or someone on the land team help?

[2021-03-08 14:09] edwardhartnett commented on #374
I also see these numbers:

[code]

I am wondering where they come from. I see in this paper some similar numbers, but they are not the same. Where our numbers derived from the paper's? If so, how?

https://pdfs.semanticscholar.org/e3a3/d0e56552b17c719c5a50dabc10ae471bf821.pdf

[2021-03-08 14:12] barlage commented on #374
I can help out with some of this, but not immediately. I will try to respond before tomorrow.

[2021-03-08 14:20] edwardhartnett commented on #374
It's not urgent. I'm writing tests for this code and just want to check the numbers, rather than taking them as gospel.

[2021-03-09 12:54] #291 closed

[2021-03-09 15:00] GeorgeGayno-NOAA opened #396 "Remove unused routine 'bktges' for global_cycle"
The routine 'bktges' of sfcsub.F is not used.  Remove it.

[2021-03-09 16:03] #396 closed

[2021-03-09 16:45] GeorgeGayno-NOAA commented on #394
I can knock this out today.

[2021-03-09 17:12] edwardhartnett opened #398 "Clear doxygen warnings from global_cycle.fd"
Part of #191

There are many doxygen warnings from global_cycle.fd. ;-)

@GeorgeGayno-NOAA and @Hang-Lei-NOAA can you tackle these? I will work on other UFS_UTILS documentation warnings, and will pitch in with global_cycle if I finish first.

You will need to coordinate so you don't both do the same file at the same time.

Here's some of the warnings, the rest can be seen in the CI:

[code]

[2021-03-09 20:50] GeorgeGayno-NOAA commented on #398
Some of these warnings don't make sense.  For example, the warnings for routine "analy" refer to variables it claims are not found in the argument list (such as 'irtvmx'). But those variables are clearly part of the argument list.  I suspect doxygen does not understand the f77 continuation syntax for argument lists. Note how the first warning for 'analy' is for 'slmask', the first argument after t

[2021-03-09 21:48] edwardhartnett commented on #398
OK, do the warnings that make sense and I'll take a look at the remainder...

[2021-03-10 11:36] #394 closed

[2021-03-10 12:14] edwardhartnett commented on #193
@GeorgeGayno-NOAA do you know if this issue is still active?

@LarissaReames-NOAA are you getting notifications when someone posts a question in one of your GitHub issues?

[2021-03-10 12:15] edwardhartnett commented on #97
Should this issue be closed?

[2021-03-10 12:31] edwardhartnett opened #401 "Clear doxygen warnings from sorc/sfc_climo_gen"
Part of #191

[2021-03-10 13:20] edwardhartnett opened #403 "Clear doxygen warnings from sorc/vcoord_gen.fd"
Part of #191

[2021-03-10 14:31] GeorgeGayno-NOAA commented on #193
I don't know if the issue is active.  The changes were merged to 'develop'.  But I don't know if they were pushed to the SRW App release.

[2021-03-10 14:35] #97 closed

[2021-03-10 14:43] #403 closed

[2021-03-10 15:21] #401 closed

[2021-03-10 16:58] GeorgeGayno-NOAA commented on #398
I will open a branch and work on sfcsub.F.

[2021-03-10 19:50] LarissaReames-NOAA commented on #193
This will be pushed to release/public-v2 in the first bug fix release.

[2021-03-10 21:15] GeorgeGayno-NOAA opened #406 "Clear doxygen warnings from inland.fd"
Part of #191.

[2021-03-10 21:51] GeorgeGayno-NOAA opened #408 "Clear doxygen warnings from orog_mask_tools.fd"
Part of #191.
Part of #344

[2021-03-11 10:56] #406 closed

[2021-03-11 11:07] edwardhartnett commented on #398
I will take a look at this next...

[2021-03-11 11:08] edwardhartnett commented on #398
Can you put these changes up in a PR so I can look at them?

[2021-03-11 15:42] GeorgeGayno-NOAA opened #412 "Remove unused variables from machine.f90 of global_cycle"
Most of the variables are not used by global_cycle.  And I don't know how to define them.   These fields are triggering doxygen warnings.  I think they can be safely removed.

Related to #398.

[2021-03-11 16:17] #412 closed

[2021-03-11 20:29] edwardhartnett commented on #255
Any progress here?

[2021-03-11 20:30] #282 closed

[2021-03-11 20:32] kgerheiser commented on #255
Yes, I have a script that clones, checks the hash, builds, and runs the regression tests and emails the results.

[2021-03-11 20:34] kgerheiser commented on #255
See https://github.com/kgerheiser/UFS_UTILS/blob/feature/auto-reg-tests/reg_tests/cron.sh

[2021-03-11 20:39] edwardhartnett commented on #255
Awesome. Is this running as a cron job on the machines @GeorgeGayno-NOAA uses for testing?

How often should it be run? Every hour perhaps?

[2021-03-11 21:23] GeorgeGayno-NOAA opened #413 "Remove unused routines from orog.fd"
I am too lazy to add doxygen to 'dead' routines.

Part of #408.

[2021-03-12 11:34] edwardhartnett commented on #408
Any progress here? It would be great if we could finish this documentation work and turn to testing...

[2021-03-12 18:57] GeorgeGayno-NOAA commented on #408
I am trying to define all the 'params'.  And I am not totally familiar with this code.  So it can be slow going.  I can clear the errors by adding "???" for now.  Either way is fine with me.

[2021-03-12 22:19] GeorgeGayno-NOAA commented on #408
With commit 4738d89, all warnings have been removed from orog.fd.  However, there are many 'params' that have ???.  I can work on those next.

[2021-03-15 14:23] GeorgeGayno-NOAA commented on #398
I figured out why doxygen does not work with sfcsub.F.  Reopening this issue to fix it.

[2021-03-15 15:51] GeorgeGayno-NOAA commented on #296
If you want to run these MPI tests on WCOSS-Dell, here is what I do:

[code]

[2021-03-15 18:34] edwardhartnett commented on #296
I will try and let you know...

[2021-03-15 19:29] #398 closed

[2021-03-15 20:30] EricRogers-NOAA opened #415 "Add LAM DA utility codes to UFS-UTILS"
Three utility codes were written by Tom Black to insert the GSI analysis into the LAM 0-h boundary file, as part of the changes to address the model imbalances seen when first running the regional FV3.

create_expanded_restart_files_for_DA.F90 (runs before forecast model during LAMDA)
prep_for_regional_DA.F90 (runs after forecast model during LAMDA)
move_DA_update_data.F90 (runs after GSI analysis

[2021-03-15 20:34] GeorgeGayno-NOAA commented on #415
@EricRogers-NOAA UFS_UTILS uses a CMake build now.  So you should not need Tom's build script.  I can help with the build.

[2021-03-15 20:56] edwardhartnett commented on #415
Also we need these codes to be documented with doxygen. We can help with the formatting.

We also need some tests for these codes. Do you have any?

[2021-03-16 22:27] EricRogers-NOAA commented on #415
Ed, I assume you mean regression tests? No, we don't have any, but setting them up should not be a big deal. Currently they are run in the 3 km LAM DA parallel, I've also run them at C96 resolution (a while ago). At 3 km resolution two of the three codes runs fast, one runs slow (because it processes FV3 restart files)
George, I checked out the UFS_UTILS develop branch and added the three new code

[2021-03-17 13:10] edwardhartnett commented on #408
I'm still seeing these warnings:

[code]

[2021-03-17 13:10] edwardhartnett commented on #374
@barlage any progress here?

[2021-03-17 13:12] edwardhartnett commented on #343
I am working with Jim Purser to get the rest of these question marks filled in...

[2021-03-17 13:24] edwardhartnett commented on #191
Not sure hot this issue got closed. We will keep it open until we turn on WARN_AS_ERROR everywhere (perhaps with some exceptions), and fill in all "???" in the current documentation.

[2021-03-17 13:26] GeorgeGayno-NOAA commented on #415
@EricRogers-NOAA Please create your own fork of UFS_UTILS, then create a branch to add your changes.  See the wiki page for details:
https://github.com/NOAA-EMC/UFS_UTILS/wiki/3.-Checking-out-code-and-making-changes

[2021-03-17 13:53] GeorgeGayno-NOAA commented on #408
@edwardhartnett I only see one warning about lake.fd.  What commit are you looking at?  My latest version is afd9cff.

[2021-03-17 14:06] edwardhartnett commented on #408
I am using the develop branch. Warnings can also be seen on the CI, for example: https://github.com/NOAA-EMC/UFS_UTILS/runs/2121157616. You can see the warnings in the output for the build step, starting line 981.

[2021-03-17 14:07] edwardhartnett opened #417 "Doxyfiles need to be updated"
I see this for all Doxyfiles on the CI:

[code]

[2021-03-17 14:52] edwardhartnett opened #419 "CI failures due to missing MPI compilers?"
@kgerheiser any idea what is going on here? CI seems to be messed up..

[code]

[2021-03-17 14:57] kgerheiser commented on #419
Since we do `find_package(MPI REQUIRED)` without specifying the language, I think it's looking for MPI C++ which isn't being found. Specifying `find_package(MPI REQUIRED C Fortran)` might fix it. I wonder if CMake was updated on the runner and this is a new error message?

[2021-03-17 21:17] edwardhartnett commented on #419
Well this is preventing any merges, so what shall we do here?

[2021-03-17 21:44] edwardhartnett opened #422 "add regression tests to the cmake build, if optional external data dir is provided, put data on ftp site as one or more giant tarballs"
We have a bunch of regression tests which depend on special scripts and external data to run.

We need the CMake build to be able to run the regression tests. If we add an optional argument REG_TEST_PATH, which, when used, is the location of the regression test data, then the regression tests can be run.

This way, programmers can download a copy of the regression data, and run the regression test

[2021-03-18 10:19] edwardhartnett commented on #419
@kgerheiser any ideas how to proceed?

[2021-03-18 10:27] edwardhartnett commented on #255
How is this coming? Can we get this working at least on some machines, this week?

[2021-03-18 10:28] edwardhartnett commented on #336
@GeorgeGayno-NOAA how can we determine whether we can use the GFDL package, and remove this code from UFS_UTILS?

[2021-03-18 13:42] GeorgeGayno-NOAA commented on #300
Do you have a sample soil temperature increment file I can try?

[2021-03-18 17:55] GeorgeGayno-NOAA commented on #398
@junwang-noaa We updated the sfcsub.F routine in UFS_UTILS.  No logic changes.  Just doxygen comments.  For consistency, we need to make sure the forecast model is using the same version.

[2021-03-18 17:58] junwang-noaa commented on #398
George, are you using this version
https://github.com/NCAR/ccpp-physics/blob/master/physics/sfcsub.F?

On Thu, Mar 18, 2021 at 1:55 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2021-03-18 18:07] GeorgeGayno-NOAA commented on #398
We use a local copy in UFS_UTILS.  The version under ccpp looks different.  I see Helin added fields for Noah-MP.  Perhaps UFS_UTILS should link to this repo to get sfcsub.F.  That will prevent diverging versions.

[2021-03-18 18:09] ClaraDraper-NOAA commented on #300
Yes,

There's a test case here on hera:
/scratch2/BMC/gsienkf/Clara.Draper/DA_test_cases/2mDA/add_incr

The increment file is sfcincr_2020082012_fhr06_mem001 in the above
directory.

On Thu, Mar 18, 2021 at 7:42 AM GeorgeGayno-NOAA ***@***.***>
wrote:

--
--------------------------------------------------------------------
Clara Draper
CIRES / NOAA Earth System Research Laboratories
Physical Scien

[2021-03-18 18:27] junwang-noaa commented on #398
I think that would be good.

On Thu, Mar 18, 2021 at 2:07 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2021-03-18 18:55] GeorgeGayno-NOAA opened #424 "Ensure sfcsub.F of global_cycle is linked to the version used by the forecast model."
The sfcsub.F module is used by global_cycle AND the forecast model.  Both programs should use the same version.  Need a way to ensure they are always linked up.

Forecast model version: https://github.com/NCAR/ccpp-physics/blob/master/physics/sfcsub.F

Will need to coordinate with @junwang-noaa

[2021-03-18 22:23] edwardhartnett commented on #293
When I upload this and unzip, there is just one file, the main report file. But there should be a bunch more HTML files, one for each code file as well...

[2021-03-19 13:41] kgerheiser commented on #419
I tried enabling C++ in the project to see if that has any affect. It still fails. I guess it really can't find MPI for some reason. I'm not sure what the problem is.

[2021-03-19 13:47] kgerheiser commented on #419
I see this warning from Homebrew when installing Mpich

https://github.com/kgerheiser/UFS_UTILS/runs/2148896474?check_suite_focus=true#step:2:33

[2021-03-19 13:56] edwardhartnett commented on #419
@aerorahul any thoughts as to why our CI suddenly stopped working on macs?

We are getting this error from UFS_UTIL cmake build:

[code]

[2021-03-19 13:57] edwardhartnett commented on #419
I added mpicc --version and mpifort --version commands before we attempt to build, and both are present on the machine. So what is wrong with our CMake?

[code]

[2021-03-19 13:59] aerorahul commented on #419
really quickly:
`find_package(MPI)` will find all the languages in the project `LANGUAGE`.
It seems you may be needing the CXX MPI library but is not being searched because the project does not require it.
Two suggestions:
1. Add CXX to the project LANGUAGE
2. Figure out which program is looking for it and is it really needed.

[2021-03-19 14:02] aerorahul commented on #419
Looks like @kgerheiser tried that.
I can try building on my mac today and let you know.

[2021-03-19 14:02] kgerheiser commented on #419
@edwardhartnett I was going to try that, but it seems like MPI is working.

@aerorahul I tried enabling C++, but that doesn't fix it.

I'm installing OpenMPI instead of MPICH and we'll see if that works.

[2021-03-19 14:07] kgerheiser commented on #419
Using OpenMPI instead of MPICH works.

https://github.com/kgerheiser/UFS_UTILS/actions/runs/668152558

[2021-03-19 14:27] edwardhartnett commented on #419
OK, good that we got OpenMPI working. But we also need MPICH to work. ;-)

[2021-03-19 14:28] edwardhartnett opened #425 "Add OpenMPI testing"
The two main flavors of MPI are MPICH and OpenMPI. We need to test with both, as we do on the ParallelIO project.

The reason is, we will have uses with both, and we need to be sure that we build and test cleanly on both.

[2021-03-19 16:07] kgerheiser commented on #419
Tried using `--build-from-source` for MPICH in Homebrew, but it still failed with the same error.

[2021-03-19 16:29] edwardhartnett commented on #419
Here's a workflow in which I build mpich from source (without homebrew being involved). Maybe use that? https://github.com/NCAR/ParallelIO/blob/master/.github/workflows/netcdf-4.7.4_hdf5-1.12.0_pnetcdf-12.2_ncint_mpich-3.3_asan.yml

[2021-03-19 18:43] GeorgeGayno-NOAA commented on #336
It looks like the GFDL repository has all the files we need.  Let me see I can build it within UFS_UTILS.

[2021-03-19 19:02] edwardhartnett commented on #336
We can build it for everyone in hpc-stack, so we don't need it in UFS_UTILS. The question is, can we use it as a replacement? That is, can we have hpc-stack install the GFDL package, and take it out of UFS_UTILS?

So I guess you need to drop it in, run the regression tests, and see if you get the correct answers. Also I would suggest you inspect the code and see if there's any changes between what

[2021-03-19 21:40] GeorgeGayno-NOAA commented on #336
UFS_UTILS itself only uses 'make_hgrid' and 'make_solo_mosaic'.  It builds 'fregrid' but does not use it.  It is a remapping program, so it may be used for postprocessing.  We can query the global and regional groups.  And our DTC colleagues.

[2021-03-19 21:51] GeorgeGayno-NOAA commented on #336
After several attempts, I was able to get v2.18.0 to compile on Hera.  I then tested `make_hgrid` and `make_solo_mosaic` to create a C96 global grid using these commands:

`/make_hgrid --grid_type gnomonic_ed --nlon 192 --grid_name C96_grid`

and

`make_solo_mosaic --num_tiles 6 --dir /scratch2/NCEPDEV/stmp1/George.Gayno/test --mosaic C96_mosaic --tile_file C96_grid.tile1.nc,C96_grid.tile2.nc,C96_

[2021-03-22 15:08] kgerheiser commented on #419
Trying the MPICH build now

[2021-03-22 15:17] edwardhartnett commented on #419
I note the more primitive methods of the PIO builds (which don't use matrices well withing the github YML) have the advantage that even if one build fails, the others work. In the case of these builds, a failure on MacOS causes all tests to fail. It's not something we should change, just interesting to note...

[2021-03-22 15:17] kgerheiser commented on #293
I was using the option `--html` which outputs just a single HTML file. The command `--html-details` makes a page for each file.

[2021-03-22 15:29] kgerheiser commented on #419
Yeah, I've noticed that. I don't like how it cancels all jobs in the workflow (Ubuntu) if one of them fails.

[2021-03-22 15:34] edwardhartnett commented on #419
On the other hand, it lends urgency. Nothing moves forward until everything is fixed. ;-)

[2021-03-23 13:08] #419 closed

[2021-03-23 14:07] #293 closed

[2021-03-23 15:53] edwardhartnett commented on #419
Did we ever figure out why the stock mpi didn't work?

[2021-03-23 16:09] kgerheiser commented on #419
I'm not sure.

[2021-03-23 16:46] edwardhartnett commented on #419
What is the current state of play?

- Did we add an OpenMPI based test?
- Did we add an MPICH built from scratch test?
- Did we take away the MPICH from package manager?

Really, we need all of these to work. Also we need to make clear what version of MPICH we are building.

[2021-03-23 17:05] kgerheiser commented on #419
MPICH is installed from source instead of Homebrew on macOS. I'm adding OpenMPI as a separate PR.

[2021-03-23 17:48] edwardhartnett commented on #419
OK do we still have an ubuntu build using mpich from the package management system?

[2021-03-23 17:49] kgerheiser commented on #419
Yes

[2021-03-24 17:30] #344 closed

[2021-03-24 17:30] #408 closed

[2021-03-24 17:30] #413 closed

[2021-03-24 20:08] GeorgeGayno-NOAA commented on #102
@KateFriedman-NOAA I just updated my branch for the official v16 tarballs.  Due to a quirk in how the switchover was done, I could not find a complete set of v15 or v16 data for cycle 2021032100.  I am not sure what to do.  So I added an error message if someone picks that cycle.  Do you have a better idea?

[2021-03-24 20:15] HenryJuang-NOAA commented on #165
I believe I have done all places to document. Really don't know how to debug it to finish.... help!!

[2021-03-24 20:20] GeorgeGayno-NOAA commented on #165
@HenryJuang-NOAA Please merge the latest updates from 'develop'.  Then I can look for doxygen warnings.

[2021-03-24 20:53] KateFriedman-NOAA commented on #102
So our EMC v16rt2n parallel was archiving NCO parallel output and it includes that cycle:

/5year/NCEPDEV/emc-global/emc.glopara/WCOSS_D/gfsv16/v16rt2n/2021032100

These runhistory tarballs for that cycle look like the v16 ones though (based on their names and contents):

[code]

So it looks like the v15 output is missing(?). Unless they will be overwriting those tarballs with v15 output, I know d

[2021-03-24 21:16] HenryJuang-NOAA commented on #165
updated develop with upstream, and merged to udhmhj.02, pushed.

On Wed, Mar 24, 2021 at 4:20 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2021-03-25 02:33] HenryJuang-NOAA commented on #165
George,
I checked the last push for udhmhj.02, there is no fail jobs. Doxygen doc is passed, right?
Since this a dry-run, and I had a ud/ which I don't need to merge back to develop. What should I do next?
How about create a new branch without ud/, then do real pull request to merge back to master develop?
The regress test for wam ic can be another issue for future pull request, what do you think?

[2021-03-25 13:21] GeorgeGayno-NOAA commented on #102
Yes, v15 was still officially OPS at 2021032100, so where are the v15 tarballs?  Those are the v16 tarballs as you noted.

[2021-03-25 13:38] KateFriedman-NOAA commented on #102
Don't know about the v15 tarballs, I'll shoot an email off to SPA Jen to inquire.

FYI, Russ just had all of the v16rt2n tarballs that were under the emc.gloparadev space on HPSS consolidated under the emc.glopara space. So I'm reconfirming that is the pickup location for pre-implementation tarballs from the NCO parallel.

/NCEPDEV/emc-global/5year/emc.glopara/WCOSS_D/gfsv16/v16rt2n

[2021-03-25 14:02] GeorgeGayno-NOAA commented on #165
The ./ud directory must be deleted before merging.  You can either keep those files locally or add them to another branch in your fork that won't be merged.

A regression test should be included in this PR.

[2021-03-25 14:18] #417 closed

[2021-03-25 16:47] junwang-noaa commented on #424
@climbfuji @DusanJovic-NOAA do you know if there is a way to point to a single file from other repository?

[2021-03-25 17:12] climbfuji commented on #424
I found this on the web, haven't tried it:

[code]

[2021-03-25 17:14] edwardhartnett commented on #424
This will not work in general, because it will break the github distribution of tarballs. In other words, git will be the only way the software can be built, which is unusual and unfair.

Is there some library we can put this code in? Some library that both of these applications can link to?

[2021-03-25 17:17] climbfuji commented on #424
It's a single file ... of course we could put it into a separate repository, possibly together with `gcycle.F90`, if we think this isn't too much overhead. The benefit of using the same repository is big, but it will create a testing dependency between ccpp-physics and UFS_UTILS. Not sure if this is what we want, especially if UFS_UTILS requires changes that then trigger a whole range of updates i

[2021-03-25 17:31] GeorgeGayno-NOAA commented on #424
I doubt there will be many changes to sfcsub.F that are initiated from UFS_UTILS.  The global_cycle program is simply a stand-alone wrapper that runs sfcsub.F.  I am more worried about keeping up with changes to sfcsub.F in CCPP.

[2021-03-25 17:35] climbfuji commented on #424
This file hasn't seen many changes in CCPP either ... maybe twice a year or so in the last few years?

[2021-03-26 15:55] HenryJuang-NOAA commented on #165
George,
I am doing to create reg_test for wam ic. What input data do you think I should use? or I have to have all different ic for wam ic? I need cold start wam ic from any archived data, say GFS GSM or GFS FV3, maybe for future cases, we should use operational GFS FV3 restart files or analyzed data ic? need your suggestion...

[2021-03-26 17:52] GeorgeGayno-NOAA commented on #165
Initially, I would not create a test for every possible input data type.  You can pick the input data you think most folks will use.  Another consideration: the v16 data has a much higher model top than v15.  Which is the better test of your algorithm?

[2021-03-26 18:00] HenryJuang-NOAA commented on #165
Agree. Which input in your input_data directory is v16?

On Fri, Mar 26, 2021 at 1:52 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2021-03-26 18:22] GeorgeGayno-NOAA commented on #165
/scratch1/NCEPDEV/da/George.Gayno/noscrub/reg_tests/chgres_cube/input_data/fv3.netcdf

[2021-03-26 19:15] HenryJuang-NOAA commented on #165
Okay! So I can start from c96.fv3.netcdf.sh to create c96.fv3.netcdf2wam.sh.
Is it named okay? Well, let me do it first, we can change the file name
later if we want. Thanks.

On Fri, Mar 26, 2021 at 2:23 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2021-03-26 20:58] GeorgeGayno-NOAA commented on #102
Ok. So you want me to keep the option to use v16 pre-implementation data?

[2021-03-29 13:50] HenryJuang-NOAA commented on #165
George,
I have done reg_tests for this issue by adding c96.fv3.netcdf2wam.sh into all drivers, but only tested in hera. The netcdf2wam baseline data I saved to compare is under
/scratch1/NCEPDEV/global/Henry.Juang/baseline_data/c96_fv3_netcdf2wam
Please copy to your baseline_data place, then I will modify sh file to point to your baseline location. I think this issue can be done with PR as into a

[2021-03-29 15:23] edwardhartnett commented on #374
Any progress here?

[2021-04-02 14:53] edwardhartnett opened #431 "Add slideshow to docs directory, reference from README"
Add George's slideshow to docs directory, reference from README.

[2021-04-05 15:30] #431 closed

[2021-04-05 15:37] edwardhartnett commented on #374
@barlage any progress here? I am somewhat concerned that these numbers are so mysterious. Do we understand where they came from?

[2021-04-05 16:09] JosephMouallem opened #433 "grid_tiles length in sfc_climo_gen.fd/model_grid.F90"
The length of grid_tiles in sfc_climo_gen.fd/model_grid.F90 is currently 5 which doesn't support a grid_tiles number > 9 for instance 'tile10' will be 'tile1'. An easy fix is to increase this values in that routine but then this causes some out_files naming issues in output.f90

[2021-04-05 17:32] #167 closed

[2021-04-05 21:49] JosephMouallem commented on #433
Same in chgres_cube.fd/model_grid.F90

[2021-04-06 14:33] edwardhartnett opened #434 "change "regression tests" in documentation to "consistency tests""
We are using a very different meaning for the term "regression testing" than is usually meant.

Regression testing is when a programmer runs the unit test suite (or a subset) after every small change in code. This is usually done on the programmers computer (i.e. with "make test"), but can be accomplished with GitHub continuous integration, if the programmer commits changes frequently, and pays at

[2021-04-07 18:57] GeorgeGayno-NOAA commented on #279
This issue is getting stale.  How about I work on this next?

[2021-04-08 14:29] GeorgeGayno-NOAA commented on #216
@barlage To follow up on your question, the sfc_climo_gen code - which maps the vegetation type and other static surface fields - works with model grid boxes that are partial land.  There is logic that checks for the existence of the "lake_frac" record in the orography file.  If that record exists, then any point with a "land_frac" greater than zero will be assigned a veg type (and the other surfa

[2021-04-08 18:31] HenryJuang-NOAA commented on #165
George

I need your help to copy baseline of WAM IC regtest.
Thanks,

Henry

On Fri, Mar 26, 2021 at 2:23 PM GeorgeGayno-NOAA ***@***.***>
wrote:

[2021-04-09 16:26] barlage commented on #216
OK, thanks @GeorgeGayno-NOAA . I know that Shan has the oro files that she is currently using (maybe you created those?). Just want to make sure that the surface files we create for the land spin-up is as close to final as possible to those used for the prototype 7 simulations.

[2021-04-09 17:15] GeorgeGayno-NOAA commented on #216
No, I don't recall how Shan created the files.  It is important that we know exactly how all of these fixed files were created before any official parallel testing begins.  In other words, we need to document that under this issue or another future issue. (i.e., What branch/commit number was used and what machine the files were created on).

[2021-04-09 21:13] #253 closed

[2021-04-10 13:52] edwardhartnett commented on #278
Any progress here?

[2021-04-10 14:04] edwardhartnett commented on #374
@arunchawla-NOAA perhaps you can jump in and try and shake loose some answers from the land team? There are a bunch of constants in the code, and we're trying to learn where they came from. They were attributed to some science papers, but do not appear in those papers. Some additional work was done to derive these numbers - what was it?

Perhaps we simply don't know where these numbers came from?

[2021-04-10 14:40] barlage commented on #374
This issue seems minor relative to other issues I'm dealing with so has been superseded by other concerns. If this is holding up some larger development or truly requires management intervention, let me know.

[2021-04-12 17:32] KateFriedman-NOAA commented on #102
@GeorgeGayno-NOAA I've retested your feature/gdas_init.v16 branch on Hera for all supported GFS versions (v12, v13, v14, v15, v16 retro, v16 ops). I had no issues running chgres_cube via a global-workflow job. Tests:

v12:
/scratch1/NCEPDEV/global/Kate.Friedman/expdir/ffv12
/scratch1/NCEPDEV/stmp4/Kate.Friedman/comrot/ffv12

v13:
/scratch1/NCEPDEV/global/Kate.Friedman/expdir/ffv13
/scratch1/NCEPDE

[2021-04-14 19:34] GeorgeGayno-NOAA commented on #255
@kgerheiser changes were merged with #426. (Good job! @kgerheiser). And I have cron'd them on all officially supported machines. So can this issue be closed?

[2021-04-14 22:46] #255 closed

[2021-04-15 19:05] GeorgeGayno-NOAA commented on #368
The branch at ea153d9 was compiled on Orion, Hera, Jet, WCOSS-Cray and WCOSS-Dell. And the `global_cycle` regression test passed as expected.

[2021-04-16 15:07] #266 closed

[2021-04-16 20:15] GeorgeGayno-NOAA commented on #278
I think there is a bug in the first 'if' block.  I suspect it should be:

`if (abs(latitude) > 60.0) then`

[2021-04-16 20:24] edwardhartnett commented on #278
OK, good find. Can you please enter a new issue for that?

[2021-04-16 20:30] GeorgeGayno-NOAA commented on #278
This dovetails nicely with #436, because the unit test I wrote exercises this routine. Once #436 is merged, I will update the unit test for this specific case.

[2021-04-19 14:12] GeorgeGayno-NOAA commented on #197
@KateFriedman-NOAA This issue has not been updated in a while. What do you want to do with this?

[2021-04-19 14:15] #26 closed

[2021-04-19 14:16] #62 closed

[2021-04-19 14:29] GeorgeGayno-NOAA opened #441 "Possible bug in chgres_cube's sst_guess routine."
The `sst_guess` routine sets the SST values for small lakes that are far from other water bodies. The SST is based on latitude as follows:

[code]

I suspect the first 'if' block should be `if (abs(latitude) >= 60)`. Otherwise, SST values south of minus 60 would be below freezing.

I don't think this is causing problems because there are likely very few isolated open water lakes south of minus 60.

[2021-04-19 14:48] KateFriedman-NOAA commented on #197
@GeorgeGayno-NOAA I forgot about this, apologies! Since the develop branch of UFS_UTILS now uses hpc-stack this isn't needed. You can discontinue and close this issue. Thanks!

[2021-04-19 15:09] GeorgeGayno-NOAA commented on #197
@KateFriedman-NOAA The `support/ops-gfsv16.0.0` branch was created under this issue. Can I delete that branch?

https://github.com/NOAA-EMC/UFS_UTILS/tree/support/ops-gfsv16.0.0

[2021-04-19 15:12] KateFriedman-NOAA commented on #197
Yes, it can be deleted, thanks!

[2021-04-19 15:21] GeorgeGayno-NOAA commented on #197
Will do!

[2021-04-19 15:24] #197 closed

[2021-04-19 15:36] GeorgeGayno-NOAA commented on #26
And the tag should be updated to a release.

[2021-04-19 17:45] GeorgeGayno-NOAA commented on #62
Deleting the release branch. Users should point to the tag.

[2021-04-19 18:30] GeorgeGayno-NOAA commented on #95
@MatthewPyle-NOAA I will keep `release/ops-hrefv3.1` and also create a tag from it. If there is another CDF, please point NCO to the tag and not the release branch.

[2021-04-20 10:43] edwardhartnett opened #442 "do a version 1.3.0 release"
When a release (or tag) is desired, the following steps need to be followed:

1 - Open an issue "release version XXX" so that everyone knows that a release is imminent.
2 - Write release notest.
3 - Do a versioned release. (Add any other tag name you like, but there release tag should be a version number).
4 - Update gh-pages branch with documentation.

So we have just done a release. We need bett

[2021-04-20 10:45] edwardhartnett commented on #442
@GeorgeGayno-NOAA what is going on with these new tags? There seem to be several tags added all at similar points in the code.

What is going on with this?

[2021-04-20 10:47] edwardhartnett opened #443 "check versions of all dependent packages"
When we look for dependent packages in the CMake build we must know what versions of each package are acceptable. That is, what version of ESMF is required to run the code.

[2021-04-20 10:51] edwardhartnett commented on #441
Of course it must be fixed. But as part of the fix we need a test that demonstrates the bug.

[2021-04-20 11:42] edwardhartnett commented on #343
OK, in sorc/grid_tools.fd/regional_esg_grid.fd there is one file with three remaining undocumented fields, I have sent that to Jim Purser to get the answers.

The other undocumented file is filter_topo.f90. This was written by two GFDL programmers. I have sent the file to Rusty Benson and asked them to fill in the missing fields.

[2021-04-20 11:46] edwardhartnett commented on #434
I believe this has been changed everywhere it needs to change. Moving forward, please stop calling these "regression" tests, because that is claiming something we don't yet have - comprehensive unit testing.

One day, when we have comprehensive unit testing, we will have regression testing.

[2021-04-20 11:46] #434 closed

[2021-04-20 12:05] edwardhartnett commented on #248
As part of this issue we must modify the CMake build of UFS_UTILS so that it checks the version of each dependency and ensures that a correct version has been found.

[2021-04-20 12:32] kgerheiser commented on #248
This can be done by modifying `FindESMF` to query the version and passing a version to `find_package`. There's this `ESMF_Info` executable that may be helpful.

[2021-04-20 12:55] KateFriedman-NOAA commented on #248
@GeorgeGayno-NOAA I've used your feature/stack branch in workflow tests on Hera and WCOSS successfully. I also successfully ran gdas_init from it on Hera. Thanks!

[2021-04-20 13:23] GeorgeGayno-NOAA commented on #441
Four tests were added under #279 to test all 'if' branches of `sst_guess` at c05b1e4

[2021-04-20 13:46] edwardhartnett commented on #248
@kgerheiser we need to solve the problem of ESMF versioning not just in UFS_UTILS, but everywhere else as well. It seems to be one of the packages we are most sensitive to.

Is it generally the case that once we upgrade to a new ESMF version, all previous versions will no longer work?

Or is there a range of versions of ESMF which will work for UFS_UTILS?

[2021-04-20 14:08] kgerheiser commented on #248
The same `FindESMF` is used for UFS_UTILS and the weather model so this fix can be extended.

UFS_UTILS should not be too sensitive to the ESMF version. It's not on the bleeding edge like the weather model, which uses beta snapshots for new ESMF features, but it looks like there was a regression somewhere in the beta snapshots that caused George's timeout.

I've looked into the executable `ESMF_In

[2021-04-20 14:25] GeorgeGayno-NOAA commented on #441
Here is the result of the SST default test. The SST returned for a point located at 65 degrees south latitude is below freezing (268.6845 Kelvin). That is clearly wrong:

[code]

[2021-04-20 14:33] edwardhartnett commented on #441
Good catch!

[2021-04-20 14:40] edwardhartnett commented on #248
First let's get UFS_UTILS to check for the most recent ESMF release, if that will work with UFS_UTILS. That will be a good first step.

[2021-04-20 14:47] GeorgeGayno-NOAA commented on #441
Bug was fixed with d69114e. The test is now working.

[2021-04-20 14:54] edwardhartnett commented on #441
Excellent example of Test-Driven Development!

[2021-04-20 14:54] GeorgeGayno-NOAA commented on #248
I was not the only group that had a problem with ESMF 8.1.0 snapshot 36. Apparently, that version of the library turned off threading in everyone's program. The forecast model ran slow and my chgres consistency tests ran slow. But normally, UFS_UTILS should not be too sensitive to the ESMF version (it uses ESMF mainly for its regridding capability).

[2021-04-20 15:06] edwardhartnett commented on #441
BTW does this change any of the output of our consistency checks?

If not, is it because they are all in the Northern hemisphere?

[2021-04-20 15:32] GeorgeGayno-NOAA commented on #441
All the consistency tests (most are global) still pass. The default SST is only used when the search fails to find a neighboring valid SST value. Here "neighboring" is about 100 km. So for the default to be used, the lake must be isolated (away from larger water bodies). It must also be open water (i.e., not ice covered). And I doubt there are any isolated, open water lakes in Antarctica. (Our lan

[2021-04-21 13:01] HelinWei-NOAA commented on #374
This portion of codes is copied from set_soilveg.f, which is part of Noah LSM in the UFS. I don't think you need to know the detail here. You can just refer to this paper: Ek, M. B., K. E. Mitchell, Y. Lin, E. Rogers, P. Grunmann, V. Koren, G. Gayno, and J. D. Tarpley, Implementation of Noah land surface model advances in the National Centers for Environmental Prediction operational mesoscale Eta

[2021-04-21 13:45] edwardhartnett commented on #374
The paper you cite has been added to the documentation. I have read the relevant section and it does not provide the numbers used in the code.

The goal here is testing, which is to make sure these numbers are correct.

Where is the file set_soilveg.f which you refer to? That is, what repository and directory?

[2021-04-21 13:54] HelinWei-NOAA commented on #374
https://github.com/HelinWei-NOAA/ccpp-physics/blob/master/physics/set_soilveg.f

[2021-04-21 13:55] #368 closed

[2021-04-21 14:05] arunchawla-NOAA commented on #374
Copying files from one place to another is not a good strategy. If there are routines for land set up that are needed in both the physics module and in chgres then we need to have a smarter strategy. Perhaps a library that can be called in both places. This does not have to be solved right now.

At the very least these constants need to be documented somewhere. Are they documented as part of set_s

[2021-04-21 14:44] HelinWei-NOAA commented on #374
Those parameters are documented as part of Noah LSM in
https://github.com/HelinWei-NOAA/ccpp-physics/blob/master/physics/sflx.f

[2021-04-21 15:26] GeorgeGayno-NOAA commented on #242
@kgerheiser My branch won't compile anymore. You test library was here: /home/Kyle.Gerheiser/NCEPLIBS-ip2.

[2021-04-21 16:08] kgerheiser commented on #242
Oh, I deleted that yesterday.

[2021-04-21 16:13] edwardhartnett commented on #374
OK, thanks, that is helpful.

We will ponder how to best handle constants taken from other codes.

[2021-04-21 16:57] kgerheiser opened #446 "Create libraries so code can be more easily used for testing"
The CMake build should build a library for each executable before linking in the final `program` or `main`. This allows the same compiled code to be more easily used for testing instead of duplicating the compilation and build flags when building tests.

For example, any tests for chgres-cube will link to `chgres_cube_lib` which includes all the code except the driver program.

This change will be

[2021-04-21 17:11] LarissaReames-NOAA opened #447 "chgres_cube: Erroneous soil temperatures at isolated locations when using GEFS grib2 data"
GEFS.v12 grib2 data had a known bug where soil temperature at isolated locations (I counted 176 points on the global grid in some sample data) over land had missing values (9E20) as if they were sea points. These values on the GEFS grid resulted in similarly erroneous temperatures on the output grid (I found 2 such points on a 3km North American target domain) , which caused weather model failure.

[2021-04-21 17:19] #279 closed

[2021-04-21 17:19] #441 closed

[2021-04-21 17:33] GeorgeGayno-NOAA commented on #447
Do you plan to add this fix to the input routine? That is what I would recommend.

Another option is to check the soil temperature at the eight neighboring points and pick a valid one. If none are valid, use the skin temperature.

[2021-04-21 17:38] LarissaReames-NOAA commented on #447
See this part of the issue description

[2021-04-21 18:04] edwardhartnett commented on #447
How shall this change be tested?

How big is the input file? We can put it on the FTP site and fetch it for tests...

[2021-04-21 19:05] LarissaReames-NOAA commented on #447
@edwardhartnett The test to see if it works should be a simple one: if you process GEFS.v12 grib2 files (with "GFS" as the input to external_model) on to a North American (or global) domain and no grid points exist where soil temperature is very large (> 350K) at a land point, then the fix has succeeded. It would also successfully initialized a weather model forecast, whereas files with these erro

[2021-04-21 20:49] GeorgeGayno-NOAA commented on #248
Modify how? Like this?

[code]

And what does the version number mean? When I build using hpc/1.1.0, I see this:

` Found sigio: /gpfs/dell2/usrx/local/nceplibs/dev/hpc-stack/libs/hpc-stack/ips-18.0.1.163/sigio/2.3.2/lib/libsigio.a (found version "2.3.0")
`

Why does it find version 2.3.0 when the directory name (and I assume version number) is 2.3.2? For some libraries number matches, but for oth

[2021-04-21 20:53] GeorgeGayno-NOAA commented on #447
Sorry. That is what happens when I read too fast.

[2021-04-21 20:55] GeorgeGayno-NOAA commented on #433
Why do you require more than nine tiles? What project requires this?

[2021-04-21 21:06] GeorgeGayno-NOAA commented on #424
@SMoorthi-emc I compiled a version of global_cycle that pointed to the CCPP version of sfcsub.F. I then ran it on a canned C768 case. The sea ice records were different between my control and test. I see you made ice-related changes to the CCPP version about a year ago. Can you look at my case and let me know if the results make sense. There are differences in areal ice coverage at the low end of

[2021-04-21 21:12] #103 closed

[2021-04-21 21:21] GeorgeGayno-NOAA commented on #280
This issue is getting stale. Should I work on it?

[2021-04-21 21:50] JosephMouallem commented on #433
Hi George,

This is to support multiple nests for the hurricane supplemental project (GFDL, AOML, ...)

[2021-04-21 22:02] BinLiu-NOAA commented on #433
@JosephMouallem and @GeorgeGayno-NOAA, Just FYI, in the HAFS application/workflow system, @wramstrom and I have been able to run chgres_cube and sfc_climo_gen to produce initial conditions and surface climatology files for more than 10 tiles (e.g., global 6 tiles with 6 nested domains). All the changes for chgres_cube and sfc_climo_gen needed are just for driver scripts. Basically, one can just lo

[2021-04-21 22:06] BinLiu-NOAA commented on #433
In the meantime, if there are easy ways to implement/support more tiles directly in the source code. That might also be useful! Thanks!

[2021-04-21 22:45] SMoorthi-emc commented on #424
Hi George,
  The version in CCPP allows for different minimum ice concentration for sea ice and lake ice.  See the namelist parameters "min_seaice" and min_lakeice"  I also probably made some other changes that I don't remember anymore.  If you set "min_lakeice=min_seaice=0.15" then it should just like the original version.  Actually, I have an updated version of sfcsub.F as the current one in CCP

[2021-04-22 12:47] edwardhartnett commented on #280
No I'll take another swing at it - I was trying to get some answers to #374 and now I have some.

What would be good would be to select another part of chgres_cube, add an issue, and start writing tests for that.

[2021-04-22 12:50] edwardhartnett commented on #248
Yes, that is how. (If I understand CMake correctly, @kgerheiser @aerorahul your opinion would be welcome.)

We must resolve all version issues that we encounter, so let's raise this issue with the hpc-stack people. I have entered an issue.

[2021-04-22 12:51] edwardhartnett commented on #433
How is this change going to be tested?

[2021-04-22 12:54] aerorahul commented on #248
This is an issue in sigio release.
The release tag is 2.3.2 but the VERSION file contains 2.3.0

[2021-04-22 13:10] edwardhartnett commented on #248
Whats not clear to me from the CMake documentation is how find_package() behaves when given a single version, as we do here. The implication from the documentation is that version 2.3.0 or later will be accepted, because we don't use the EXACT argument.

[2021-04-22 13:16] edwardhartnett commented on #343
@bensonr any progress getting the programmers to document their work in filter_topo.f90?

[2021-04-22 13:17] edwardhartnett commented on #336
So can we use the GFDL FRE_NCtools package?

[2021-04-22 13:21] GeorgeGayno-NOAA commented on #447
@LarissaReames-NOAA If you add a small routine or function (called from read_input_sfc_grib2_file) that fixes the issue, I can help you write the required test.

[2021-04-22 13:22] GeorgeGayno-NOAA commented on #336
I don't see why not.

[2021-04-22 13:29] edwardhartnett commented on #336
Do we need to get approval or buy-in from others?

[2021-04-22 13:31] bensonr commented on #343
@edwardhartnett  - there is a section dedicated to the topography filtering algorithm in the soon to be released comprehensive, scientific description of FV3 "the dycore" documentation.  As this offline filtering algorithm comes directly from FV3 "the dycore", that will be the authoritative source.  Once it is released, proper referencing will be available.

[2021-04-22 13:48] #446 closed

[2021-04-22 13:57] GeorgeGayno-NOAA commented on #336
We can ask other EMC groups if you want. And the DTC.

[2021-04-22 14:09] GeorgeGayno-NOAA commented on #433
The ESMF regridding only works for a global grid of six tiles or a single nest. It can't process a global domain with a nest(s). So processing the global grid and the nests separately is the only solution I can think of.

But that is a separate issue from the tile number. Do you need to feed chgres a nested domain that has a tile number greater than 9?

[2021-04-22 14:18] LarissaReames-NOAA commented on #447
@GeorgeGayno-NOAA Thanks, that would be really helpful. I have a single line added to that subroutine that appears to solve the issue in my fork. @JamesAbeles-NOAA was able to run a successful forecast using the newly-generated surface file yesterday.

[2021-04-22 14:50] edwardhartnett commented on #343
@bensonr scientific documentation of the algorithm is pretty different from code documentation.

Can we have the programmers document the code as well?

[2021-04-22 14:56] edwardhartnett commented on #336
Yes, please ask everyone you know who is a user.

[2021-04-22 15:22] JosephMouallem commented on #433
I am looping over the individual nests one by one; however each nest has its own mosaic file and these routines will read the tile name and info from the corresponding mosaic file (for instance C48_nested06_mosaic.nc has –tile_file C48_grid.tile11.nc which will be read as tile1)

[2021-04-22 15:39] GeorgeGayno-NOAA commented on #424
@SMoorthi-emc Thanks for your help.

I placed the version of global_cycle with the ccpp version of sfcsub.F on Hera:
/scratch2/NCEPDEV/stmp1/George.Gayno/sfcsub.test/global-cycle.ccpp/UFS_UTILS.sfcsub
The global_cycle code is under ./sorc/global_cycle.fd. The sfcsub.F routine is under ./ccpp-physics/physics.

The current version of global_cycle with its own copy of sfcsub.F is here:
/scratch2/NCEP

[2021-04-22 15:49] edwardhartnett opened #449 "some packages required in CMakeLists.txt which are no longer needed?"
I think the list of required packages in CMakeLists.txt contains some packages that are no longer needed:

[code]

w3emc does not seem to be used. Haven't we eliminated use of some of the others as well?

[2021-04-22 16:18] BinLiu-NOAA commented on #433
@JosephMouallem You can treat every nested or regional domain as tile7 when doing chgres_cube and sfc_climo_gen step. You can do the renaming in the scripts before and afterwards to whatever needed by the model. Just my 2 cents.

[2021-04-22 16:43] edwardhartnett commented on #261
However, looking at our current cmake output, I note it has all the relevant information already:

[code]

Perhaps this is a way in which cmake is better than autotools - it provides better output. In autotools, this information is lost in a storm of text.

I will close this issue.

[2021-04-22 16:43] #261 closed

[2021-04-22 16:56] mkavulich commented on #336
I've been following along with this conversation so I'll put in my 2 cents: Ideally it would be great to use the GFDL versions of these tools developed there rather than keeping our own static/isolated copies, but I am concerned at our ability to get bug fixes and features into those repositories in a timely manner if they are needed. Can we get assurances that we'd be able to make changes if we n

[2021-04-22 17:33] GeorgeGayno-NOAA commented on #424
@SMoorthi-emc I left a Grads control file - tile3.ctl - in each directory. It does not plot a map background. Just the 2-d data. So do 'set mproj off'.

[2021-04-22 17:35] GeorgeGayno-NOAA commented on #336
@KateFriedman-NOAA and @BenjaminBlake-NOAA As workflow managers, do you have an opinion?

[2021-04-22 18:30] GeorgeGayno-NOAA commented on #449
Good catch. gfsio is not used either.

Recall we eliminated a few libraries when global_chgres was removed from UFS_UTILS:
https://github.com/NOAA-EMC/UFS_UTILS/pull/299#pullrequestreview-596742674

[2021-04-22 18:47] BenjaminBlake-NOAA commented on #336
@GeorgeGayno-NOAA  I don't see any issue with using it in the regional workflow, but I'd like to see if @JeffBeck-NOAA or @gsketefian have any comments or concerns.

[2021-04-22 19:02] JeffBeck-NOAA commented on #336
Now that the UFS SRW App has moved to exclusively using the ESG grid, I believe the only fre-ncutils utility we still actively use in the regional_workflow repository is make_solo_mosaic.  I wouldn't anticipate that code changing much in the future, but I do share @mkavulich's concerns.  The "make_hgrid" utility is supported in what I'd call "legacy mode" in regional_workflow for now, but we may r

[2021-04-22 19:08] SMoorthi-emc commented on #424
I was able to see the differences via dbrowser.
I am not sure what is causing the differences.  I am looking at the code.

On Thu, Apr 22, 2021 at 1:33 PM GeorgeGayno-NOAA ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23),

[2021-04-22 19:43] GeorgeGayno-NOAA commented on #248
I will need help to update the ESMF package find to return the version number.

[2021-04-22 19:53] JosephMouallem commented on #433
Hi Bin, Thanks!
I have already changed the source code some time ago to accommodate this and renamed the output files for global and nested grids. I will follow your method if I run into issues. Thanks!

[2021-04-22 20:43] GeorgeGayno-NOAA commented on #449
Can I fold this in with #248 in one pull request?

[2021-04-22 23:55] SMoorthi-emc commented on #424
Hi George,
   The differences are probably becasue of the following differences in the code:
(ccpp)
"        if (slifcs(i) >= 1.99_kind_io8) then
          if (sicfcs(i) > crit) then
            tem1 = 1.0_kind_io8 / sicfcs(i)
            tsffcs(i) = (sicanl(i)*tsffcs(i)
     &                + (sicfcs(i)-sicanl(i))*tgice) * tem1
            sitfcs(i) = (tsffcs(i)-tgice*(1.0-sicfcs(i))) * tem1

[2021-04-23 00:09] SMoorthi-emc commented on #424
Actually, it gets even more messier with fractional grid and flake model for lakes.

[2021-04-23 01:02] SMoorthi-emc commented on #424
You may want to consider postponing this unification as the code is even originally incorrect when ice concentration is < 1.0
(this is the first factional grid that was ignored in the original sfcsub).  Depending on just slmsk is incorrect.

[2021-04-23 12:24] GeorgeGayno-NOAA commented on #424
Ok. Thanks for taking a look. I will hold off. Let me know if you want help with testing/debugging.

[2021-04-23 13:12] edwardhartnett commented on #248
@kgerheiser and @aerorahul does the FindESMF.cmake file find the version of ESMF so we can check the version number?

If not, how shall we check the version number?

[2021-04-23 13:19] aerorahul commented on #248
`FindESMF.cmake` does not return the version, but it is trivial to add that.
The information is contained within the `esmf.mk` file that is used within `FindESMF.cmake`

If you add any updates to `FindESMF.cmake` or other ones that have been copied here from `CMakeModules`, I would expect a PR in CMakeModules so the other projects that rely on a central copy benefit from this update.

[2021-04-23 13:27] aerorahul commented on #248
It should also be noted, that `PROJECT_VERSION` in CMake follows versioning; i.e. MAJOR.MINOR.PATCH.TWEAK which are expected to be numbers.  There are open tickets to follow semantic versioning in projects.  CMake itself follows semantic versioning for its releases.

ESMF versions are e.g. 8.1.0-beta_snapshot_21.  So it is not going to be helpful to do:

`find_package(ESMF REQUIRED 8.1.0)`, becaus

[2021-04-23 13:33] edwardhartnett commented on #248
OK, yet another way in which ESMF is special, and that causes troubles.

There's a good reason for every software project to not invent new ways of doing everything! ;-) A misplaced originality, combined with ignorance of standard practice, results in downstream problems for all users.

However annoying this is, it is a problem we have to solve. Not coincidentally, ESMF is one of the most rapidly

[2021-04-23 13:39] aerorahul commented on #248
@edwardhartnett
I am looking at `esmf.mk` and `FindESMF.cmake` and I think we can "trick" `FindESMF.cmake` to report a version in a format `MAJOR.MINOR.PATCH.TWEAK` so that it can be used here and elsewhere in the desired manner.

[2021-04-23 13:41] kgerheiser commented on #248
What are your thoughts? The information is all there depending on how we handle it.

[code]

[2021-04-23 13:45] kgerheiser commented on #248
Can we store the beta snapshot as the tweak version, maybe with a flag indicating that based on `ESMF_VERSION_BETASNAPSHOT`?

[2021-04-23 13:49] edwardhartnett commented on #248
If we ignore beta_snapshot versions and focus on released versions, it's straightforward, right?

Can we also return a CMAKE variable to communicate that this is a beta-release? Then we can give a warning whenever a beta release is used.

We can allow programmers to manage their own dependencies in the beta_snapshot release phase, and only cope with actual releases. (So all these beta_snapshots wo

[2021-04-23 13:50] KateFriedman-NOAA commented on #336
I'm fine with it, especially the idea of further unifying common tools and stopping duplicate efforts. As with Ben though I'd like to know what @yangfanglin and @junwang-noaa think?

[2021-04-23 13:51] aerorahul commented on #248
In `FindESMF.cmake`, I am thinking of constructing a `PROJECT_VERSION` from `ESMF_VERSION_STRING_GIT`

Something in shell terms:
MAJOR=$(echo $ESMF_VERSION_STRING_GIT | cut -d_ -f2)
MINOR=$(echo $ESMF_VERSION_STRING_GIT | cut -d_ -f3)
PATCH=$(echo $ESMF_VERSION_STRING_GIT | cut -d_ -f4)
TWEAK=$(echo $ESMF_VERSION_STRING_GIT | rev | cut -d_ -f1 | rev)

[2021-04-23 13:53] edwardhartnett commented on #248
@aerorahul what does your magic formula yield?

[2021-04-23 14:01] aerorahul commented on #248
[code]
will yield
[code]

[2021-04-23 14:02] edwardhartnett commented on #336
@mkavulich I can't speak for these particular repos, but I have worked a lot with other GFDL repos and they have been extremely receptive to changes. I am confident that we can work with them on their repo. In the unlikely event that we need a change they cannot live with, we can fork at that time.

I also note that the GFDL package is clearly better documented and maintained, and include testing

[2021-04-23 14:15] edwardhartnett commented on #248
Well that's excellent I think.

The only problem will come when the ESMF team decides they want to do a 8.1.0.1 release. ;-) But we can tell them never to do that and they probably will comply - it's not a very normal thing to do such a release anyway...

@aerorahul can you submit these changes as a PR?

We will need to promulgate the version checking of ESMF to every package that uses it, and hel

[2021-04-23 14:18] aerorahul commented on #248
I am working on a PR and will open one momentarily.
ESMF releases (thankfully) are MAJOR.MINOR.0 (for the most part), I think!
If they really are going to make a "release" out of a "tweak", then ...

[2021-04-23 14:39] edwardhartnett opened #450 "Code warning in chgres_cube"
We want all code to build warning free. This is something we can check in CI. But we need to build warning-free first.

[code]

[2021-04-23 14:41] edwardhartnett opened #451 "Confirm warning-free builds in UFS_UTILS in GitHub actions"
The next step in quality improvement is to add checking for warnings in the CI. This will prevent code with warnings from being checked in.

First, of course, we must build without warnings. ;-)

[2021-04-23 15:26] yangfanglin commented on #336
Jun and I started from a tarball in 2016 for the transition of FV3-based
GFS from GFDL to EMC.  Quick a few utilities/tools had been built within
EMC and later by the community using this old version of FRE-NCtool.

It is a good idea to move to the latest GFDL version, but please first
check and make sure these utilities/tools that have dependencies on
FRE-NCtool are also updated and work correctl

[2021-04-23 15:47] aerorahul commented on #248
@edwardhartnett @kgerheiser I opened a PR #452.  Please take a look.

[2021-04-23 16:16] edwardhartnett opened #453 "in chgres_cube, config_fv3_tiled_warm_restart.nml cannot be read by the program_setup.f90 test"
Here's some code in ftst_program_setup.f90:

[code]

The namelist file is on of the ones that @GeorgeGayno-NOAA gave to test this function. George, should this namelist work?

[code]

(This is related to #296).

[2021-04-23 16:18] edwardhartnett commented on #442
@GeorgeGayno-NOAA what do you say about doing a release?

There have been many changes and the documentation has had a lot of updates since the last release. This would also allow us to put a release close to the two tags that were recently added.

[2021-04-23 16:39] edwardhartnett opened #454 "move test data to data subdirectory under tests/chgres_cube"
We have some namelist files, and I am adding a varmap file, and there are going to be more data files to come as we add testing.

So I will create a data subdirectory to tests/chgres_cube and we can put our test data there.

I will submit a PR to move existing test data.

[2021-04-23 18:18] GeorgeGayno-NOAA commented on #453
Where is your branch?

[2021-04-23 18:20] GeorgeGayno-NOAA commented on #442
Who is this release for?

[2021-04-23 18:35] edwardhartnett commented on #453
I just put it up as a PR...

[2021-04-23 18:36] edwardhartnett commented on #442
This release is for everyone.

Instead of thinking of releases as being for a specific purpose, think of dong releases every 3 months. When someone wants a tag, instead of creating a new one, we will just give them the tag for the latest release.

[2021-04-23 20:53] #450 closed

[2021-04-26 13:27] edwardhartnett opened #458 "questions about email from cron job running consistency checks"
I see these emails and they are great:

![image](https://user-images.githubusercontent.com/38856240/116089863-7f6f3d80-a660-11eb-99f4-b1cffc51606d.png)

Some questions:

1. I note the "From" field is not George's real email. Should it be? Are we revealing any information that we should not be here?
2. What does this mean: Started on  v71r1

[2021-04-26 13:51] kgerheiser commented on #458
It is from the machine's email when using the `mail` command. I don't think there's anything particularly interesting about this information.

`v71r1` is the result of `hostname -s`, which is just the particular head node that the job was started on. In this case `v` for `Venus` (WCOSS Cray).

[2021-04-26 13:56] edwardhartnett commented on #458
I believe we can fix the

[2021-04-26 13:56] #458 closed

[2021-04-26 15:22] #278 closed

[2021-04-26 20:01] kgerheiser opened #459 "chgres_cube circular dependency in write_data and atmosphere.F90/surface.F90"
I put `write_data.F90` into a module to squash warnings (and because it's good practice) about undefined functions without the `external` attribute, and found a circular dependency.

Surface/Atmosphere call write_data routines, and write_data `use` target grid fields from them.

I propose to move the target fields into  `sfc_target_data`, and `sfc_target_data` modules that can be commonly used by

[2021-04-26 20:04] kgerheiser opened #460 "Split input_data.F90 into `atm_input_data`, `sfc_input_data`, and `nst_target_data`"
`input_data.F90` is a really long file that I think could be broken up to make it more managable. It seems like it does 3 different things for 3 types of data, and it would make sense to group them together.

[2021-04-26 20:05] kgerheiser opened #461 "Put rest of chgres_cube code into modules"
`utils.F90` and `write_data.F90` don't use modules. It's good for all code to be in modules for explicit type-checking of functions.

[2021-04-26 20:52] LarissaReames-NOAA commented on #447
@GeorgeGayno-NOAA I've now moved that whole section of code to its own subroutine, and the results are the same as they were before I moved the code. So I guess now I'll need to figure out how to write a unit test for it.

[2021-04-26 21:03] GeorgeGayno-NOAA commented on #447
I can help you get started. Will you allow me to update your branch?

[2021-04-26 21:10] LarissaReames-NOAA commented on #447
@GeorgeGayno-NOAA Sure, I've added you as a collaborator on my fork.

[2021-04-27 12:49] edwardhartnett opened #463 "develop fails to compile with gfortran10 due to missing -fallow-argument-mismatch compile flag"
For some reason the develop branch is not compiling for me today.

What am I doing wrong? Do I need a more recent version of one of my libraries?

[code]

[2021-04-27 13:02] kgerheiser commented on #463
Are you using GCC 10? It looks like the thing where you have to add `fallow-argument-mismatch`?

[2021-04-27 13:08] kgerheiser commented on #463
Global cycle and a few of the other utilities have

[code]

But not chgres_cube

[2021-04-27 13:17] GeorgeGayno-NOAA commented on #447
Please merge in the latest updates from 'develop', which will make testing easier.

[2021-04-27 13:17] edwardhartnett commented on #463
Ah ha! That's it of course.

I will add the flag to our CMake build.

And how are we going to resolve this so we don't need the flag?

[2021-04-27 13:21] kgerheiser commented on #463
Instead of `use mpi`, we need to use `use mpi_f08` for the correct interfaces.

[2021-04-27 14:37] edwardhartnett commented on #374
OK, let's confine the discussion to one set of parameters, so we have a specific example.

In the chgres_cube file program_setup.f we have:
[code]

So are those the correct numbers? @HelinWei-NOAA you provided this link to a file on your branch:
https://github.com/HelinWei-NOAA/ccpp-physics/blob/master/physics/set_soilveg.f

When I look in there, I find this:

[code]
When I look at this file on th

[2021-04-27 14:55] edwardhartnett commented on #191
It's been a heck of an issue!

Documentation work will continue but I believe this issue can be called complete.

[2021-04-27 14:55] #191 closed

[2021-04-27 14:58] edwardhartnett commented on #161
Can we remove this file, now that the testing formerly known as regression has been automated?

[2021-04-27 15:00] edwardhartnett commented on #256
As discussed in the recent meeting, George will be testing this next as part of helping with testing with @LarissaReames-NOAA changes.

[2021-04-27 15:00] #262 closed

[2021-04-27 15:01] kgerheiser commented on #161
I don't see any harm in removing it

[2021-04-27 15:01] #294 closed

[2021-04-27 15:06] #317 closed

[2021-04-27 15:07] JulieSchramm commented on #161
I think it can be removed, since the cmake build is used.

[2021-04-27 15:09] edwardhartnett commented on #443
Can we get this in soon, so we can do this checking in the 1.3.0 release?

[2021-04-27 15:10] kgerheiser commented on #161
Remove the whole file? My comment referred to piping the output `/dev/null`. `build_all.sh` is useful because it loads the requisite modules for you on each platform.

[2021-04-27 15:13] GeorgeGayno-NOAA commented on #161
I agree. Please don't remove 'build_all.sh'.

[2021-04-27 15:16] kgerheiser commented on #161
Could just get rid of the `2>&1` if you want to suppress non-error output.

[2021-04-27 15:37] kgerheiser commented on #443
How to tell what version of ESMF (8.0, 7.0, farther?) and NetCDF (4.0.0?) are required?

[2021-04-27 15:43] edwardhartnett commented on #443
As you suggest, the real question is: what do we do if UFS_UTILS needs netcdf-c-4.3.x or better, and fv3atm requires netcdf-c-4.7.4?

I think, as a starting point, let's require what hpc-stack is using right now. So let's require netcdf-c-4.7.4, and every other version currently used in hpc-stack.

These might be too strict (i.e. earlier versions of many packages may work fine with UFS_UTILS) but

[2021-04-27 15:44] #296 closed

[2021-04-27 15:44] #453 closed

[2021-04-27 15:50] edwardhartnett commented on #442
@GeorgeGayno-NOAA what are the major science issues that were resolve since the 1.2.0 release? They should be listed in the release notes...

I have started draft release notes, you can just add your items there. Make sure you hit "save draft" instead of "publish release".

[2021-04-27 15:54] edwardhartnett commented on #161
I just removed the 2>&1. PR is up now.

[2021-04-27 16:55] HelinWei-NOAA commented on #374
Hi Edward,

There are two different soil type data which can be used in the model. The previous (old) one is zolber with 9 classifications and the other one is statsgo with 16 classifications. So in that subroutine the parameters for both types are defined.

For example,

if(isot.eq.0) then  (this one is for old soil type data)

      bb         =(/4.26,  8.72, 11.55, 4.74, 10.73,  8.17,
     &

[2021-04-27 18:15] edwardhartnett commented on #374
OK, thanks.

Should we be looking at a fork for these numbers?

[2021-04-27 18:18] edwardhartnett opened #467 "Update testing to use netcdf-c-4.7.4"
We should be testing with whatever atmfv3 uses.

[2021-04-27 19:03] LarissaReames-NOAA commented on #447
@GeorgeGayno-NOAA Done. I also added in my first attempt at a test for the subroutine. I tried to base it off your test for the search utility. It compiles on Hera, but I haven't tried running it yet.

[2021-04-27 19:08] HelinWei-NOAA commented on #374
At this time, Yes. But in the future we will move this part from the code to a table file, then we should find a way to let charge_cube and UFS to share this file.

[2021-04-27 19:08] #161 closed

[2021-04-27 19:21] edwardhartnett commented on #374
OK. In that fork I see this:

[code]

These are lines 245-250. Are these the correct numbers?

In chgres_cube we have:

[code]

The last four numbers are different. Is this expected?

[2021-04-27 19:25] GeorgeGayno-NOAA commented on #447
Ok. I have my test working on Hera. If you want to see what I did, then go to /scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/UFS_UTILS.larissa and do a 'git diff'.

[2021-04-27 19:29] GeorgeGayno-NOAA commented on #447
Also, in your `check_soilt` routine, the soilt array is declared as (k,i,j), but the routine loops over (i,j,k).

[2021-04-27 20:34] LarissaReames-NOAA commented on #447
@GeorgeGayno-NOAA Yes I had just noticed that before you posted. Thanks for finding that. The main substantive difference between your routine and mine is mine checks the whole content of the final array for correctness instead of individual points. I also included a point over land with an acceptable soil temperature to check that it wasn't being replaced, and wrote in some text output in the eve

[2021-04-27 20:55] HelinWei-NOAA commented on #374
Type 14 is water, so -9,99 is used in chgres_cube. Actually statsgo soil
type has 19 classifications, here we only use the first 16. George, did you
do this for some reason?

!  upgraded to statsgo (19-type)
!     1: sand
!     2: loamy sand
!     3: sandy loam
!     4: silt loam
!     5: silt
!     6:loam
!     7:sandy clay loam
!     8:silty clay loam
!     9:clay loam
!     10:sandy clay
!

[2021-04-28 12:22] GeorgeGayno-NOAA commented on #374
@HelinWei-NOAA None of our input datasets use classifications 17 thru 19. And none of our standard grids in ./fix use those classifications either. So, I did not include them.

Does anyone use them? Should I add them?

[2021-04-28 17:54] edwardhartnett commented on #463
When I change it to use mpi_f08 (which is recommended) it fails like this:

[code]

[2021-04-28 17:56] kgerheiser commented on #463
Hmm, I thought `mpi_f08` might fix it because it has all the overloaded interfaces. Maybe not.

[2021-04-28 17:58] kgerheiser commented on #463
Could be MPI variant specific. What's happening is that there's an implicit interface and it picks up `MPI_BCAST` in the first call taking a `character(*)` and infers the interface from that, and then later on `MPI_BCAST` is called with a double, but they don't match.

[2021-04-28 18:36] edwardhartnett commented on #463
Surely one can call two different overloads of the same function...

[2021-04-28 19:04] edwardhartnett opened #470 "in chgres_cube, stop setting flag -fconvert=big-endian"
in chgres_cube, why are we setting flag -fconvert=big-endian?

According to GNU documentation:
https://gcc.gnu.org/onlinedocs/gfortran/CONVERT-specifier.html

Does chgres_cube write unformatted data?

[2021-04-28 19:23] kgerheiser commented on #463
That's what confuses me. Using `use mpi` or `use mpi_f08` (but not `mpi.h`) should provide explicit interfaces to `MPI_BCAST`, but it seems like `MPI_BCAST` is being picked up as an implicit `external` function (without an interface).

And because it has no interface it will infer that the function takes whatever you pass to it, but when it sees it called in two different contexts it throws the er

[2021-04-28 19:34] #443 closed

[2021-04-28 19:58] edwardhartnett commented on #442
OK, we are going to merge one more PR from @GeorgeGayno-NOAA , then let everything run overnight testing, then we will release version 1.3.0 tomorrow...

[2021-04-28 20:14] edwardhartnett opened #471 "chgres_cube should build without -fallow-argument-mismatch compile flag"
chgres_cube should build without -fallow-argument-mismatch compile flag.

See #463 for details.

[2021-04-28 20:15] edwardhartnett commented on #463
I have opened a new issue to figure out how to compile without this flag. Now the flag is turned on for gfortran10,

[2021-04-28 20:15] #463 closed

[2021-04-28 20:18] edwardhartnett opened #472 "checking for dependent libraries should happen in each utility"
We check for dependent libraries and their versions at the top level CMake file.

Actually, each utility should check for the dependencies that it needs. The top-level shouldn't have to check anything.

This would be preferable when, for example we remove a utility - then the dependency automatically will go away as well.

We can do this after the 1.3.0 release.

[2021-04-28 20:27] #343 closed

[2021-04-28 20:28] kgerheiser commented on #471
I made a test program, and using GCC-10 and MPICH.  `use mpi` doesn't work and throws a type mismatch, but using `mpi_f08` works.

[code]

[2021-04-28 21:02] kgerheiser opened #475 "NetCDF not found on WCOSS Cray"
`NETCDF` env variable was removed with latest commit because I was testing with NetCDF 4.7.4 which sets the variable automatically and it was never re-added.

[2021-04-28 21:09] #475 closed

[2021-04-29 13:19] edwardhartnett opened #477 "Include utility in test name in cmake"
Our output looks like this:

[code]

It's not clear which tests apply to chgres_cube. When naming our tests in the cmake file, we should add the name of the utility, so it is clear what utilities are being tested.

[2021-04-29 13:25] #248 closed

[2021-04-29 13:25] #449 closed

[2021-04-29 13:27] edwardhartnett commented on #477
OK, now it looks like this:
[code]

[2021-04-29 13:28] edwardhartnett commented on #477
We can sneak this into the 1.3.0 release...

[2021-04-29 15:07] HelinWei-NOAA commented on #374
I am not aware that anyone uses them. But for consistence, maybe we should add them.

[2021-04-29 16:05] kgerheiser opened #479 "Make install not working"
https://github.com/NOAA-EMC/UFS_UTILS/pull/445#issuecomment-829269817

After https://github.com/NOAA-EMC/UFS_UTILS/pull/445, the 'inland' and 'lake_frac' programs are being built, but the 'install' is not working. If I build the previous commit of develop (123759a), I get this in ./exec:

exec.orig:
chgres_cube       emcsfc_snow2mdl  fregrid       global_cycle        inland    make_hgrid        or

[2021-04-29 16:48] #479 closed

[2021-04-29 17:05] #447 closed

[2021-04-29 18:50] GeorgeGayno-NOAA commented on #470
No it does not. I can remove it. I can check for that flag thru the entire repo.

[2021-04-29 21:18] LarissaReames-NOAA opened #481 "Canopy moisture content output from GEFSv12 grib2 input has erroneously high canopy water content"
This issue was noted and fixed by @christinaholtNOAA (and others) in their branch (see [commit 11f31c53](https://github.com/NOAA-GSL/UFS_UTILS/commit/11f31c533001799271d13e6863c6927218810ffe) in the NCAR fork) by correcting the data in qc_check, but I will instead adjust the input data just after read. This change will be tested with a simple unit test to check that values greater than the max all

[2021-04-29 21:40] edwardhartnett commented on #470
OK, let's get 1.3.0 out and we can do this...

[2021-04-29 21:49] #477 closed

[2021-04-30 13:18] GeorgeGayno-NOAA commented on #481
@LarissaReames-NOAA What exactly is the problem with the grib2 data? Does the land mask not match the data? I suggest we make a list (and some graphics) of all the problems with the grib2 data so it can be fixed.

[2021-04-30 14:21] GeorgeGayno-NOAA opened #483 "Create new 'fixed' files with partial land and viirs vegetation data"
The use of grid cells with partial land and using new NESDIS viirs vegetation data is a candidate for inclusion into GFS v17. Create a complete set of 'oro' and surface climatological files for users to test with.

[2021-04-30 15:16] GeorgeGayno-NOAA commented on #248
@KateFriedman-NOAA UFS_UTILS was updated to use the official stack. Please point to this release:
https://github.com/NOAA-EMC/UFS_UTILS/releases/tag/ufs_utils_1_3_0

[2021-04-30 16:27] yangfanglin commented on #483
please include Shan Sun - NOAA Federal <shan.sun@noaa.gov>

[2021-04-30 16:38] yangfanglin commented on #483
Copied and pasted here discussions in emails:
**From Helin**: Some of them are monthly climatology such as GVF and albedo and some of them are fixed like veg/soil types. Most of them are just parameters for the model and not a direct part of the initial condition in "sfc_data". But some of them are used to generate the ICs when there are some mismatches due to the new oro/land cover like rescaling

[2021-04-30 17:33] edwardhartnett opened #486 "Turn on DEBUG build in CI runs?"
I see this in CMakeLists.txt:

[code]

So it seems that DEBUG builds have some extra checking. We should be running this during CI runs.

[2021-04-30 17:34] edwardhartnett opened #487 "Add address sanitizer run to CI"
We need to run address sanitizer with CI.

[2021-04-30 17:49] GeorgeGayno-NOAA commented on #483
Should these files use the VIIRS data? If so, I should make that data an official option. That will require a few scripting changes. Then you can create the 'oro' and surface files in one step.

[2021-04-30 17:55] yangfanglin commented on #483
@GeorgeGayno-NOAA Yes, please ask Helin for a copy of the VIIRS data.   Please also see Shan's [document ]( https://docs.google.com/document/d/126SKwxEQNwrtRejMAARKA0P2FOScYWV3LspsUtsxZOE/edit) for the somewhat cumbersome steps she had to take to create oro datasets with fractional land/sea/ice/lake covers.  Can this process be automated and built in the official UFS_Util tools ?

[2021-04-30 18:08] GeorgeGayno-NOAA commented on #483
Creating 'oro' files with lakes and fractional land is already in 'develop'. Adding the option to use VIIRS is straightforward. Once that is done, it will be easy to create new grids with the options we want. According to @shansun6 's document, running the chgres step is the cumbersome part because chgres does not recognize partial land points.

[2021-05-03 14:40] edwardhartnett opened #489 "memory leak in cghres_cube test ftst_sfc_input_data"
When adding the address santitizer run I find some problems in ftst_sfc_input_data()

[code]

There are some allocated vars in this test that are not deallocated. I have added the deallocate and will put up a PR shortly.

@LarissaReames-NOAA note that any memory allocated in a test has to be deallocated. In this way we can test for memory leaks in the library.

[2021-05-03 15:23] LarissaReames-NOAA commented on #489
@edwardhartnett Thanks for finding and fixing that. I thought I had made sure to deallocate arrays where necessary, but my brain clearly forgot some that I added as I got the code to work. I'll do my best to make sure they all get deallocated in future tests.

[2021-05-03 15:33] edwardhartnett commented on #489
@LarissaReames-NOAA you won't have to count on your memory. ;-) We are adding checking for this to the CI system, which is how I found this leak.

After we merge #488, PRs will not pass CI if they contain any memory issues.

[2021-05-03 15:36] LarissaReames-NOAA commented on #489
@edwardhartnett I saw that, and it will definitely help. FWIW, in the feature/check_canopy PR I did add in deallocate statements for the check_soilt test when adding in the check_canopy test. So that PR should pass the memory test.

[2021-05-03 15:40] edwardhartnett commented on #489
BTW to run these checks on the desktop, do a clean build with GNU with this CMake option:

`-DCMAKE_Fortran_FLAGS="-fsanitize=address -fno-omit-frame-pointer"`

The run tests as usual. Memory issues will cause the test to error out.

[2021-05-03 16:20] edwardhartnett commented on #467
I started on this.

We need to build HDF5, netcdf-c, and netcdf-fortran from source and cache them, so we can test against various versions and flavors other than those available on ubuntu, which is usually behind the actual release. For example, netcdf-c-4.8.0 is out now.

So I will add testing for building with HDF5 1.10.7 and netcdf-c-4.7.4.

@kgerheiser what's not clear is whether this can be

[2021-05-03 17:37] #486 closed

[2021-05-03 19:05] #487 closed

[2021-05-03 19:05] #489 closed

[2021-05-03 19:18] edwardhartnett opened #494 "Set up CI testing with free intel fortran compiler"
I'm reading on the interwebs that intel has a free version of its fortran compiler for non-commercial use on Linux. Well, that's us!

So it seems like we could use this to get Intel testing as well as GNU. Perhaps we can do this on GitHub actions, perhaps on private Jenkins servers.

[2021-05-03 19:20] kgerheiser commented on #494
Yes, I've had this on my mind recently. I use it on my personal machine.

You can download it via APT (or other package manager) https://software.intel.com/content/www/us/en/develop/articles/installing-intel-oneapi-toolkits-via-apt.html

[2021-05-03 19:27] edwardhartnett commented on #494
Want to try a GitHub action with this?

I would be very, very nice and comforting to be running our CI testing on Intel as well as GNU. There's rarely a difference, but we want to know every time there is.

[2021-05-03 19:29] kgerheiser commented on #494
Yes, I think I can do that. I've been trying it out on an Ubuntu VM.

[2021-05-03 21:25] #280 closed

[2021-05-04 14:40] GeorgeGayno-NOAA commented on #460
@kgerheiser This will make writing unit tests easier. What is the status? I can work on this if you are busy with other tasks.

[2021-05-04 15:23] kgerheiser commented on #460
I'll put in a PR today.

[2021-05-04 19:45] GeorgeGayno-NOAA commented on #256
Next, I will write a test for routine "convert_winds".

[2021-05-05 10:16] #454 closed

[2021-05-05 10:41] edwardhartnett commented on #442
We have done the release. Onward to 1.4.0!

[2021-05-05 10:41] #442 closed

[2021-05-05 10:56] edwardhartnett opened #498 "improve chgres_cube test ftst_search_util.F90 to check all results for correctness"
The code in ftst_search_util.F90 looks like this:

[code]

All elements of field_updated must be checked.

Apparently you are using 0.00001 as an epsilon. Please define it as a names parameter so it can be used consistently in the code. Also you need to get the absolute value of the difference, and check that is smaller than epsilon.

Also I suggest you shorted your code to look more like this:

i

[2021-05-05 11:21] edwardhartnett opened #499 "write test for chgres_cube atmosphere.F90, subroutine read_vcoord_info()"
In atmosphere.F90 we have:

[code]

@GeorgeGayno-NOAA can you give me some one or more samples of a vcoord_info file? Then I will write a test for this subroutine.

[2021-05-05 12:15] edwardhartnett opened #501 "use ctest options --rerun-failed --output-on-failure in CI runs"
@kgerheiser this is super helpful.

Using ctest with these options shows the output of a failing test in the CI. Otherwise, all we know is that a test failed, and there's no way to see the output.

We should be using these options everywhere...

[2021-05-05 13:31] kgerheiser commented on #501
Cool, I didn't know about those options.

[2021-05-05 13:37] GeorgeGayno-NOAA commented on #499
Look under ./fix/fix_am.  Use any of the global_hyblev.l??.txt files.

[2021-05-05 14:37] kgerheiser commented on #501
While I'm working with the NetCDF and Intel builds I'll add this as well.

[2021-05-05 18:21] #498 closed

[2021-05-06 15:16] LarissaReames-NOAA opened #504 "chgres_cube: surface.F90 interp routine is too long for future unit testing"
The interp routine currently makes use of a lot of repeated, nearly-identical blocks of code: FieldRegrid+FieldGet and FieldGather+search+FieldScatter. Making use of pointer arrays, we can significantly pare down the length of this subroutine but utilizing a regrid_many and a search_many subroutine that loops over the fields to be regridded/searched for each masked area (e.g., sea ice, water, land

[2021-05-06 15:22] kgerheiser commented on #504
I was looking at this code. Could an ESMF_FieldBundle help?

Instead of each field being its own variable, pack them into field bundles and then you can loop over them.

[2021-05-06 15:46] LarissaReames-NOAA commented on #504
@kgerheiser That's a fantastic idea! I knew FieldBundles were used in the weather model code, but didn't make the connection here. Yes, the FieldBundle would be much more elegant than the array of pointers for the ESMF Fields. I still think I'll need to pass through an array of pointers for one of the elements (the pointer names to assign in FieldGet), but the other two pointer arrays can be subst

[2021-05-06 16:04] GeorgeGayno-NOAA commented on #256
Should I create a unit test for one of the read routines next? `read_input_nst_netcdf_file` is one of the shorter ones. There is not much to these read routines. They read records from a file, then place the data in the appropriate ESMF field. What should constitute "success"? Create 'ncdump' files of each record and compare against the corresponding ESMF field? Just check a few points against exp

[2021-05-06 16:06] edwardhartnett commented on #256
Checking a few points against expected values is a good start.

Success should be when you check the ESMF field and it has the value that was in the file.

Are these large input data files?

[2021-05-06 16:10] edwardhartnett commented on #256
In terms of order of testing, I really have no preference. We need to test all of it. I'm working on some of the write functions - anything else you see, have at it. Just enter an issue with the name of the program file in the title (like this issue) and then assign it to yourself. That way, we can avoid writing tests for the same code. ;-)

[2021-05-06 17:43] GeorgeGayno-NOAA commented on #256
The surface NetCDF file is 1 GB. The atmospheric file, which is read by another routine in this module, is 6.9 GB. I wonder if Github will choke on this.

[2021-05-06 17:55] GeorgeGayno-NOAA opened #506 "Write unit test for chgres_cube.fd/input_data.F90/read_input_nst_netcdf_file"
Write unit test for `read_input_nst_netcdf_file`.

Part of #256.

[2021-05-06 18:07] edwardhartnett commented on #256
You cannot check those into github and they are too big to FTP. ;-)

We could cut much of the data from the file and write a test based on the stripped-down file...

[2021-05-06 18:12] LarissaReames-NOAA commented on #504
Also a bonus: the ESMF documentation for 8.1.1 says they're working on adding features for packed FieldBundles that would allow regridding of an entire bundle in a single call. This is essentially what regrid_many is doing, so we'll be able to utilize that sort of functionality (and get rid of regrid_many) when it's added to ESMF.

[2021-05-06 18:18] GeorgeGayno-NOAA commented on #256
Sorry for the confusion. I did not intend to add the file to the repository. I just wonder if a unit test that reads that much data will max out github somehow.

[2021-05-06 18:20] edwardhartnett commented on #256
GitHub maxes out at 30 minutes, so that's a lot of data reading.

But do we need to read the whole file in order to test the code? Probably not.

Also, we cannot upload a 1 GB file to GitHub for testing. It will take too long to FTP that big a file. We need to test this code with a smaller file.

[2021-05-06 19:01] edwardhartnett commented on #256
Try with just one record...

[2021-05-07 12:08] edwardhartnett commented on #499
OK, looks like the fix directory causes links to be made to various directories on our machines.

This is not good. How are outside users supposed to see these files?

What is the size of these files? Can we package them up in a tarball on the FTP site? Then users can download them...

[2021-05-07 12:12] edwardhartnett opened #507 "Find a way to distribute the data in the fix subdirectory"
In the fix subdirectory we have a script which creates links to directories of data on our machines.

This won't work for the end user. ;-)

We need to make this data available as a (versioned) tarball on the ftp site.

[2021-05-07 12:18] edwardhartnett opened #508 "use of "./" in filename causing troubles testing chgres_cube write_data.F90 subroutine write_fv3_atm_header_netcdf"
We have this function:

[code]

Not the outfile is set to "./gfs_ctrl.nc"

When run under GitHub, this causes an error (no such directory). When I take out the "./" at the beginning, everything works.

We could make the outfile a parameter, and that would solve this problem. But why is there a problem in the first place?

[2021-05-07 13:35] #425 closed

[2021-05-07 13:35] #467 closed

[2021-05-07 13:35] #494 closed

[2021-05-07 13:35] #501 closed

[2021-05-10 15:38] edwardhartnett commented on #506
The reduced size file is only 608 KB? That's small enough to just add to the data subdirectory in the repo...

[2021-05-10 15:50] GeorgeGayno-NOAA opened #510 "Write unit test for chgres_cube.fd/input_data.F90/read_input_sfc_netcdf_file"
Write test for `read_input_sfc_netcdf_file`.

Part of #256.

[2021-05-11 16:16] #506 closed

[2021-05-11 20:23] GeorgeGayno-NOAA opened #513 "Write unit test for chgres_cube/input_data.F90/read_input_atm_gaussian_netcdf_file"
Write unit test for `read_input_atm_gaussian_netcdf_file`

Part of #256

[2021-05-12 20:01] GeorgeGayno-NOAA commented on #483
@HelinWei-NOAA If you create a new set of files, I would document it under this issue?

Question to the group: Should the VIIRS data option be moved to 'develop'? Or are you still testing?

[2021-05-12 20:11] yangfanglin commented on #483
I'd recommend to have the VIIRS data option moved to 'develop'

Fanglin

On Wed, May 12, 2021 at 4:01 PM GeorgeGayno-NOAA ***@***.***>
wrote:

--
*Fanglin Yang, Ph.D.*
*Chief, Model Physics Group*
*Modeling and Data Assimilation Branch*

*NOAA/NWS/NCEP Environmental Modeling Center*

*https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/
<https://www.emc.ncep.noaa.gov/gmb/wx24fy/fyang/>*

[2021-05-13 20:17] GeorgeGayno-NOAA commented on #483
Will do.

[2021-05-13 20:19] GeorgeGayno-NOAA commented on #483
@KateFriedman-NOAA I have new vegetation type data that will need to be added to ./fix/fix_sfc_climo.

[2021-05-17 14:46] #510 closed

[2021-05-17 15:42] KateFriedman-NOAA commented on #483
@GeorgeGayno-NOAA Okie dokie, please point me to the data and I'll pull it into the fix set. Thanks!

[2021-05-17 17:12] GeorgeGayno-NOAA commented on #483
On mars, please add the four files in this directory:
/gpfs/dell2/emc/modeling/noscrub/George.Gayno/fv3.vegt.new.tundra.netcdf/fix_sfc_climo

[2021-05-17 17:26] KateFriedman-NOAA commented on #483
Done and rsynced to FIX_DIRs on supported platforms:

[code]

[2021-05-17 19:03] #481 closed

[2021-05-18 16:00] LarissaReames-NOAA opened #516 "General cleanup of surface.F90 needed"
Similar to Issue #504 , the entire file surface.F90 could use some clean up. Outside of the interp subroutine, there's some old code in there that's no longer used, and an opportunity in nst_land_fill to move to using a loop over a FieldBundle to do most of the work of that subroutine. As this won't involve adding any functionalities that aren't already there, but mostly will be removing old code,

[2021-05-18 17:50] GeorgeGayno-NOAA commented on #483
Kate, can you also add to Orion?

[2021-05-18 17:59] KateFriedman-NOAA commented on #483
Oops, my bad, Orion is updated now @GeorgeGayno-NOAA

[2021-05-18 18:38] #513 closed

[2021-05-19 19:40] ZhanZhang-NOAA opened #520 "chgres_cube: output in restart format when input from warm start files"
Current version of chgres_cube is able to take a FV3 warm restart file and interpolate/remap it to a different resolution/domain-coverage in cold-start format, but not in fv3 warm restart format.

Is it possible to enhance the current chgres_cube capability to write output file in warm restart format when input from warm start file. This capability will be very useful for conversions, fields remap

[2021-05-20 13:16] GeorgeGayno-NOAA commented on #520
@ZhanZhang-NOAA To whom should I assign this task?

[2021-05-21 14:39] edwardhartnett opened #521 "README needs to be updated with correct list of dependencies"
Dependencies have changed and the README needs to be updated.

[2021-05-21 17:37] GeorgeGayno-NOAA opened #522 "Write unit test for chgres_cube/input_data.F90/read_input_nst_nemsio_file"
Write unit test for the subject routine. A GFS nemsio file is nearly 3GB. So I will need to create a reduced-in-size version.

Part of #256

[2021-05-21 18:50] edwardhartnett opened #523 "Add fortran subprogram gblevents.f from w3emc to UFS_UTILS to solve circular dependency problem in NCEPLIBS?"
@GeorgeGayno-NOAA we have a fortran subprogram in NCEPLIBS-w3emc which should probably be in UFS_UTILS.

According to @kgerheiser:

[2021-05-21 18:52] kgerheiser commented on #523
It's not a program though. Everything else here is an executable.

[2021-05-21 18:55] edwardhartnett commented on #523
I think the fact that it's a library is a problem.

But perhaps it should be in NCEPLIBS-bufr? @jbathegit and @jack-woollen do you guys know about this program?

[2021-05-21 18:56] kgerheiser commented on #523
I say we track this in the w3emc repo

https://github.com/NOAA-EMC/NCEPLIBS-w3emc/issues/71

[2021-05-21 18:58] edwardhartnett commented on #523
If added to UFS_UTILS it will introduce a dependency on NCEPLIBS-bufr, which is new. All other dependencies are already in use by other parts of UFS_UTILS. So that does look like a good fit...

[2021-05-21 19:03] edwardhartnett commented on #523
What I wonder is - who calls this function?

[2021-05-21 19:05] kgerheiser commented on #523
That, I don't know. I know @BoiVuong-NOAA worked on it.

[2021-05-21 19:15] kgerheiser commented on #523
I also don't think it would be appropriate here because we don't install UFS_UTILS. Depending on what applications use gblevents.f it wouldn't be available pre-installed.

[2021-05-21 19:16] edwardhartnett commented on #523
Well I really don't want to create a new repo for one subprogram!

[2021-05-21 20:04] jbathegit commented on #523
For my part, I don't have any knowledge of or familiarity with this program.  But if the main docblock is correct, it looks like it also has dependencies on NCEPLIBS-sigio, NCEPLIBS-sp, and NCEPLIBS-nemsio.

[2021-05-21 20:54] GeorgeGayno-NOAA opened #524 "Write unit test for chgres_cube/input_data.F90/read_input_sfc_gaussian_nemsio_file"
Write unit test for the subject routine. A GFS nemsio file is nearly 3GB. So I will need to create a reduced-in-size version.

Part of #256

[2021-05-24 14:08] #165 closed

[2021-05-24 19:31] HenryJuang-NOAA commented on #165
Thanks.

On Mon, May 24, 2021 at 10:09 AM GeorgeGayno-NOAA ***@***.***>
wrote:

[2021-05-24 20:17] LarissaReames-NOAA opened #525 "PR #388 broke how chgres handles tracers in grib2 files"
The recent change to the use of a num_tracers and num_tracers_input (instead of just num_tracers) was improperly implemented for grib2 files. This breaks every use of grib2 files that relies on the variable mapping table to provide tracer names, which is how I designed all grib2 file reading to function. I believe I've found some of the places that need to be fixed, so I'm hopeful this can be reso

[2021-05-25 12:17] GeorgeGayno-NOAA commented on #525
Sorry about that. The GRIB2 consistency check did not catch that. Do we need better/additional tests?

[2021-05-25 12:22] edwardhartnett commented on #525
Yes, we need better and additional tests. Make sure that when this is fixed, tests are included to demonstrate and confirm the fix.

So if, next month, this accidentally gets broken again, it is immediately noticed.

For this, consistency checks are not ideal, because they are delayed. Unit tests are needed, so that programmers can immediately know if they have caused a regression such as this.

[2021-05-25 14:55] LarissaReames-NOAA commented on #525
While I agree consistency checks aren't ideal, the ones pending for the release branch would have caught this, and they should be included regardless. I'm going to make a PR to the develop branch later today.

Ideally, program_setup_varmaps would have caught this issue since it checks that the variable num_tracers coming out of read_varmap is correct, but since all instances of num_tracers in inpu

[2021-05-25 20:07] GeorgeGayno-NOAA opened #528 "Write unit test for chgres_cube/input_data.F90/read_input_sfc_gfs_gaussian_nemsio_file"
Create a unit test for `read_input_sfc_gfs_gaussian_nemsio_file`. This routine reads
GFS v14 surface nemsio history files.

[2021-05-26 12:45] #516 closed

[2021-06-01 12:54] #524 closed

[2021-06-01 17:02] KateFriedman-NOAA commented on #102
@GeorgeGayno-NOAA I'm ready for this work to move into develop. I'm wrapping up testing my branch for this work on the workflow side and will be ready for a new hash or tag from UFS_UTILS that includes these updates. Thanks!

[2021-06-01 17:40] GeorgeGayno-NOAA commented on #102
Ok, Kate. Glad to finally get this merged. Will create a release for you.

[2021-06-01 17:48] KateFriedman-NOAA commented on #102
Wonderful, thanks @GeorgeGayno-NOAA !

[2021-06-01 18:18] GeorgeGayno-NOAA commented on #520
Initial scope of work:

- New routines to output data in the warm restart format. Like the cold start files, the warm start files are NetCDF.  However, unlike the cold start format, the warm restart atmospheric data is stored in multiple files.
- In the cold start files, the u/v winds are on the 'a' grid and earth relative. In the warm restart files, they are staggered and tile relative. So routin

[2021-06-02 17:02] LarissaReames-NOAA commented on #525
PR #519 fixed this problem. We're adding in more consistency tests in PR #530 which will hopefully prevent this issue in the future.

[2021-06-02 17:02] #525 closed

[2021-06-03 12:43] #102 closed

[2021-06-03 15:06] GeorgeGayno-NOAA opened #532 "Release Version 1.4.0"
@KateFriedman-NOAA Would like a release with the updated GDAS utility (#102).

Will follow @edwardhartnett guidance:

* Update the VERSION file.
* Use the same pattern for the tag name as in previous releases. (The tag is automatically created by GitHub when you do a release, but you pick the name. It should be "ufs_utils_1_4_0" in this case, with no changes in case or underscores or anything else

[2021-06-03 20:12] GeorgeGayno-NOAA commented on #532
Updated 'gh-pages' at 25c9391.

[2021-06-04 14:32] #521 closed

[2021-06-04 14:32] #532 closed

[2021-06-04 14:52] edwardhartnett commented on #532
You need to hit the "Publish Release" button for the 1.4.0 release...

After you do, it will be the 1.4.0 release that appears on the main github page.

Also, I forgot that we also need to make the master branch match the current develop branch, so that the master branch has the last release. That's not exactly how most people use the master branch, but it's reasonable.

[2021-06-04 15:28] GeorgeGayno-NOAA commented on #532
Doing a PR results in lots of conflicts. The few times I had to update master, I find I must do it manually as:

`git merge --strategy=ours develop`

How was it done last time? (#485)

[2021-06-04 16:18] edwardhartnett commented on #523
Although there are certainly some valid objections to putting glbevents into UFS_UTILS (including the fact that UFS_UTILS is not built by hpc-stack), it seems to be the best available option.

@Hang-Lei-NOAA will do this in coordination with @GeorgeGayno-NOAA .

[2021-06-04 16:20] edwardhartnett opened #534 "Do a 1.5.0 release"
We will need to do a release after #523 is resolved.

[2021-06-04 16:21] edwardhartnett commented on #532
Antoher thing to do with a release is to "close" the 1.4.0 project on GitHub. You do that here:
https://github.com/NOAA-EMC/UFS_UTILS/projects

There is a little ... menu to the right of the 1.4.0 project.

[2021-06-08 21:55] JeffBeck-NOAA opened #535 "Reconfigure testing directory structure"
Based on recent changes to the testing infrastructure for UFS_UTILS, I would propose rearranging directories as follows:

1) Move the current sub-directories in "tests" into a directory called "unit_tests"
2) Rename "reg_tests" to "consistency_tests" and place it in the "tests" directory

[2021-06-09 13:51] #181 closed

[2021-06-15 17:28] LarissaReames-NOAA commented on #246
Fix merged, regression tests updated and passing on all systems. Issue closed.

[2021-06-15 17:28] #246 closed

[2021-06-15 20:16] JeffBeck-NOAA opened #539 "Migrate initial condition adjustments/modifications from the dycore to chgres_cube"
Problem: FV3 currently makes scientific assumptions about IC and LBC data based solely on the content of the global attribute “source” of the netCDF files from chgres_cube. This makes it impossible to address these various differences among input data sources (e.g., GFS nemsio vs. GFS grib2 vs. HRRR grib2) with sufficient granularity.

Solution: Move any and all data reformulations from the FV3 dy

[2021-06-15 20:24] LarissaReames-NOAA commented on #539
Note that solving this Issue will also involve coordinated changes to the FV3 code base itself.

[2021-06-16 15:43] edwardhartnett commented on #535
Unit tests should be in a directory call "tests" to conform to CMake conventions.

I have no objection to renaming or moving the reg_tests directory, if that seems helpful. But is it?

[2021-06-16 16:28] #523 closed

[2021-06-16 16:42] JeffBeck-NOAA commented on #535
I think having a "tests" directory with sub-directories called "unit_tests" and "consistency_tests" makes sense.

[2021-06-17 13:24] GeorgeGayno-NOAA commented on #534
#523 has been merged. I can do the release if you want.

[2021-06-17 17:56] JeffBeck-NOAA opened #540 "Create a module file to store all constants for UFS_UTILS code"
Need to create a single location for all constants that are used by UFS_UTILS code.  This includes the radius of the earth but also many other values.  This module would then be sourced by each utility for consistent constant values across all code.

[2021-06-18 13:34] arunchawla-NOAA commented on #540
Having one place where everything is set is critical

[2021-06-18 13:42] arunchawla-NOAA opened #541 "Connect with GFDL fre-nctools kit"
UFS-utils has fre-nctools that is a snapshot (or subset) of the fre-nctools from the GFDL repository (https://github.com/NOAA-GFDL/FRE-NCtools) that was provided to EMC when the FV3 code was delivered. Since this tool set is being regularly updated at GFDL as FV3 and MOM6 get updated, does it make sense for UFS-utils to connect to this repository?

[2021-06-19 11:13] edwardhartnett commented on #541
It makes more sense to remove this from UFS_UTILS and install it as a separate library with hpc-stack. See #336.

[2021-06-19 11:15] edwardhartnett commented on #540
See #538 for additional discussion...

[2021-06-19 11:17] edwardhartnett commented on #534
Yes please.

[2021-06-21 14:23] GeorgeGayno-NOAA commented on #534
Here is the 'to do' list:

- Update the VERSION file.
- Use tag name `ufs_utils_1_5_0`.
- Rebuild the documentation and update the `gh-pages` branch.
- Update the bullet list of items in the release notes, with links to the issues closed.
- Update `master` to match `develop`.
- After doing the release, create draft release notes (via cut and paste) for the next release.

[2021-06-21 15:44] GeorgeGayno-NOAA commented on #534
Documentation updated at 5c0d655.

[2021-06-22 14:48] GeorgeGayno-NOAA commented on #520
Some notes about the surface files: The cold and warm restart files contain most of the same fields, with the same record id and the same units. That is a good thing. But there are some differences:

- The cold start files contain 'geolat' and 'geolon' records. Those records are not in the warm start files.
- The 'zm' field is zeroed out in the cold start files. It contains real data in the warm s

[2021-06-22 15:25] #534 closed

[2021-06-23 17:13] GeorgeGayno-NOAA commented on #520
@HelinWei-NOAA How is snow cover computed by the LSM? Which routine?

[2021-06-23 18:22] HelinWei-NOAA commented on #520
snow cover is computed differently in three different LSMs inside UFS. However the Noah LSM routine is used to initialize the snow cover inGFS_phys_time_vary.fv3.F90:

!$OMP section
         !--- if sncovr does not exist in the restart, need to create it
         if (all(sncovr < zero)) then
           if (me == master ) write(0,'(a)') 'GFS_phys_time_vary_init: compute sncovr from weasd and soil v

[2021-06-24 14:28] GeorgeGayno-NOAA commented on #520
@junwang-noaa I have questions about starting the model with warm restart files. For example, are all records in the restart files actually needed or are some diagnostic? Who would I ask? Which model routine reads the restart files?

[2021-06-24 15:48] junwang-noaa commented on #520
George, There are some diagnostic fields in the restart files (e.g. non
bucket total avg precip and total ave convective precip) in restart
phy_data in order to get restart reproducibility. The code to read restart
files are: in dycore, subroutine fv_io_read_restart in
FV3/atmos_cubed_sphere/tools/fv_io.F90 and subroutine
sfc_prop_restart_read and phys_restart_read in FV3/io/FV3GFS_io.F90 for
phys

[2021-06-24 17:15] #522 closed

[2021-06-25 19:10] DavidHuber-NOAA opened #543 "Port UFS_UTILS to S4"
UFS_UTILS should be ported to SSEC's S4 cluster to enable GFS and DA research efforts on that system.

[2021-06-25 20:20] GeorgeGayno-NOAA commented on #543
As you may already know, UFS_UTILS uses the HPC-stack: https://github.com/NOAA-EMC/hpc-stack/wiki

So that should be ported first.

[2021-06-25 20:42] GeorgeGayno-NOAA opened #544 "Port GDAS INIT scripts to Jet"
Port these scripts to Jet: https://github.com/NOAA-EMC/UFS_UTILS/tree/develop/util/gdas_init

[2021-06-25 21:51] DavidHuber-NOAA commented on #543
Yes, I have a ported version of HPC-stack on S4.  It's a little outdated (version 1.0.0), so I will be updating to version 1.1.0 before finishing the port.

[2021-06-26 03:45] edwardhartnett commented on #543
Since UFS_UTILS is standard fortran, the only "porting" that is necessary is adding support for S4 in the cmake build - which means setting some compiler flags.

Nor is that strictly necessary, as the user can specify fortran flags from the build command, without them being in the cmake file. So @DavidHuber-NOAA you should be able to build the existing release on S4 just by providing the correct f

[2021-06-28 18:28] #216 closed

[2021-06-29 18:50] GeorgeGayno-NOAA commented on #520
https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/blob/3720aeae54eeed54d4e8274756857542b3e5dccc/tools/fv_io.F90#L145

[2021-06-29 19:20] GeorgeGayno-NOAA commented on #544
From Kate:

_I'm not sure of the Jet port timeline yet...But...I would estimate we'd need Jet updates late summer (~August)._

[2021-06-29 22:03] BinLiu-NOAA commented on #520
@GeorgeGayno-NOAA, is it ok that I point you to the regional FV3 restart files for you to look at or test with? Or you would prefer to start with global model (saying GFSv16) restart files to start with? For GFSv16 (GFS/GDAS) restart files, I can point you to the wcoss operational location. For regional restart files, I can create/point you to the corresponding files on Orion (or other platforms).

[2021-07-01 12:56] #300 closed

[2021-07-05 03:23] edwardhartnett opened #546 "Add dependency check for NCEPLIBS-bufr and add it to list of dependencies in README"
Don't we now need to check for NCEPLIBS-bufr in the CMake file, to support glbevents?

Also, it needs to be listed in the README.

[2021-07-06 19:09] GeorgeGayno-NOAA commented on #520
Code to turn the winds from earth relative to grid relative (when reading coldstart files):

https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere/blob/3720aeae54eeed54d4e8274756857542b3e5dccc/tools/external_ic.F90#L735

[2021-07-07 18:52] GeorgeGayno-NOAA commented on #3
This issue was opened to support GFS v16. We decided not to make NOAHMP part of that implementation. For v17, I believe @barlage has his own code to initialize GFS with NOAHMP data.  Will close.

[2021-07-07 18:52] #3 closed

[2021-07-07 18:54] #95 closed

[2021-07-07 19:04] GeorgeGayno-NOAA commented on #114
@jedwards4b and @JeffBeck-NOAA This issue has not been updated in a year. Can we close it? Has it been superceded by #539?

[2021-07-07 19:07] jedwards4b commented on #114
@GeorgeGayno-NOAA I'm no longer on the project.

[2021-07-07 19:10] GeorgeGayno-NOAA commented on #119
@barlage Arun has asked us to close any issues that have not been updated in a while. Should we keep this open?

[2021-07-07 19:14] GeorgeGayno-NOAA commented on #180
@LarissaReames-NOAA What is the status of this issue?

[2021-07-07 21:21] JeffBeck-NOAA commented on #114
@GeorgeGayno-NOAA, I think #539 will cover this issue.

[2021-07-08 02:59] barlage commented on #119
@GeorgeGayno-NOAA We can close it. I expect that this will come up again soon, but I've been expecting that for a while so we can address it then. When we start actively testing the regional model, there will be a desire for this soil level flexibility.

[2021-07-08 02:59] #119 closed

[2021-07-08 12:03] GeorgeGayno-NOAA commented on #114
Superceded by #539. Closing.

[2021-07-08 12:03] #114 closed

[2021-07-12 15:09] GeorgeGayno-NOAA commented on #129
@ClaraDraper-NOAA I opened this issue for your snow updates to global_cycle. There has not been much activity lately. Should I close this?

[2021-07-12 16:18] ClaraDraper-NOAA commented on #129
Yes, let's close it. in the tests I ran on this we found that fixing the bug had very little impact on the atmosphere. The decision was made back then to leave it unchanged, since we're working on replacing the snow DA entirely.

[2021-07-12 16:51] #129 closed

[2021-07-15 17:27] gsketefian opened #547 "Fix filter_topo return code to be non-zero on error"
In the filter_topo code, when a non-existent namelist variable is read in, the code fails (as it should), but apparently the return value is still 0, indicating success.  This was noticed in the discussion in PR#[546](https://github.com/NOAA-EMC/regional_workflow/issues/546) into regional_workflow.   For this reason, the following line in exregional_make_orog.sh in regional_workflow fails to catch

[2021-07-15 17:38] gsketefian opened #548 "Fix filter_topo so it uses actual resolution (e.g. in kilometers) to set filtering parameters, not number of grid points"
The filtering parameters in filter_topo are set according to number of grid points, not actual grid resolution (e.g. in kilometers).  For this reason, a regional ESG grid with 100 grid points on a side that covers a domain of 300km on a side (so that delx=3km) will get the same filtering parameters as another ESG grid with 100 points but that covers a domain of 3000km on a side (so that delx=30km)

[2021-07-15 17:38] gsketefian commented on #548
@GeorgeGayno-NOAA @JacobCarley-NOAA Who would be the best person to handle this issue?

[2021-07-15 17:49] JiliDong-NOAA commented on #547
Thanks @gsketefian for bringing this up. I am wondering why the exit code is 0 when filter_topo fails at reading the namelist? Do we also want to modify the code to get a non-zero exit code where it fails?

[2021-07-15 18:06] JeffBeck-NOAA commented on #547
@JiliDong-NOAA, yes, there are two deliverables for this PR:  1) Modify the name of the filtered topography file that is generated by filter_topo to be different than the raw file, and 2) Make sure it fails with a non-zero status when a namelist error is encountered.

[2021-07-15 19:32] gsketefian commented on #547
@JiliDong-NOAA I do not know why the exit code is zero even if there is an error.  That is the thing that needs to be looked into.  The other thing is the name of the output file.  Maybe the best approach would be to have the user specify (via the namelist) the names of both the input and output files.  But whatever is done, it will likely affect others such as the global model workflow users, so

[2021-07-15 20:19] pjpegion opened #549 "global_cycle fractional grid support"
The coupled model is now using a fractional grid, but the data assimilation still needs to use global_cycle in order to bring in the land DA analysis increments. Global cycle needs to be updated to be consistent with the code in https://github.com/NCAR/ccpp-physics/pull/695

[2021-07-15 20:26] GeorgeGayno-NOAA commented on #549
Note, there is a related issue (#424) to ensure the CCPP physics and UFS_UTILS use the same version of sfcsub.F.

[2021-07-15 20:48] edwardhartnett commented on #549
Let us consider how this will be tested...

[2021-07-19 14:00] GeorgeGayno-NOAA opened #550 ""orog" program seg faults on MACOS"
When adapting the develop branch of the ufs-srweather-app to the MACOS platform, I found that the orog program would consistently exhibit segmentation faults for unknown reasons with my compiler (GNU 9.4.0 homebrew). We have seen this before for certain older fortran programs using GNU compilers when declaring variables as a size of a variable value in certain instances (e.g. #245). I was able to

[2021-07-19 15:19] jswhit2 commented on #549
@GeorgeGayno-NOAA @arunchawla-NOAA this is important for coupled DA testing, right now it's blocking us from upgrading to P7b.

[2021-07-20 14:20] DusanJovic-NOAA opened #551 "Build using GNU version 10 fails"
I get this error message when I try to build using GNU compilers version 10:
[code]

[2021-07-20 15:53] kgerheiser commented on #242
`grid_gen`, `snow2mdl`, and `global_cycle` tests pass

[2021-07-20 19:24] XianwuXue-NOAA opened #552 "Port ufs_utils for GEFSv12 to WCOSS2/Acorn"
Port based on tag: ops-gefsv12.1

[2021-07-20 20:37] edwardhartnett commented on #552
Not sure what "port based on tag" means. Are there changes that will be merged to master?

Instead of a tag, we need to do a proper release.

[2021-07-20 23:20] XianwuXue-NOAA commented on #552
Yes, the tag is for GEFS v12.1. It is better to create a release branch (release/gefsv12) for the porting. Regarding merging into master, after I ported to acorn, you can decide whether it is merged to master or not. BTW, the lib name was changed in acorn. So if you want to merge into master, we should make it more general to be compatible with all machines.

[2021-07-20 23:52] edwardhartnett commented on #552
We must do a release, and it must be done in a backwards-compatible way. If you wish to have an extra tag, that's fine, but it also needs to be a versioned release.

What library name was changed?

[2021-07-21 00:09] XianwuXue-NOAA commented on #552
I agree. Please create a release branch for us based on tag: ops-gefsv12.1

On acorn, some libs do not have libName_4, such as gfsio, sfcio,  bacio, and sigio, maybe NCO will install it later. So I modified the CMakeLists.txt files to delete the _4. In CMakeModules, the "versioned_lib_name" is changed to ${name} instead the original "${name}_${version}". However, since this is the first try, I may

[2021-07-21 01:04] edwardhartnett commented on #552
@GeorgeGayno-NOAA looks like this will be the 1.6.0 release. We need to point the tag and the release at the same hash in the repo. Best would be to do a release, then add the extra tag.

[2021-07-21 14:22] #528 closed

[2021-07-22 19:17] DusanJovic-NOAA opened #554 "emcsfc_snow2mdl fails to build using GNU compiler"
The compile error:
[code]

[2021-07-22 21:09] kgerheiser commented on #554
I have no problems building it with GNU 10.3.0.

[2021-07-22 23:57] DusanJovic-NOAA commented on #554
Looks like I get the compile error when I use the develop branch of ip lib.

[2021-07-23 00:03] kgerheiser commented on #554
Yes, ip is in a module now, and snow2mdl plays loose with type checking. I would recommend using tag `v3.3.3`. There's a branch of UFS_UTILS with the fix that will be merged.

[2021-07-23 12:39] arunchawla-NOAA commented on #424
There is a new request for fractional grid support in global_cycle under ufs-utils. The question comes back to sharing common set of codes in ufs-utils and ccpp. I think we have similar issues with some land utilities as well. Wondering if it makes more sense for these to be as a library set (instead of trying to create repos out of single files). This is specially true if these codes are not chan

[2021-07-23 13:06] SMoorthi-emc commented on #424
The model is getting too fragmented with too many links to repositories.
It is hard to keep up.

On Fri, Jul 23, 2021 at 8:39 AM arun chawla ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park MD 20740 USA
Tel:

[2021-07-23 13:29] arunchawla-NOAA commented on #424
I agree and having yet another repository will not be helpful. Would it make more sense for a common set of surface utilities (I remember land needed some as well) be its own library that can be referenced by UFS-utils and the code base ?

[2021-07-23 13:46] SMoorthi-emc commented on #424
Well, one problem is that if the modelers want to change something, they
will have to change a library.
More work.

On Fri, Jul 23, 2021 at 9:30 AM arun chawla ***@***.***>
wrote:

--
Dr. Shrinivas Moorthi
Research Meteorologist
Modeling and Data Assimilation Branch
Environmental Modeling Center / National Centers for Environmental
Prediction
5830 University Research Court - (W/NP23), College Park

[2021-07-23 14:02] arunchawla-NOAA commented on #424
True, how often do these change ? And can these be tested separately as stand alone routines?

[2021-07-23 14:15] SMoorthi-emc commented on #424
Well, since they are not expected to change that often, maybe the status
quo may not be that bad.
It makes it easier for the modelers to change if needed without having to
depend on changing library.
(I am not even sure if the standalone global_cycle is even needed as the
model calls it in the first time step).

On Fri, Jul 23, 2021 at 10:02 AM arun chawla ***@***.***>
wrote:

--
Dr. Shrinivas Moo

[2021-07-23 14:33] arunchawla-NOAA commented on #424
we then have the same code in multiple places

[2021-07-23 21:29] #550 closed

[2021-07-26 13:21] JiliDong-NOAA opened #555 "issues on chgres_cube handling missing levels for specific humidity or tracers"
When chgres_cube reads in the combined grib2 files (pgrb2+pgr2b) from GFSV16, the isobaric levels of specific humidity (SPFH) are fewer than the zonal wind (UGRD): 41 vs. 57 levels. The current method of handling missing levels for humidity is setting the fill value of 1E-7, which appears to be problematic. For example, in lower troposphere, we may have the valid spfh10g/kg at 900 mb, 9g/kg at 850

[2021-07-26 15:57] LarissaReames-NOAA commented on #555
Presently, chgres_cube assumes that all 3-d variables are on the same vertical grid. All variables are read in, and then a later routine does vertical re-gridding of all variables with that same assumption. It would take a significant amount of re-working to allow for each 3-d variable to exist on its own vertical coordinate. Is there some way these files could be pre-processed to do vertical inte

[2021-07-26 16:28] JiliDong-NOAA commented on #555
@LarissaReames-NOAA I agree it will require a lot of work to rewrite the code to handle 3d variables on different levels. For an easier solution, I am thinking to add a new method, say "interp", to the varmap to allow chgres_cube to do the vertical interpolation for missing levels. It could be as simple as a linear interpolation. Do you think it is doable? I think we can also do the interpolation

[2021-07-26 16:59] LarissaReames-NOAA commented on #555
I think it's **possible**, but still more involved than just dropping in an interpolation routine. You'd have to consider the logic of which levels to choose and the order that you do things in very carefully. I also would advise against linear interpolation since the final interpolation to the target grid is pressure-weighted so you'd want to keep with that, especially in the upper levels of the

[2021-07-26 17:08] GeorgeGayno-NOAA commented on #555
@JiliDong-NOAA If your GRIB2 data has that many missing levels, then why use it? There are better options.

[2021-07-26 17:42] JiliDong-NOAA commented on #555
Good points on the interpolation. Is there any existing subroutine for vertical interpolation we can borrow? I wonder if EMC_post has any.

[2021-07-26 18:07] JiliDong-NOAA commented on #555
@GeorgeGayno-NOAA The combined GRIB2 still has 41 levels for SPFH, enough for initialization, just fewer than wind/temp etc. Some clarification:
1. The vertical levels in pgrb2 from GFSV16 are consistent for major prognostic variables.
2. The inconsistency of vertical levels only happens when pgrb2 and pgrb2 of GFSV16 are combined: extra levels are added for wind/temp etc. but not for spfh. It may

[2021-07-26 18:27] LarissaReames-NOAA commented on #555
Some code from the present vertical interpolation could certainly be borrowed. The interpolation itself won't be the difficult part, it would be the workflow and logic for reading in the variables properly in preparation for interpolation.

[2021-07-26 19:40] edwardhartnett commented on #555
When writing these changes please consider the requirement to provide unit testing for all new and changed code. Writing unit tests as the code is developed is a lot less work than attempting to retrofit tests after code has been written. All new code and changes must be proven to be correct, and that proof must be available as unit tests to continue to ensure that the code is not broken in future

[2021-07-27 21:17] JacobCarley-NOAA commented on #555
A quick, short term suggestion: Could we put a check in the code to confirm the assumption that all 3d variables are on the same levels? We'd have caught this much sooner if the code aborted with a helpful error.

This at least saves all users now while we figure out the longer term approach.

[2021-07-27 21:36] LarissaReames-NOAA commented on #555
The file type that they're attempting to use here is an un-tested, not-officially-supported type of grib2 file. The code that fills in missing vertical levels according to the varmap table was designed to work with the public-availably NCEP GFS files that have levels near TOA that don't have tracers, hence the default to fill these levels in with very small (1E-7) values. These types of grib2 file

[2021-07-28 12:21] JacobCarley-NOAA commented on #555
Thanks @LarissaReames-NOAA for the additional explanation as well as the suggestion!

Perhaps a constraint could be added to the code such that it does not fill SPFH with very small values at levels where such an assumption is no longer reasonable? (e.g., if missing at 850 hPa). That would catch the issue at hand and ideally maintain the current code's capability.

For what it's worth, the grib2 f

[2021-07-28 15:58] LarissaReames-NOAA commented on #555
I think we could implement one specifically for specific humidity at levels say below 200 mb.

So one of the main reason these files aren't yet supported is that in their native state, they have duplicate entries with identical data for some variables (I believe winds in particular, again), which makes reading in the data difficult.

In the past, as the only way to get min/max vegetation fraction

[2021-07-28 16:10] JiliDong-NOAA commented on #555
The duplicate records are removed in the combination step in EMC by using the first record when duplicated.

I am working to implement a new method in chgres_cube for simple linear interpolation with missing levels for tracers. The interpolation could be done in logP space to avoid Larissa's concern on the upper levels. As it will be a new method/option, I don't expect it will break/change any cur

[2021-07-28 20:36] JamesAbeles-NOAA commented on #555
@GeorgeGayno-NOAA you wrote "If your GRIB2 data has that many missing levels, then why use it? There are better options." As Jacob mentioned there are several different groups using grib2 and I would add that we are running on the cloud so our options for data are limited. What is a better option?

[2021-07-30 18:18] DavidHuber-NOAA commented on #543
@GeorgeGayno-NOAA @edwardhartnett S4 does not have access to HPSS, so the `gdas_init` driver cannot be fully ported.  However, there is some interest to be able to run `chgres`.  Thus I'd like to write a partial driver for S4 that can run just the `chgres` portion and issue an error if some attempts to extract from HPSS.  Are there any qualms with this solution?

[2021-07-30 18:22] GeorgeGayno-NOAA commented on #543
You can turn off the data extraction by setting EXTRACT_DATA=no.

[2021-07-30 18:22] GeorgeGayno-NOAA commented on #543
You would need to place the input data in the directory expected by the `gdas_init` utility.

[2021-07-30 18:30] DavidHuber-NOAA commented on #543
That should just be the `EXTRACT_DIR` variable in the `config` file, correct?

[2021-07-30 18:33] GeorgeGayno-NOAA commented on #543
Yes, but when you untar the hpss tarball it will add subdirectories under EXTRACT_DIR. The utility expects the full path.

Do you plan to run the hpss step on another machine, then push the data to S4?

[2021-07-30 18:38] DavidHuber-NOAA commented on #543
Yes, I believe that would be the plan.  Although now that you ask, I'm not sure if any of the data that comes off of hpss is restricted.  If that's the case, then porting this driver is pointless since restricted data is not allowed on S4.  Do you know off hand if any of the data is restricted?

[2021-07-30 18:52] GeorgeGayno-NOAA commented on #543
I don't think the restart files input to chgres are restricted. Only certain datasets ingested by the GSI are restricted.  But I will let @KateFriedman-NOAA verify this.

[2021-07-30 19:07] KateFriedman-NOAA commented on #543
@GeorgeGayno-NOAA Correct, the restart files aren't restricted themselves but if they are in a tarball that contains even a single file that is restricted (e.g. dump file) then the entire tarball will have rstprod permissions and the user will need rstprod group permissions to access the tarball contents. Here are the production tarballs from an example 00z cycle that end up with rstprod permissio

[2021-07-30 19:19] DavidHuber-NOAA commented on #543
Alright, thanks @KateFriedman-NOAA @GeorgeGayno-NOAA.  I will give this a try on Hera/S4.

[2021-08-02 20:08] JeffBeck-NOAA commented on #555
Hi @JiliDong-NOAA, based on the issue conversion, there was discussion of adding a check that will cause chgres_cube to fail if 1) Interp isn't selected, and 2) levels of a tracer are missing below 200 mb.  We need to figure out how to incorporate that change into this PR, but also making sure it won't fail for older GFS files that just don't contain certain fields.  It needs to differentiate betw

[2021-08-02 20:28] JiliDong-NOAA commented on #555
sounds good @JeffBeck-NOAA . I am opening access of the branch add_intrp to both you and @LarissaReames-NOAA . Feel free to make any changes. Or let me know any modifications you propose and I am happy to implement them in this PR.

[2021-08-03 19:22] GeorgeGayno-NOAA commented on #105
A small test script with data was created to run the filter_topo program stand-alone (on venus):
/gpfs/dell2/emc/modeling/noscrub/George.Gayno/filter_topo_bug

[2021-08-03 20:23] GeorgeGayno-NOAA commented on #105
I tested the script on Venus using 'develop' at 0f5f3cb. A baseline 'oro' file was created using the standard compile. I then recompiled with the 'debug' option on:

[code]

I was hoping it would crash with an out of bounds array or divide by zero. But it ran to completion. The output did not match the baseline:

[code]

Some differences are large. All differences were confined to the top and bott

[2021-08-04 20:42] GeorgeGayno-NOAA commented on #105
Ported the test script to Hera - `/scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/filter_topo_bug`

[2021-08-04 20:50] GeorgeGayno-NOAA commented on #105
Tested the script on Hera. Compiled 'develop' at 0f5f3cb using the GNU compiler with the debug option (DCMAKE_BUILD_TYPE=Debug). Was hoping it would find a memory leak or an out-of-bounds array. It did crash with memory leaks. To fix the leaks, I updated the source code as follows:

[code]
The test then ran to completion.

[2021-08-04 21:03] GeorgeGayno-NOAA commented on #105
Ran the test on Hera four times:

- Intel with 'release' build type.
- Intel with 'debug' build type.
- GNU with 'release' build type.
- GNU with debug build type.

The output files from each test were compared.

The two Intel tests showed large differences indicative of a problem:
[code]

The two GNU tests showed very small differences:
[code]

The GNU debug and Intel debug showed very small diff

[2021-08-05 18:17] GeorgeGayno-NOAA commented on #105
Compiled my `bugfix/filter_topo` on Hera at 0f5f3cb, acba0fb, and dbe2ba5. Reran the test and compared the output files. None of the changes I made should change results.

Intel 'release' build type:

Comparing 0f5f3cb and acba0fb shows no differences.
[code]

Comparing acba0fb and dbe2ba5 shows large differences.
[code]

[2021-08-05 18:39] GeorgeGayno-NOAA commented on #105
Repeated the tests using GNU.

GNU 'release' build:

Comparing 0f5f3cb and acba0fb shows no differences.
[code]

Comparing acba0fb and dbe2ba5 shows no differences.
[code]

GNU 'debug' build:

Comparing acba0fb and dbe2ba5 shows no differences.
[code]

Recall, the 0f5f3cb tag would not run in 'debug' mode because of memory leaks.

[2021-08-06 15:13] GeorgeGayno-NOAA commented on #105
There are several arrays being allocated in routine "read_grid_file". Some are initialized with a constant value, while others are not initialized at all. I wonder if the compilers are filling these arrays with random garbage that should be later overwritten (but is not) by valid data. So I updated the branch to initialize these arrays. The values I chose (some were set to a large number, and some

[2021-08-06 18:53] GeorgeGayno-NOAA commented on #105
Something is not right about the setting of 'geolon_c' and 'geolat_c' in 'read_grid_file'. These variables are allocated with a halo:

[code]

For my test, the indices are:

`isd,ied,jsd,jed           -2         225          -2         207`

Later the 'grid' file is read and the arrays (not including the halo) are initialized:

[code]

For my test, the indices are:

`npx,npy          223         2

[2021-08-09 18:39] #543 closed

[2021-08-09 19:09] GeorgeGayno-NOAA opened #558 "GDAS_INIT data scripts point to the wrong HPSS GFS v16 retro directory"
Sajal Kar tried to pull GFS v16 retrospective data for 2020/12/23/00 and `get_v16retro.data.sh` could not find the data. Apparently, the HPSS directory name changed. Updating the script as follows seem to have fixed it:

[code]

[2021-08-09 22:11] EricRogers-NOAA commented on #415
Forked UFS_UTILS develop branch and created feature/lamda_utils branch

[2021-08-10 13:44] GeorgeGayno-NOAA opened #559 "Port UFS_UTILS to WCOSS2"
Port to WCOSS2.

Related issues:

- #552
- https://github.com/NOAA-EMC/global-workflow/issues/398

[2021-08-10 15:14] GeorgeGayno-NOAA commented on #558
First, test the new error message. The last complete GDAS v16rt2n dataset is 2021/03/26/00, and the last GFS dataset is 2021/03/26/06. Running for both dates show:

GDAS test:

[code]

GFS test:

[code]

[2021-08-11 14:18] #558 closed

[2021-08-11 17:37] ClaraDraper-NOAA opened #561 "Add code to ingest snow increments from JEDI for the Noah model"
Currently, we cannot produce the final snow analysis within JEDI, as we can't apply post-processing / QC checks to the analyzed fields. Instead, we are going to add the increment generated by JEDI to the restart within global_cycle, using a similar approach as is used for the soil temperature increments.

The main steps are:
1. Read in JEDI snow depth increment file (currently on native model grid

[2021-08-11 17:40] ClaraDraper-NOAA opened #562 "Add code to ingest snow increments from JEDI for the Noah-MP model"
This issue follows from #561, but is now for Noah-MP not Noah.

Noah-MP has a multilayer snow model, and the code to add the increments is more involved. Also, we will not be able to separate out the steps into: 1) update snow depth, 2) adjust other variables, as is done for Noah. I suggest we skip the first step, and use the current code structure (calling code from lsm_routines) to apply the upd

[2021-08-11 18:40] GeorgeGayno-NOAA commented on #544
Using the branch at 83bad46 on Jet, ran `gdas_init` for all possible input data sources:

- GFS v12 data from 2016/05/09/00Z
- GFS v13 data from 2016/05/11/00Z
- GFS v14 data from 2018/08/07/00Z
- GFS v15 data from 2021/03/07/00Z
- GFS v16 data from 2021/08/06/00Z
- GFS v16 retro parallel data from 2021/03/25/00Z

Both GFS and GDAS CDUMPs were run. All data pulls ran without error. All `chgres_cub

[2021-08-11 18:41] GeorgeGayno-NOAA commented on #544
Will submit a draft PR and let @KateFriedman-NOAA run her own tests.

[2021-08-11 19:11] XianwuXue-NOAA commented on #559
@GeorgeGayno-NOAA I encounter a problem when run "chgres_cube" on wcoss2/Acorn.  I tried different settings, but the NPETS was always 1, could you give me some suggestions about how to run "chgres_cube" on wcoss2? One log file is located "/gpfs/dell2/ptmp/Xianwu.Xue/o/jgefs_atmos_prep_00.o39015" on Venus. However, the acorn is not available (it suddenly unconnected this afternoon). So I can not te

[2021-08-11 19:23] GeorgeGayno-NOAA commented on #559
I have not run anything on WCOSS2 yet. My guess is you do not have the mpiexec command correct. Are you starting 36 instances of chgres_cube with one task each?

[2021-08-12 18:18] #547 closed

[2021-08-13 17:44] #544 closed

[2021-08-13 19:25] #555 closed

[2021-08-13 19:40] GeorgeGayno-NOAA opened #564 "Release Version 1.6.0"
The global workflow group - @KateFriedman-NOAA - would like a release with the Jet-compliant
GDAS_INIT utility.  See #544.

- Update the VERSION file.
- Use the tag name `ufs_utils_1_6_0`
- After updating the VERSION file, rebuild the documentation and update the `gh-pages` branch.
- Update the bullet list of items in the release notes, with links to the issues closed.
- Update `master` to match `

[2021-08-16 14:30] JiliDong-NOAA opened #565 "add relative humidity to specific humidity calculation for GFSv15/16 grib2"
The current relative humidity to specific humidity conversion in chgres_cube (rh2spfh) is not consistent with GFSv15/16 grib2 files (when spfh is converted to rh by UPP in operations). A more consistent rh to spfh calculation could help to keep consistency when processing GFSv15/16 grib2 files (thanks for the discussions with Guoqing Ge of GSL, Fanglin Yang and Wen Meng of EMC).

Furthermore, when

[2021-08-16 17:07] #564 closed

[2021-08-16 17:22] GeorgeGayno-NOAA commented on #564
Updated the gh-pages branch at 0cc95ff.

[2021-08-16 17:57] GeorgeGayno-NOAA commented on #564
Update master at ecc48b5.

[2021-08-16 18:01] RatkoVasic-NOAA commented on #105
I got to same line. Since computation of the dxc and dyc requires geolat_c's and geolon_c's halo points, I'll try to fill in halo points like in global case.

[2021-08-16 20:10] GeorgeGayno-NOAA commented on #499
This issue is getting stale. I can work on it today.

[2021-08-18 17:38] GeorgeGayno-NOAA commented on #549
@yangfanglin @jswhit2 @pjpegion Where can I get sample surface restart files for a fractional grid case?

[2021-08-18 17:40] GeorgeGayno-NOAA commented on #549
Note to self: sfcsub.F now takes two land mask arguments - slmskl and slmskw:

https://github.com/NCAR/ccpp-physics/blob/59fd4c8debdd075a361ef8ee9864f05354cfd8d6/physics/gcycle.F90#L215

And these are defined in gcycle.F90 as:

https://github.com/NCAR/ccpp-physics/blob/59fd4c8debdd075a361ef8ee9864f05354cfd8d6/physics/gcycle.F90#L125

[2021-08-18 17:56] edwardhartnett opened #570 "Support documentation for historical releases on gh-pages branch?"
Currently we just have the documentation for the most recent release on the gh-pages branch.

But it has come up that some people may want to point to specific versions of the documentation. So what we can do is, on our gh-pages branch, put a top-level HTML page that lists the versions and links to their documentation, then, subdirectories for each version, with their documentation.

Then, as part

[2021-08-18 18:07] yangfanglin commented on #549
George, please @bing.fu@noaa.gov  Bing Fu for the restart files.

[2021-08-19 14:45] MatthewPyle-NOAA commented on #559
@GeorgeGayno-NOAA I've been trying to get a modified version of the release/ops-hrefv3.1 chgres_cube code compiled on acorn, but struggling a bit.  Hoping this href version can piggy back off of your centralized efforts at porting to WCOSS2.   Thanks!

[2021-08-19 15:48] RatkoVasic-NOAA commented on #105
I created routine which extrapolates geolat_c and geolon_c halo points. These points are used for dxc and dyc calculation. This should fix the problem.

[2021-08-19 15:51] GeorgeGayno-NOAA commented on #105
For regional grids, we create several 'grid' files with and without halos. Instead of extrapolating, should one of the 'halo' 'grid' files be used? We only care about filtering on the halo0 file, correct?

[2021-08-19 21:06] GeorgeGayno-NOAA commented on #549
Updated the call to sfcsub.F for the new interface (see 6c98ecd). For now, just consider the non-fractional case. Ran a C768 test case on Hera: `/scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/global_cycle_fraction/input_data.` Only tile1 was run (S. America and Africa). The test failed in sfcsub.F in routine `newice`

[code]

Note there is a mismatch in the two masks - slifcs and slimsk. The form

[2021-08-19 21:09] GeorgeGayno-NOAA commented on #549
Some diagnostics from the failed test:

Before the call to SFCCYCLE, the land mask variables for the problem point are all 'land':

[code]

Then, this loop in sfcsub.F updates slianl from '1' to '0'

[code]

and this causes the crash in `newice`.

[2021-08-19 21:14] GeorgeGayno-NOAA commented on #549
Asked @SMoorthi-emc for help. He thinks there may be a bug - the loop logic should only test points with `slmskl` /= 1:

[code]

When I made this change, my test ran to completion without any errors.

[2021-08-20 15:13] RatkoVasic-NOAA commented on #105
I guess we should be OK since it is done for global and regional nest similar way:
[code]

[2021-08-20 15:26] GeorgeGayno-NOAA commented on #105
@RatkoVasic-NOAA Are you working from my branch? I don't see your fork.

[2021-08-20 15:27] RatkoVasic-NOAA commented on #105
I used hard copy:
Hera:/scratch1/NCEPDEV/nems/Ratko.Vasic/filter_topo/UFS_UTILS/sorc/grid_tools.fd/filter_topo.fd

[2021-08-20 15:31] GeorgeGayno-NOAA commented on #105
Since the coding changes are non-trivial, I would create a fork and branch: https://github.com/NOAA-EMC/UFS_UTILS/wiki/3.-Checking-out-code-and-making-changes

[2021-08-20 15:33] RatkoVasic-NOAA commented on #105
I'll do it.

[2021-08-20 18:33] #499 closed

[2021-08-23 20:26] GeorgeGayno-NOAA opened #573 "Create sample unit test to assist developers"
Unit tests are now required before any changes can be merged. When developers are told this, their first question is: "How do I create a unit test and run it under Github actions?" Then, I write a basic test for him. If we had a sample, working test baselined under the repo, it would serve as a guide for developers (and save the admins a lot of time).

[2021-08-23 20:55] kgerheiser commented on #573
Maybe a `README.md` in the `tests` directory with a brief explanation of what a unit test should do (exercise the code, check results), and a sample (or point to a simple test like `tst_quicksort`)?

[2021-08-24 13:18] GeorgeGayno-NOAA opened #574 "Automate update of consistency test baseline data"
Code updates often change results, which means the consistency test baseline data must be updated. Currently, updates are done manually on five machines. But as the number of weekly PRs grows, we need an automated way to do this.

[2021-08-24 13:21] GeorgeGayno-NOAA commented on #574
I think @junwang-noaa has done this for the ufs-weather-model.

[2021-08-24 15:36] edwardhartnett commented on #573
I suggest pointing such users at an existing test which most closely matches their proposed test. That will get easier as tests are added.

Adding a section to the README: "How to Add a Unit Test" would be a good idea.

[2021-09-01 17:24] #565 closed

[2021-09-02 20:58] GeorgeGayno-NOAA commented on #105
Tested Ratko's latest version of his branch (852405d) on Hera using my C424 test case: `/scratch1/NCEPDEV/da/George.Gayno/ufs_utils.git/filter_topo_bug`

Intel/Release, Intel/Debug, GNU/Release, GNU/Debug all gave bit identical answers. Yeah!

[2021-09-03 17:58] #561 closed

[2021-09-03 19:10] GeorgeGayno-NOAA commented on #559
How to access the hpc-stack on Cactus from @KateFriedman-NOAA:

[code]

[2021-09-03 19:43] KateFriedman-NOAA commented on #559
@GeorgeGayno-NOAA So my understanding thus far of the stack on WCOSS2 is that those modules access the production installation of the stack but the NCEPLIBS group will also be installing hpc-stack as a dev version (what we know as hpc-stack). FYI, the production installation has some modules that are named slightly differently compared to what we use in hpc-stack now, I'm mainly referring to the h

[2021-09-08 19:19] kgerheiser opened #577 "Use FindWgrib2.cmake"
The CMake build of wgrib2 was removed from hpc-stack. Should use FindWgrib2.cmake to find wgrib2 now.

And the target changes to `wgrib2::wgrib2` instead of `wgrib2::wgrib2_lib` and `wgrib2::wgrib2_api` here:

https://github.com/NOAA-EMC/UFS_UTILS/blob/develop/sorc/chgres_cube.fd/CMakeLists.txt

[2021-09-13 19:32] kgerheiser commented on #574
Wouldn't be too difficult to port this from the weather model:

https://github.com/ufs-community/ufs-weather-model/tree/develop/tests/auto

You can add a "run test" label to a PR and then the script will read it from Github and submit the job(s).

[2021-09-17 20:42] #105 closed

[2021-09-23 17:59] edwardhartnett opened #579 "Need to change dependency from w3nco to w3emc"
Need to change dependency from w3nco to w3emc.

The w3nco library has been deprecated, and all functionality moved to the w3emc library.

[2021-09-27 13:57] BrianCurtis-NOAA commented on #574
@GeorgeGayno-NOAA Are you using the same systems that we are with UFS? I haven't ported it to WCOSS machines (yet, I think WCOSS2 will have pygithub package) because Mars/Luna/Surge/Venus didn't have pygithub.

The labels we've setup in GitHub are \<machine\>-\<compiler\>-\<job\>, if the \<machine\> matches the $HOSTNAME (with a wildcard search), it will start the \<job\> (from jobs/\<job\>.py) us

[2021-09-27 16:02] GeorgeGayno-NOAA commented on #574
We run on  WCOSS and Hera, Jet and Orion.

We already run our tests off the cron. But I would be interested in how you do that. Also, how do you update the baseline data when updates change results?

[2021-09-27 16:16] BrianCurtis-NOAA commented on #574
**how do you update the baseline data when updates change results?**
With the UFSWM if we know updates change the results we create baselines (BL job) which automatically calls the regression tests (RT job) after successful completion. New baselines are created --> script checks log files for errors --> baselines are moved to where we keep baselines --> RT's are run against new baselines.

[2021-09-27 16:20] BrianCurtis-NOAA commented on #574
Cronjob for UFSWM (Orion example):
[code]
The start_rt_auto.sh script loads PYTHONPATH into $PATH and calls rt_auto.py
rt_auto.py (if machine matches label) gets all information for all jobs from GitHub and the machine, stores it into an object and passes it into the jobs.

[2021-09-27 20:38] GeorgeGayno-NOAA commented on #559
@KateFriedman-NOAA I am able to compile on WCOSS2. And the gdas_init scripts are working. You are welcome to try it (d0c7784)

[2021-09-27 20:39] GeorgeGayno-NOAA commented on #559
@MatthewPyle-NOAA I will port your tag next.

[2021-09-28 17:46] KateFriedman-NOAA commented on #559
Awesome, I'll give it a try and report back, thanks @GeorgeGayno-NOAA! (Refs: https://github.com/NOAA-EMC/global-workflow/issues/399)

[2021-09-28 18:03] KateFriedman-NOAA commented on #559
@GeorgeGayno-NOAA Should I now be using the `build_all.sh` script to build UFS_UTILS from global-workflow? This script:

https://github.com/GeorgeGayno-NOAA/UFS_UTILS/blob/feature/wcoss2/build_all.sh

I was previously using the `sorc/build_ufs_utils.sh` script. Thanks!

[2021-09-28 18:06] GeorgeGayno-NOAA commented on #559
Yes. Use `build_all.sh`.

[2021-09-28 18:39] KateFriedman-NOAA commented on #559
@GeorgeGayno-NOAA Thanks for confirming! I have built a copy of your feature/wcoss2 (d0c7784) on Cactus successfully. Please see the following build log and let me know if you see any issues, thanks!

/lfs/h2/emc/eib/noscrub/Kate.Friedman/git/feature-ops-wcoss2/sorc/logs/build_ufs_utils.log

[2021-09-28 18:49] GeorgeGayno-NOAA commented on #559
Looks OK.

[2021-09-28 19:47] GeorgeGayno-NOAA commented on #559
Built the `ops-hrefv3.1` tag at a6f2fd9 on WCOSS-Dell and ran the regression tests.  Then built the `hrefv3.1-wcoss2` branch at 77d4b13 on WCOSS2 (Cactus) and ran the regression tests. The output files were compared using the `nccmp` utility. All differences were small (i.e., 'floating point' differences).

[2021-10-04 14:19] GeorgeGayno-NOAA opened #580 "Port ops-gfsv16.0.0 tag to WCOSS2"
This tag is used by GFS v16 operations. Port it to WCOSS2.

The related global_workflow issue: https://github.com/NOAA-EMC/global-workflow/issues/399

The port of 'develop' will be documented here: #559.

[2021-10-04 19:53] GeorgeGayno-NOAA commented on #573
Reopen so @LarissaReames-NOAA can add her sample unit test.

[2021-10-05 15:37] GeorgeGayno-NOAA commented on #580
@KateFriedman-NOAA Does the GFS v16 workflow use the `global_chgres` program? If not, I will turn off its compilation.

To coldstart global cycles, the `gdas_init` utility from the head of 'develop' should be used.

[2021-10-05 15:39] edwardhartnett commented on #580
Can we make this a release as well as a tag?

[2021-10-05 15:58] KateFriedman-NOAA commented on #580
No, I just double checked ops logs and while there are references to global_chgres in some downstream wave jobs I don't actually see global_chgres invoked anywhere. I believe you are safe to turn off its compilation in the move to WCOSS2 for GFSv16.

Roger that!

[2021-10-05 20:54] #577 closed, assigned to kgerheiser

[2021-10-08 12:37] GeorgeGayno-NOAA opened #582 "Port ops-hrefv3.1 to WCOSS2"
Port to WCOSS2. Then create a formal release.

Work on this was started under #559. But too many tasks under one issue was getting confusing.

[2021-10-08 12:53] GeorgeGayno-NOAA commented on #582
Working under this branch - 40b8084

[2021-10-08 12:54] GeorgeGayno-NOAA commented on #582
@MatthewPyle-NOAA What machines (other than WCOSS2) must this new release support?

[2021-10-08 12:59] MatthewPyle-NOAA commented on #582
This release is purely for WCOSS2.  What is currently in the hrefv3.1-wcoss2 branch in your fork works for me.

[2021-10-08 13:14] GeorgeGayno-NOAA commented on #554
UFS_UTILS uses ip v3.3.3 on all officially supported machines now. So can this issue be closed? Should I fix the snow2mdl code?

[2021-10-08 13:52] DusanJovic-NOAA commented on #554
I can build UFS_UTILS using ip v3.3.3 with GNU. But related to building with GNU can you make this change:
[code]

[2021-10-08 14:25] XianwuXue-NOAA commented on #580
@GeorgeGayno-NOAA Have you ported chgres_cube to wcoss2? Since chgres_cube needs wgrib2_api, and only wgrib2/2.0.8_mpi has this lib. Kyle in NCO said " libwgrib2_api is in libwgrib.a", however, I tried to remove the libwgrib2_api, but failed.

[2021-10-08 16:46] GeorgeGayno-NOAA commented on #580
If you need chgres_cube on WCOSS2, you can use my `feature/wcoss2` branch (b0e1a14). See #559 for details. Not all the consistency/regression tests are running yet because we can't host all the required fixed data on WCOSS2. But the tests that are running are passing.

[2021-10-08 16:48] GeorgeGayno-NOAA commented on #580
@XianwuXue-NOAA You opened this issue - #552 - to port your GEFS v12 tag. Do you need the chgres_cube from that tag working on WCOSS2? I can help with the port if you are running into problems.

[2021-10-08 17:21] GeorgeGayno-NOAA commented on #554
Ok. I can work on this today.

[2021-10-08 17:25] XianwuXue-NOAA commented on #580
Thanks @GeorgeGayno-NOAA I check the wrong branch, and I will check your feature/wcoss2 branch.

[2021-10-11 14:37] DusanJovic-NOAA opened #584 "chgres_cube crashes with segmentation fault"
chgres_cube segfaults in input_data.F90 (line 5495). Here's the backtrace:
[code]
`slmsk_save` array is allocated only on task 0. It must be allocated on all tasks:

[code]

[2021-10-12 11:57] GeorgeGayno-NOAA commented on #584
@DusanJovic-NOAA  Thanks.  Will take a look.

[2021-10-12 15:23] GeorgeGayno-NOAA commented on #584
@DusanJovic-NOAA Which compiler were you using?

[2021-10-12 15:25] DusanJovic-NOAA commented on #584
GNU.

[2021-10-12 17:50] GeorgeGayno-NOAA commented on #584
@DusanJovic-NOAA Try my branch at 7c9cc6b

[2021-10-12 18:51] DusanJovic-NOAA commented on #584
Works fine. Thanks.

[2021-10-12 19:34] GeorgeGayno-NOAA commented on #579
Which version number of w3emc should be used?

[2021-10-12 20:06] edwardhartnett commented on #579
I believe the current release is the one we need...

[2021-10-20 15:43] GeorgeGayno-NOAA commented on #580
@KateFriedman-NOAA I removed the hard-wired version numbers from the build modules at 3adbfa9. This should satisfy NCO.

[2021-10-20 16:50] dmwright526 opened #586 "Add ability of fvcom_tools to select input time and read restart files"
Add enhancement to fvcom_tools to allow for the user to select specific time slice through the command line. Also add the ability to read in sfc_data.nc files from restart runs.

[2021-10-20 17:25] KateFriedman-NOAA commented on #580
Excellent, thanks @GeorgeGayno-NOAA! I updated my clone on Cactus and tested build.ver (source via machine-setup.sh) with build_ufs_utils.sh, it worked:

[code]

Note, I changed the `cray-mpich` module to `cray-mpich/8.1.9` (you were using `cray-mpich/8.1.7`). Your build_all_ufs_utils.sh script correctly ingested the override for that module from above. Please see these build logs on Cactus:

[cod

[2021-10-20 17:28] edwardhartnett opened #588 "spack build failing with fortran array mismatch errors"
The spack build of ufs-utils is failing. Don't we have some flags in the build to handle this? Or were they added after the 1.6.0 release?

[code]

[2021-10-20 17:43] GeorgeGayno-NOAA commented on #580
I can change the cray-mpich default to 8.1.9.

[2021-10-20 17:52] KateFriedman-NOAA commented on #580
Yes, let's change cray-mpich to 8.1.9. I don't have anyone telling me which one is preferred but I am seeing 8.1.9 being used so let's go to that version until told otherwise. Thanks!

[2021-10-20 17:57] GeorgeGayno-NOAA commented on #580
Done at 48b9234.

[2021-10-21 11:10] edwardhartnett opened #589 "handle bacio library name change with bacio-2.5.0 release"
handle bacio library name change with bacio-2.5.0 release

[2021-10-21 11:24] edwardhartnett opened #590 "Can't build due to wgrib2 and jasper problem"
When I build the develop branch, I now get an error:

[code]

[2021-10-21 11:26] edwardhartnett opened #591 "Can we remove wgrib2 from the dependencies?"
Somehow wgrib2 crept into our dependencies.

We are trying to eliminate use of wgrib2 in NCEPLIBS. The wgrib2 library is not well-maintained, distributed, or tested, and there is no interest on the wgrib2 team in meeting our needs in these areas. So we need to not build more tools on top of wgrib2.

[2021-10-21 12:42] #584 closed, assigned to GeorgeGayno-NOAA

[2021-10-21 12:47] kgerheiser commented on #591
UFS_UTILS definitely depends on the wgrib2 library. That hasn't changed recently. The alternative is to port UFS_UTILS to use g2 as its grib2 library.

[2021-10-21 12:51] kgerheiser commented on #590
Hmm, that's an error from `Findwgrib2.cmake` which I added recently. It's checking the version string from the wgrib2 executable, but failing due to some text that's not in the correct format.

[2021-10-21 12:52] GeorgeGayno-NOAA commented on #591
chgres_cube uses wgrib2. It could be modified to use the 'g2' library. I don't think that would be difficult. But it would take some work and testing. And it could be done is smaller chunks.

[2021-10-21 12:57] kgerheiser commented on #590
Ah, it can't run the wgrib2 exectuable because Jasper is not in your `LD_LIBRARY_PATH`, hence:

`error while loading shared libraries: libjasper.so.4: cannot open shared object file: No such file or directory`

[2021-10-21 13:08] edwardhartnett commented on #591
@GeorgeGayno-NOAA for future work, can you communicate to the other chgres_cube programmers that wgrib2 should be avoided?

[2021-10-21 13:08] edwardhartnett commented on #590
OK, but why does CMake run the wgrib2 executable?

[2021-10-21 13:09] kgerheiser commented on #590
To check the version

[2021-10-21 13:26] edwardhartnett commented on #590
OK, sure enough, that fixed it...

[2021-10-21 13:26] #590 closed, assigned to kgerheiser, GeorgeGayno-NOAA

[2021-10-21 13:28] GeorgeGayno-NOAA commented on #591
Absolutely.

Maybe I can add a warning to our wiki page?  https://github.com/NOAA-EMC/UFS_UTILS/wiki
Or the PR template? https://github.com/NOAA-EMC/UFS_UTILS/blob/develop/.github/PULL_REQUEST_TEMPLATE

[2021-10-21 13:30] edwardhartnett commented on #591
If we can remove the dependency on wgrib2, we should.

[2021-10-21 18:26] edwardhartnett opened #593 "Documentation on gh-pages not working?"
Documentation on gh-pages not working?

[2021-10-21 19:44] GeorgeGayno-NOAA commented on #593
I went thru the repository and changed all references from NOAA-EMC to ufs-community.

[2021-10-21 20:02] edwardhartnett commented on #593
You need to change the README, which has a link to the docs on gh-pages...

[2021-10-21 20:04] GeorgeGayno-NOAA commented on #593
Got it.  See f0ca668.

[2021-10-21 20:45] GeorgeGayno-NOAA commented on #593
Here is the updated doxygen: https://www.emc.ncep.noaa.gov/jcsda/ggayno/doxygen/html/index.html

[2021-10-21 20:49] GeorgeGayno-NOAA commented on #593
Here is the update readthedocs: https://georgegayno-noaaufs-utils.readthedocs.io/en/bugfix-move/ufs_utils.html

[2021-10-22 11:23] GeorgeGayno-NOAA commented on #593
Updated gh-pages at 0e7b877.

[2021-10-22 11:33] GeorgeGayno-NOAA commented on #573
Merged to 'develop' at 7c31411.

[2021-10-22 11:33] #573 closed, assigned to GeorgeGayno-NOAA, LarissaReames

[2021-10-22 15:49] GeorgeGayno-NOAA commented on #591
I added a warning page to the wiki:
https://github.com/ufs-community/UFS_UTILS/wiki/A-Warning-about-the-WGRIB2-library

[2021-10-27 19:42] XianwuXue-NOAA commented on #591
@GeorgeGayno-NOAA Based on the warning page "Pull requests that use WGRIB2 will be rejected.", do it also apply to the GEFS WCOSS2 Transition? Because GEFS uses chgres_cube.

[2021-10-27 19:51] XianwuXue-NOAA commented on #552
@GeorgeGayno-NOAA 1) Based on your the issue "Can we remove wgrib2 from the dependencies? #591", so I should remove wgrib2 and use g2, however, this will make some code changes from your repo. Should I do this? 2) I found the latest ufs_utils does not use submodule "CMakeModules" and just have a copy in the branch, can I also remove the CMakeModules submodule and add the copy of CMakeModules as "c

[2021-10-27 20:08] GeorgeGayno-NOAA commented on #591
Are you adding new code to chgres_cube that uses wgrib2?

[2021-10-27 20:12] XianwuXue-NOAA commented on #591
No. I didn't change code except changing "grb2_UNDEFINED" to "9.999e20" to use wgrib2/2.0.7. My changes are https://github.com/XianwuXue-NOAA/UFS_UTILS/compare/1b44601...a825b29

[2021-10-27 20:13] GeorgeGayno-NOAA commented on #552
To answer (1), I am currently working to convert chgres_cube to use g2. It is a lot of work. So I would not worry about it.

[2021-10-27 20:18] GeorgeGayno-NOAA commented on #552
To answer (2), you are welcome to change the build if it makes the port easier. Will this WOCSS2 'tag' be used on other machines? If so, you will need to test the updated build on all required machines.

[2021-10-27 20:30] XianwuXue-NOAA commented on #552
@GeorgeGayno-NOAA Thanks. OK. That means I don't need to change g2 for this time. I think the WCOSS2 tag only for WCOSS2 machine. I didn't change the confirmation for other machines. However, some changes for FindXX maybe affect other machines. Since Kyle closed my issue https://github.com/NOAA-EMC/CMakeModules/issues/53  and think my branch used the out-of-date version of CMakeModules, so I'd lik

[2021-11-02 17:51] XianwuXue-NOAA commented on #552
@edwardhartnett @GeorgeGayno-NOAA Could you create a branch release/gefs_v12 based on tag: ops-gefsv12.1? I'd like to submit PR to this branch. Thanks a lot in advance.

[2021-11-02 20:43] GeorgeGayno-NOAA commented on #552
Thanks. Let me discuss with @edwardhartnett about how to best do this.

[2021-11-02 20:50] XianwuXue-NOAA commented on #552
@GeorgeGayno-NOAA Thanks a lot for your consideration. I checked the tag:gfsda.v16.0.0 and found it changed some times. And the GEFSv12.1.0 is using Commits on Nov 9, 2020. I am checking the other versions (v12.1.1, v12.1.2 and the latest v12.1.3). Then I will let you know the exact commit ID which is using on production.

[2021-11-03 14:40] GeorgeGayno-NOAA commented on #591
Count number of soil layers using g2 instead of wgrib2 - d327b7a. All consistency tests passed on Dell.

[2021-11-04 20:40] GeorgeGayno-NOAA commented on #593
I missed a few references to the old NOAA-EMC organization. Reopening

[2021-11-05 01:35] dmwright526 opened #596 "FVCOM_tools fails when using GNU"
FVCOM_tools and the corresponding unit test creates a segfault when running the code using the GNU compilers. Code was originally tested and developed using Intel compilers, so the exact reason for the error is unclear. The segfault points to the fcst_nwp object and potentially one of the pointers within the object.

[2021-11-05 13:49] #586 closed, assigned to dmwright526

[2021-11-05 17:23] GeorgeGayno-NOAA commented on #582
@MatthewPyle-NOAA Sorry I forgot about this. I need to create an official release under the authoritative fork. What did you deliver to NCO?

[2021-11-05 17:28] MatthewPyle-NOAA commented on #582
Looks like I included the branch from your fork:

branch = hrefv3.1-wcoss2
repo_url = https://github.com/GeorgeGayno-NOAA/UFS_UTILS.git

[2021-11-05 17:41] GeorgeGayno-NOAA commented on #552
@edwardhartnett Agreed. The original tag was created from an old version of 'develop' and used our old naming convention, which included the name of the process it supported. In this case, the GEFS.  Once it is ported to WCOSS2, we can create a new release. How should we name this releases. Something like ops-gefsv12.2?

[2021-11-05 17:45] GeorgeGayno-NOAA commented on #582
We will need to fix that. I hope it is not too late.

[2021-11-05 17:57] GeorgeGayno-NOAA commented on #552
@XianwuXue-NOAA I see two branches in your fork - feature/port2acorn_ops-gesfv12.1 and feature/port2acorn_ops-gesfv12.1_cmake2.  What do you want tagged?

[2021-11-05 18:38] XianwuXue-NOAA commented on #552
@GeorgeGayno-NOAA could you create a new branch as "release/ops-gefsv12.2" based on tag "ops-gefsv12.1" (commit id: "1b44601" on "Tue Oct 6 20:21:33 2020 +0000"). Then I will submit a PR to merge my branch "feature/port2acorn_ops-gesfv12.1" into the new created branch "release/ops-gefsv12.2". After the PR approved, then create a new tag "ops-gefsv12.2" based on the merged branch "release/ops-gefsv

[2021-11-05 19:23] GeorgeGayno-NOAA commented on #552
I created the release branch.

[2021-11-05 19:40] XianwuXue-NOAA commented on #552
Awesome. Thanks. @GeorgeGayno-NOAA

[2021-11-05 19:51] MatthewPyle-NOAA commented on #582
Let me know when you have it where you want NCO to point at it.  Probably not that critical as they've already built and run the system, so may never again be pulling it from github, but I'm sure they be okay changing where the externals.cfg points.

[2021-11-05 20:38] GeorgeGayno-NOAA commented on #582
@MatthewPyle-NOAA Here is your tag: https://github.com/ufs-community/UFS_UTILS/releases/tag/ops-hrefv3.2

[2021-11-05 20:49] #593 closed, assigned to GeorgeGayno-NOAA

[2021-11-05 21:08] GeorgeGayno-NOAA opened #600 "Update UFS_UTILS for new role accounts"
Role accounts for the repo managers have been established on Hera, Jet and Orion.
- Move all data associated with the consistency tests from @GeorgeGayno-NOAA personal directory to a directory owned by the role account.
- Update the consistency test scripts to point to the new location of the data.
- Cron the daily running of these tests under the role account.

[2021-11-08 12:47] edwardhartnett commented on #582
A formal, versioned release needs to be created.

Is this release a snapshot of the current develop branch?

Or is it a branch of a previous release, which is not the same as the develop branch?

[2021-11-08 19:37] GeorgeGayno-NOAA commented on #552
@XianwuXue-NOAA Your tag is here:

https://github.com/ufs-community/UFS_UTILS/releases/tag/ops-gefsv12.2

[2021-11-08 19:37] #552 closed

[2021-11-18 22:05] bena-nasa opened #601 "Does a description/documentaion of the "super" grid in tile files exist?"
I'm trying to understand the grid tiles files produced when create_hgrid is run as part of the over grid and orography generation.
The grid tiles look like this for example:
[code]
All the corners/centers are packed into a 2-D array
I assume this is because this file is produced by a c code, and since multi dimensional arrays are a pain in c it was easier to pass out 1-D arrays from a subroutine w

[2021-11-19 13:20] GeorgeGayno-NOAA commented on #601
Here is a graphic of the super grid: https://noaa-emcufs-utils.readthedocs.io/en/ufs-v2.0.0/ufs_utils.html#make-hgrid

GFDL maintains the make_grid code: https://github.com/NOAA-GFDL/FRE-NCtools  They can answer any software questions.

[2021-11-19 13:57] bena-nasa commented on #601
Ah, that's what I was looking for. Thank you.

[2021-11-19 13:57] #601 closed, assigned to nobody

[2021-11-19 19:51] GeorgeGayno-NOAA commented on #600
@LarissaReames-NOAA and @JeffBeck-NOAA - Let's each pick a machine and submit a PR when we get it working.

[2021-11-19 19:51] dmwright526 opened #602 "FVCOM tools not updating ice roughness length"
FVCOM tools does not update surface roughness length over new ice points. This creates an error when using the tool with the MYNN surface layer scheme.

[2021-12-03 22:20] GeorgeGayno-NOAA commented on #600
Created a directory on Hera to host ufs_utils: /scratch1/NCEPDEV/nems/role.ufsutils

Was able to checkout the ufs_utils repo and compile it under the role account.

[2021-12-04 12:12] edwardhartnett commented on #600
BTW I still need to be added as an admin to the UFS_UTILS repo. Make sure you add edward.hartnett (not ed.hartnett, which is my private GitHub account.)

[2021-12-06 20:34] GeorgeGayno-NOAA commented on #600
I will install on Orion here: /work/noaa/nems/role-nems/ufs_utils

[2021-12-07 02:39] BinLiu-NOAA commented on #520
@GeorgeGayno-NOAA, when choosing to write out the warm start files with your feature/warm_start branch, is there a restriction that the input data have to be restart files? Or the input can also be GFS/GDAS netcdf/grib2 files? Thanks!

[2021-12-07 19:12] GeorgeGayno-NOAA commented on #143
@DeniseWorthen What is this issue? Can we close it? Or rename it?

[2021-12-07 19:21] DeniseWorthen commented on #143
@GeorgeGayno-NOAA This was the original issue I created that was meant to bring the required functionality to ufs-utils. As you can see, it is more than a year old. I can edit the title since at this point, what needs to be added is a single fortran code and associated script.

[2021-12-07 19:24] GeorgeGayno-NOAA commented on #143
@DeniseWorthen I would link to Jun's notes (https://docs.google.com/document/d/13ui4P_vE2ejVn1fsMnRdoHgjaUf8d5u_-_S4nOvcWOA/edit?usp=sharing) in the description section at the top:

[2021-12-09 21:18] GeorgeGayno-NOAA opened #609 "chgres_cube consistency test failures on Orion"
Occasionally, some of the chgres_cube tests will fail with a 'bus error'. The failures are random. The system admins recommend explicitly requesting how much memory each job needs in the driver script. For example `--mem=50G`. Preliminary tests show this solves the problem. (The default memory on Orion allocated by Slurm is 54GB).

[2021-12-09 21:58] GeorgeGayno-NOAA opened #610 "Host documentation for multiple releases"
Add support for multiple versions of the documentation on the `gh-pages` branch.  This has been done for the g2c library. For details, see: https://github.com/NOAA-EMC/NCEPLIBS-g2c/issues/126

[2021-12-10 18:39] GeorgeGayno-NOAA commented on #609
The system admins said to use this command to determine how much memory a job is using.

`sacct -j 3908276 --format=jobid,jobname,state,alloctres%35,maxrss`

[2021-12-10 19:08] GeorgeGayno-NOAA commented on #609
Using the `saact` command, I adjusted the requested memory for each test (b5d6ab6). Then I tested the updated script on Orion.

All tests were successfully run six times in a row. Previously, one test (of the 16) would always fail.

[2021-12-10 20:10] #609 closed, assigned to GeorgeGayno-NOAA

[2021-12-10 20:16] GeorgeGayno-NOAA commented on #600
Work on this issue was completed via these PRs: #605, #606, #607, #608.

Closing issue.

[2021-12-10 20:16] #600 closed, assigned to GeorgeGayno-NOAA, LarissaReames, JeffBeck-NOAA

[2021-12-13 22:05] GeorgeGayno-NOAA commented on #596
@GeorgeVandenberghe-NOAA I know you are very busy, but could we get a bit of your time? @dmwright526 is getting an odd seg fault when running with GNU and we are looking for some guidance. I will let him explain the problem.

[2021-12-13 22:30] kgerheiser commented on #596
I would recommend compiling and running with debug flags `-g -fbacktrace -fcheck=bounds` to see if it catches anything. And probably worth it to try with Intel too `-g -traceback -check all`.

[2021-12-24 01:42] MinsukJi-NOAA commented on #143
@GeorgeGayno-NOAA In order to successfully compile, ESMF 8.2.0 had to be used instead of ESMF 8.1.0: https://github.com/MinsukJi-NOAA/UFS_UTILS/blob/feature/cpld_gridgen2/modulefiles/build.hera.intel#L32. Do you think this will be an issue for other utilities?

[2021-12-27 16:09] GeorgeGayno-NOAA commented on #580
@lgannoaa As we discussed, I can remove all references to 'postmsg' from the branch. What about other utilities, such as 'startmsg' and 'prep_step'?

[2021-12-27 16:40] lgannoaa commented on #580
I will test sfc jobs. @KateFriedman-NOAA , we should coordinate for an effort to remove all jlogfile in the GFS package. There are a few jobs ecflow run that does not run by the rocoto such as gdas and gfs sfc prep.

[2021-12-27 16:53] KateFriedman-NOAA commented on #580
@lgannoaa I'm going to send another reminder to the component managers about things like this (e.g. retire jlogfile). I'm planning to take care of those items in global-workflow (already started in separate clones).

[2021-12-27 19:16] GeorgeGayno-NOAA commented on #580
@KateFriedman-NOAA and @lgannoaa - I removed all references to jlogfile at 91c930b.

[2021-12-27 19:20] lgannoaa commented on #580
@GeorgeGayno-NOAA ,
Thank you

[2021-12-27 19:49] KateFriedman-NOAA commented on #580
Thanks @GeorgeGayno-NOAA ! I did a git pull in my clone's ufs_utils.fd folder and got the updates for your `feature/gfsv16.0.0-wcoss2` branch.

[2022-01-03 11:16] DeniseWorthen commented on #143
The newer esmf is required because of a simple fix Gerhard made to access ``ESMF_RegridWeightGen`` via ``use ESMF``. Without the fix, a ``use  ESMF_RegridWeightGenMod`` is required in the main routine.

[2022-01-03 13:24] GeorgeGayno-NOAA commented on #143
Don't  know. Our unit and consistency tests will tell us of any problems.

[2022-01-04 20:32] GeorgeGayno-NOAA commented on #580
@KateFriedman-NOAA I created a release for you - https://github.com/ufs-community/UFS_UTILS/tree/ops-gfsv16.2.0

[2022-01-04 20:51] KateFriedman-NOAA commented on #580
Got it, thanks @GeorgeGayno-NOAA !

[2022-01-05 15:16] MinsukJi-NOAA opened #612 "regression test failure on hera"
Here are the steps I took:
[code]

In the log files, error messages like this are seen:
[code]

[2022-01-05 15:28] MinsukJi-NOAA commented on #612
I was able to run `./link_fixdirs.sh` and copy over the files.

[2022-01-05 15:28] #612 closed, assigned to nobody

[2022-01-05 15:30] GeorgeGayno-NOAA commented on #612
Most people forget that step. I should automate it somehow.

[2022-01-05 16:55] MinsukJi-NOAA commented on #612
@GeorgeGayno-NOAA I am just checking to see if all RT's pass with ESMF 8.1.0 (as is, without any change). `chgres_cube` `global_cycle` `grid_gen` `snow2mdl` all passed, but `ice_blend` failed. Can you please take a look at the file `/scratch2/NCEPDEV/stmp1/Minsuk.Ji/UFS_UTILS/reg_tests/ice_blend/out` (on Hera)? There seems to be a segfault with `/scratch2/NCEPDEV/nwprod/NCEPLIBS/utils/grib_util.v1

[2022-01-05 17:08] GeorgeGayno-NOAA commented on #612
It is working for me. How did you invoke the script?

ESMF is not used by that program. So, you don't really need to check it. ESMF is only used by chgres_cube and grid_gen.

[2022-01-05 17:17] MinsukJi-NOAA commented on #612
Good to know that I only need to test chgres_cube and grid_gen!
For ice_blend, I invoked the same way I did for other utilities: `./driver.hera.sh`

[2022-01-05 18:10] GeorgeGayno-NOAA commented on #612
That script must be invoked as: sbatch driver.hera.sh

[2022-01-05 18:12] MinsukJi-NOAA commented on #143
@GeorgeGayno-NOAA
The following are the results of consistency tests on Hera with ESMF 8.2.0:
chgres_cube
[code]

grid_gen
[code]

1. How do we go about creating new baselines? Is creating new baselines sufficient to switch to ESMF 8.2.0?
2. How can the unit tests be run?

[2022-01-05 18:19] GeorgeGayno-NOAA commented on #143
I can create the new baselines.

[2022-01-07 19:05] GeorgeGayno-NOAA opened #613 "Convert build modules to be lua-compliant"
This is required for WCOSS2. Update the build modules on the other supported machines as well. (Except for WCOSS-Cray, which does not support lua).

[2022-01-10 20:56] JeffBeck-NOAA commented on #602
@dmwright526, we OK to close this issue?

[2022-01-10 20:58] #602 closed, assigned to nobody

[2022-01-10 20:59] GeorgeGayno-NOAA opened #615 "Update unit test workflow files"
chgres_cube is being converted to use the G2 library instead of WGRIB2. G2 library failures
happen when running with GNU. These are fixed when using a newer version of G2.
The NCEPLIBS team has been asked to create an updated tag of the libraries
(see https://github.com/NOAA-EMC/NCEPLIBS/issues/200) for use by the unit tests.
Once the new tag is created, the workflow files will need to be updated.

[2022-01-11 01:29] mkavulich opened #616 "Build failures on Cheyenne, and executables not created correctly on Cheyenne (and potentially other platforms) when it does build"
- See also https://github.com/ufs-community/ufs-srweather-app/issues/201

# Description

Building the develop branch of the app results in a "successful" build of UFS_UTILS and other components. However, the executables produced will not run, due to having incorrectly linked libraries:

[code]

Using the `ldd` command reveals that the executables have broken links to missing library files:

[code]

[2022-01-13 00:39] WalterKolczynski-NOAA opened #618 "Build fails on Hera (ESMF version no longer available)"
The build system is now failing on Hera because the ESMF module being used (8_1_0_beta_snapshot_27) is no longer available from the standard hpc-stack installation.

See also https://github.com/NOAA-EMC/global-workflow/issues/561

[2022-01-13 13:10] GeorgeGayno-NOAA commented on #618
@WalterKolczynski-NOAA Thanks. There is a PR to fix this #614. We will merge today.

[2022-01-13 13:12] GeorgeGayno-NOAA commented on #618
@WalterKolczynski-NOAA As a temporary work-around, you can modify build.hera.intel to point to v8.1.1.

https://github.com/ufs-community/UFS_UTILS/blob/develop/modulefiles/build.hera.intel

[2022-01-13 20:53] #613 closed, assigned to GeorgeGayno-NOAA

[2022-01-13 21:26] GeorgeGayno-NOAA commented on #618
Fixed under #613 and #614. Closing this issue.

[2022-01-13 21:26] #618 closed, assigned to GeorgeGayno-NOAA

[2022-01-14 17:01] kgerheiser opened #619 "Have build system download data files if needed (was: How to obtain data files for unit tests?)"
Trying to run the unit tests and many failed because of missing files.

Then, I found [files.txt](https://github.com/ufs-community/UFS_UTILS/blob/develop/tests/chgres_cube/data/files.txt) and found I had to wget them from https://github.com/ufs-community/UFS_UTILS/blob/04ad17e27163b93a53ba3bfdbf38fd0ea82d9b1b/.github/workflows/intel.yml#L173

`files.txt` should be documented here https://github.co

[2022-01-14 18:44] #615 closed, assigned to GeorgeGayno-NOAA